[2021-08-20 18:07] bluehawk27 opened #9 "compile release for osx"
after running:
`curl -s https://raw.githubusercontent.com/armosec/kubescape/master/install.sh | /bin/bash`
ran into the following error:
`: exec format error: kubescape`

[2021-08-21 17:07] AbindraThapa opened #10 "https://github.com/armosec/kubescape/runs/3334462149?check_suite_focus=true"

[2021-08-21 18:20] Sweetcherries opened #11 "Scape"

[2021-08-21 18:22] smruti-21 opened #12 "Execution error on MacOS"
The following command is throwing error -

`kubescape scan framework nsa --exclude-namespaces kube-system,kube-public`

ERROR:
`-bash: /usr/local/bin/kubescape: cannot execute binary file: Exec format error`

[2021-08-22 06:57] MGudda36 opened #13 "G"

[2021-08-22 13:43] dwertent commented on #9
Do you still encounter the issue?

[2021-08-22 13:43] dwertent commented on #12
Do you still encounter the issue?

[2021-08-22 13:44] dwertent commented on #10
Thanks

[2021-08-22 13:44] #10 closed

[2021-08-22 13:44] #13 closed

[2021-08-22 13:44] dwertent commented on #11
Thanks :)

[2021-08-22 13:44] #11 closed

[2021-08-22 14:08] BenHirschbergCa commented on #12
Ple

[2021-08-22 14:09] BenHirschbergCa commented on #9
@bluehawk27 , please re-run with the download script. It should fetch the mac version now

[2021-08-22 14:16] smruti-21 commented on #12
It's working as expected with latest version.
Thank you! 🙂

[2021-08-22 14:17] BenHirschbergCa commented on #12
Great to hear it :)

[2021-08-22 14:17] #12 closed

[2021-08-22 14:18] #9 closed

[2021-08-22 21:52] funkypenguin opened #15 "Allow custom path to kubeconfig and honor KUBECONFIG env var"
Hey guys!

Neat tool, thank you! :)

I've started dabbling with it, and the first issue that I encountered is that it doesn't seem to be possible to use a non-default kubeconfig path. I.e, in my setup, I use multiple kubeconfig files via the `KUBECONFIG` env var:

[code]

However, kubescape doesn't seem to use the value of `KUBECONFIG`, and I couldn't find a commandline argument to explicitly spec

[2021-08-22 21:58] funkypenguin opened #16 "How are "Applications credentials in configuration files" identified?"
kubescape flagged the following for me:

[code]

Now the Istio certs I understand and don't care about, but I'm unsure what the credential referenced by the cluster-vault statefulset is. Here's my statefulset spec:

[code]

Where are the alleged application credentials hiding? :)

Thanks!
D

[2021-08-23 08:24] VladyslavKurmaz opened #17 "Use semver to define release name"
It will be much more easy to add automatic tool setup when version is aligned with semver
betav1.0.41 -> v1.0.41-beta | 1.0.41-beta

[2021-08-23 08:28] VladyslavKurmaz opened #18 "Update documentation with explicit Go version which should be used"

[2021-08-23 08:51] spron-in opened #19 "Non-root containers check is broken"
Seems the check "non-root containers" is broken as it flags containers running as non-root as well.

Looks like the wording is also wrong:
[code]
"Hence it is not recommended to deploy containers without root privileges" ? Looks reversed.

[2021-08-23 09:52] Daniel-GrunbergerCA commented on #16
Thank you very much for your feedback. Indeed, we checked whether there are sensitive names in environment variables, but we did not check if the values are actually on the yaml file, or just reference a secret/configmap, as in your case. We updated our check to implement that
@funkypenguin

[2021-08-23 11:03] BenHirschbergCa commented on #16
@funkypenguin , we closed this issue by mistake, we are still reviewing it

[2021-08-23 11:11] Daniel-GrunbergerCA commented on #16
@funkypenguin
Can you run this check again and confirm whether the results are okay or not?
Thank you

[2021-08-23 12:02] Bezbran commented on #17
Fixed.
Tnx

[2021-08-23 12:02] #17 closed

[2021-08-23 16:22] dwertent commented on #19
Would you mind sharing the workload with a non-root container that Kubescape flagged as root?
Thank you.

[2021-08-23 16:26] dwertent commented on #15
@funkypenguin Thank you for the helpful feedback :)
We will add support in a future version.

[2021-08-23 16:53] bluehawk27 commented on #9
It works now, thank you!

[2021-08-23 19:52] bluehawk27 commented on #19
I also recieved this with all of my containers failing in the Dockerfile
`RUN chown -R node: /tmp /app
USER node
RUN mkdir /home/node/.config/
EXPOSE 3000`

`---
apiVersion: v1
kind: Service
metadata:
  annotations:
  name: service-name
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: service-name
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: a

[2021-08-23 20:08] spron-in commented on #19
@dwertent I tested it first on Percona k8s Operator: https://github.com/percona/percona-xtradb-cluster-operator/
Then I thought that smth is wrong with our Operator and checked bitnami's nginx: https://github.com/bitnami/charts/tree/master/bitnami/nginx (which is 100% non-root)

[2021-08-24 00:04] CryptoGodfatherVA opened #20 "I also received this on GKE with all of my containers failing in the Dockerfile:"
I also received this on GKE with all of my containers failing in the Dockerfile:
`RUN chown -R node: /tmp /app
USER node
RUN mkdir /home/node/.config/
EXPOSE 3000`

and in my deployment manifest

[code]

_Originally posted by @bluehawk27 in https://github.com/armosec/kubescape/issues/19#issuecomment-904073840_

[2021-08-24 00:20] bluehawk27 commented on #20
Deployment manifest and docker file running as NODE user is failing the non-root check

[2021-08-24 05:49] dwertent commented on #20
@bluehawk27 @CryptoGodfatherVA Thank you for pointing out this issue. We will update once we deliver the fix.

[2021-08-24 05:51] dwertent commented on #19
@bluehawk27 @spron-in Thank you for pointing out this issue. We will update once we deliver the fix.

[2021-08-24 06:41] ohadm2 opened #22 "Use the tool offline"
Hi.

I noticed that the tool requires downloading extra files to work.

Can I somehow download them offline and make them accessible to the tool?

I want to run it in an environment without internet access.

Regards,

[2021-08-24 06:58] dwertent commented on #15
@mayocream Thank you for your contribution :)
@funkypenguin Thank you for your informative feedback, can you please confirm it is solved so we can close the issue?

[2021-08-24 10:14] sachua commented on #22
What I did was to copy the text from the Framework sources into a .txt file and reference that in the OPAFRAMEWORKGet function in handlepullpolicies.go

Sources can be found here:

NSA: https://dashbe.eudev3.cyberarmorsoft.com/v1/armoFrameworks?customerGUID=11111111-1111-1111-1111-111111111111&frameworkName=NSA&getRules=true

MITRE: https://dashbe.eudev3.cyberarmorsoft.com/v1/armoFrameworks?custom

[2021-08-24 10:27] dwertent commented on #22
@ohadm2 Thank you for your feedback, this feature is in our roadmap.
In the meantime, I recommend you use the workaround @sachua suggested.

[2021-08-24 12:53] ohadm2 commented on #22
That's great!

Thanks a lot for the info and the very fast feedback!

:)

[2021-08-24 12:53] #22 closed

[2021-08-24 18:27] zetaab opened #24 "rules?"
its quite difficult to debug what is wrong because the actual rules are not visible anywhere?

for instance I have failing rule "Automatic mapping of service account" but automountServiceAccountToken: false at least does not solve that.

Then "Linux hardening" I assume that this is something related like selinux or similar? But it would be nice to have somekind of documentation how to solve these

[2021-08-25 05:58] BenHirschbergCa commented on #24
Hi! We are working on publishing the OPA rules we are using, they will be published very soon.

The "Automatic mapping of service account" checks the serviceaccount object for the automountServiceAccountToken , can you confirm that this is your case? (or you define it at the Pod level?)

[2021-08-25 13:57] Daniel-GrunbergerCA commented on #19
@spron-in @bluehawk27
We have discussed this and updated the test.
We were checking on the Kubernetes level whether or not you defined that the container should not run as root, or to run as user/group id different than 0 (by using pod/container spec), as we cannot access the image manifest, and it is better to specify this configuration at the Kubernetes level just to make sure (otherwise it will

[2021-08-25 19:29] raesene opened #27 "Allow Privilege Escalation check passes when it shouldn't?"
Setup
--

-kind 1.21 cluster `kind create cluster`
-Standard pod run with `kubectl run -it testtools2 --image=raesene/alpine-containertools /bin/bash`
-run `kubescape scan framework nsa --exclude-namespaces kube-system,kube-public`

In the results I got :-

[code]

Is this control checking for `allowPrivilegeEscalation` in the pod manifest? If so, I think this check should have failed as the defau

[2021-08-26 12:16] sojugeorge opened #31 "JSON FORMAT"
The default output is printed in a pretty "console friendly" manner. But can we  retrieve them  in JSON format for further processing.

[2021-08-26 16:24] gabbueno opened #33 "Can't download framework definition"
Is there an alternate way to get nsa definitions?
I'm trying to run kubescape behind a firewall with no internet access

$ ./kubescape scan framework nsa --exclude-namespaces kube-system,kube-public
ARMO security scanner starting
[progress] Downloading framework definitions
Could not download framework, please check if this framework exists

[2021-08-27 03:33] mJace opened #34 "Enhance help message"
Hi It would be nice to have a more detailed help message.
Would be more easy to understand the syntax and available option for kubescape.
Currently only
[code]
A list of available framework would be nice.

[2021-08-27 09:45] sundowndev opened #35 "Failed to load kubernetes config: invalid configuration: no configuration has been provided"
I'm stuck with this error `Failed to load kubernetes config: invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable`. Setting the env var `KUBERNETES_MASTER` or `KUBE_CONFIG_PATH` does not change anything, what am I missing ?

[2021-08-27 12:55] sojugeorge opened #36 "Dockerfile creation"
Iam trying to build a docker image from the code which is existing  now. Below one is the dockerfile

FROM golang:1.12.0-alpine3.9
RUN mkdir /app
COPY go.* ./
RUN go mod download
COPY . ./
RUN go build -o kubescape .
CMD ["/app/main"]

But iam getting the below error when iam trying to build kubescape. Do we have any workaround this.

#8 0.383 main.go:5:2: cannot find package "kube-escape/cautils"

[2021-08-27 17:30] remyleone opened #37 "Allow installation with go install"
When I try to install with go I get the following error:

[code]

[2021-08-27 17:32] remyleone opened #38 "Provide homebrew support to install kubescape"
it will allow easy updating of the app for mac users

[2021-08-28 03:36] mozai commented on #18
I think I ran into this today:  got `build kube-escape: cannot find module for path io/fs` and checking the documentation it seems iofs showed up in Golang version 1.16 .... but my distro still publishes Golang 1.12

[2021-08-28 16:49] #36 closed

[2021-08-28 16:50] sojugeorge commented on #36
Issue solved modifying the dockerfile

## go application
FROM golang:1.16.0-alpine

RUN apk add git --no-cache \
    && git clone https://github.com/armosec/kubescape.git kubescape && cd kubescape \
    && go mod tidy && go build -o kubescape . \
    && cp kubescape /usr/local/bin

CMD ["kubescape"]

[2021-08-29 05:19] dwertent commented on #37
The reason is because the package name is kube-sacpe, while the directory name is kubescape.
Will be fixed next release :)

[2021-08-29 05:22] dwertent commented on #16
Closed since we received no objection

[2021-08-29 05:22] #16 closed

[2021-08-29 05:30] dwertent commented on #35
@sundowndev I'm not sure what you are missing, is it possible you do not have a running Kubernetes cluster?

We use the [client-go](k8s.io/client-go/kubernetes) package for loading the Kubernetes config.

Please update if you managed to solve your issue

[2021-08-31 08:13] dwertent commented on #31
@sojugeorge  We support json output format:
[code]

For more information please checkout [examples of our latest release ](https://github.com/armosec/kubescape/blob/master/docs/release.md)

Please confirm so we can close the issue :)

[2021-08-31 08:27] dwertent commented on #18
We added go version so you can find it in the [readme](https://github.com/armosec/kubescape#how-to-build)

@VladyslavKurmaz Please confirm so I will close the issue

[2021-08-31 09:09] sundowndev commented on #35
@dwertent Not sure what I should specify in `KUBERNETES_MASTER` for it to work, I tried my kubeconfig path, my cluster's URL...

No, I can manage my cluster with kubectl

[2021-08-31 09:14] dwertent commented on #37
Fixed.

@remyleone  Please confirm :)

[2021-08-31 09:39] remyleone commented on #37
it works :)

[2021-08-31 09:39] #37 closed

[2021-08-31 14:52] VladyslavKurmaz commented on #18
@dwertent thanks, this works for me!
...
BTW, if idea below makes sense for you, I can create corresponding PR.
...
I'm working on the next project - https://github.com/project-talan/tln-cli
In nutshell, talan helps to create predictive isolated development environment: whatever third-party components are required to build kubescape, it will be automatically managed by tln

Please check 3 min tuto

[2021-08-31 15:04] BenHirschbergCa commented on #27
Yes, we did two controls:
* Privileged container: fires alert if  `containers.securityContext.privileged == true`  (meaning, the container processes are not really separated from the non-containerized processes and devices)
* Privilege escalation: alerts if  `container.securityContext.allowPrivilegeEscalation == true`  (meaning, as you pointed out in your blog, the a containerized process can "enj

[2021-08-31 15:09] BenHirschbergCa commented on #35
@sundowndev , if you don't mind, can you please share how your Kubernetes cluster is hosted? (minikube, EKS, GKE or etc.)

I am asking because for GKE support we needed to include an additional go module

[2021-08-31 17:09] raesene commented on #27
So the PSP reference was just was just because that's what the NSA guide was discussing when looking at container lockdown options and taking about `privileged` and `allowPrivilegeEscalation`. PSPs (or OPA or Kyverno etc) should be able to block either of those individually.

In a default config. I'd be expecting your first check to come back as [PASSED] as privileged won't be set but for the seco

[2021-09-01 06:38] jadolg opened #48 "Exit code != 0 if any check fails"
Hi, I would like to periodically run this application on my CI, but currently, no matter the result, it always returns a 0 exit code. This means I would need to manually check every time for problems. Maybe it can be made configurable (a `--fail` flag) so it returns an exit code != 0 when any of the checks are not fully passed. This way the CI will fail, alerting that something is not compliant in

[2021-09-01 08:00] sundowndev commented on #35
@BenHirschbergCa It's hosted on Digitalocean

[2021-09-01 08:57] hermanbanken commented on #35
I have the same error, but I'm using plain YAML generated via Kustomize, eg.
[code]

[2021-09-01 09:03] BenHirschbergCa commented on #48
@jadolg , you are right, we are looking into how to do it. Your `--fail` proposal sounds interesting, however we are considering something like setting a threshold of failure to make it more flexible.

Example:
`kubescape scan framework nsa --fail-threshold=80`

This will mean that bellow 80% success, we will give exit code -1.

What do you think?

[2021-09-01 09:12] dwertent commented on #35
@hermanbanken  I think the issue in your case is that Kubescape loads the k8s config when the input is a file, loading the config is unnecessary since the input is a file and not a running cluster.

We will fix this next release :)

[2021-09-01 09:20] hermanbanken commented on #35
Cool! I was looking at the policyhandler package and couldn't figure out why it was loading the resources
https://github.com/armosec/kubescape/blob/571a15bee8de5a75beaee1aad091fcde2d7c25ca/policyhandler/handlenotification.go#L79-L84

Turned out it was aborting way before 😄

[2021-09-01 11:09] dwertent commented on #35
@hermanbanken  I fixed the issue, please confirm it works :)

[2021-09-01 11:11] dwertent commented on #35
@sundowndev  try setting `export KUBECONFIG=<path to config>`,  is it better?

[2021-09-01 12:28] jadolg commented on #48
I'd love to have that

[2021-09-01 14:26] dwertent commented on #33
@gabbueno We added [support for offline scanning](https://github.com/armosec/kubescape/blob/master/README.md#offline-support-).

Please confirm so will close the ticket 😄

[2021-09-01 14:28] dwertent commented on #22
@ohadm2, @sachua We finally [support offline scanning](https://github.com/armosec/kubescape/blob/master/README.md#offline-support)

Enjoy 😅

[2021-09-01 21:06] BenHirschbergCa commented on #48
@jadolg see the latest release, I have added `--fail-threshold` argument, check it out! :-)

[2021-09-01 21:06] #48 closed

[2021-09-01 21:08] #18 closed

[2021-09-01 21:08] #31 closed

[2021-09-01 21:09] BenHirschbergCa commented on #34
We have moved to a nice cli module!

[2021-09-01 21:09] #34 closed

[2021-09-01 21:41] sojugeorge commented on #31
Hi, Thanks for the update.  Actually we are running this tool in gitlab and its getting an error ERROR: Job failed: command terminated with exit code 127.

But

 kubescape scan framework nsa --format json

can we run like this just to show the output in a json format. I dont want to save it as a json file.

[2021-09-02 08:01] #35 closed, assigned to nobody

[2021-09-02 14:33] cajual opened #54 "Definition file URL is no longer working."
[code]

And

[code]

[2021-09-02 15:37] dwertent commented on #54
@cajual  Please run again, we updated the server so it was down for a few moments.

We are working on using github release so this will not happen in the future.

Please re-run and confirm it works so I will close the issue.

[2021-09-02 15:39] dwertent commented on #18
@VladyslavKurmaz  This sounds interesting. We will follow up in email :)

[2021-09-02 19:16] fmtbkgiddiqq opened #55 "does online scanner require cluster admin?"
This is a really cool project! Great work.

I'm starting to learn about the project. I've tried scanning some test K8s clusters and found that the online scanner just crashes when it lacks permissions to perform certain functions or enumerate objects.

Is there a feature or a plan to support operation under limited permission accounts, perhaps using input parameters? Error handling to continue dur

[2021-09-03 05:25] hermanbanken commented on #35
Verified it works, thanks!

[2021-09-03 12:59] dwertent commented on #55
Thank you for your warm feedback 😄, we are constantly improving Kubescape based on our roadmap and users feedback.

1. It's an interesting idea to use a flag- when set Kubescape will ignore errors. Regardlessly, I will like to further investigate that behavior- can you please share a scenario where the tool crashes because the lack of permissions? If you do not feel comfortable sharing publicly pl

[2021-09-05 05:38] ohadm2 commented on #22
Thanks! :)

[2021-09-05 05:52] ohadm2 opened #56 "Make a flag for returning a list of supported framework"
Hi.

Is there a flag for returning a list of supported frameworks?

I noticed that the docs only refer to "nsa" and I couldn't find a way to make the tool print a full list of frameworks.

Regards,

[2021-09-05 07:17] ohadm2 opened #57 "List passed resources as well"
Hi.

I noticed that you only print failed resources.

I think there is even a larger benefit of printing passed resources (and even better - along with the passed settings next to them) as well because there are the ones setup correctly hence the ones to observe and learn from ...

Not all of the settings come from within the organization - some settings come from external vendors for their system

[2021-09-05 14:41] dwertent commented on #56
@ohadm2  Currently Kubescape supports only nsa. We will add more frameworks in the future 😀

[2021-09-05 14:41] #56 closed

[2021-09-05 14:42] dwertent commented on #54
@cajual  From now on Kubescape downloads from our [rego librery](https://github.com/armosec/regolibrary).
Enjoy :)

[2021-09-05 14:42] #54 closed

[2021-09-05 14:44] #33 closed

[2021-09-05 14:46] dwertent commented on #24
@zetaab We [published the actual tests](https://github.com/armosec/regolibrary). Please feel free to comment and contribute 😅

[2021-09-05 14:46] #24 closed

[2021-09-06 07:50] ohadm2 commented on #56
Got it. Thanks.

Btw - amazing job with this tool :)

Keep up the good work!

בתאריך יום א׳, 5 בספט׳ 2021, 17:41, מאת David Wertenteil ‏<
***@***.***>:

[2021-09-06 15:50] naveensrinivasan opened #61 "curl download not recommended way to install tools"
curl is an insecure pattern for downloading dependencies/tools.

 `curl -s https://raw.githubusercontent.com/armosec/kubescape/master/install.sh | /bin/bash `

https://about.codecov.io/security-update/

Why not make a release with GitHub and have instructions to download with gpg signed releases? Also `go install` is another way to install this tool.

[2021-09-06 19:18] sojugeorge opened #62 "JSON FORMAT ISSUE"
JSON format commands are not working in GITLAB

kubescape scan framework nsa --exclude-namespaces kube-system,kube-public --format json --output results.json

Im not getting the output as json file. It's still showing me the same normal output.

Also when i tried in local, the json format is not coming in a correct way.

@dwertent

[2021-09-07 02:29] Rockskull09 commented on #57
I think your right...in a sense making those links accessible inturns better & faster connections, better reception,links & adaptability for over all networks (Thus we can locate all issues in real time globally) & assist with issues or threats with all connections available...both private & co-operate.

[2021-09-08 06:41] uncycler opened #64 "Framework download is broken"
Hello,

kubescape framework download nsa is broken since dashbe.auprod1.cyberarmorsoft.com don't exist.

[2021-09-08 12:12] leonidsandler commented on #64
Hi, thank you very much for reporting the problem. It was found and fixed. The new build will go up ASAP. In the meantime you can still use kubescape with scan command, it will download the framework correcly.

[2021-09-08 18:37] BenHirschbergCa commented on #64
It was fixed in 1.0.69

[2021-09-08 18:37] #64 closed

[2021-09-09 06:29] dwertent commented on #62
@sojugeorge Did you reinstall Kubescape (the json support is a later release)?
I tried to reproduce your issue without any success.

Can you please provide more relevant information. Are you using workflows? If so, can you please share the workflow?

Thank you

[2021-09-09 07:22] victorca25 commented on #62
I had a JSON issue and was in fact using an older version, so the output was just the normal output until I upgraded.
Another thing is that if the command is executed multiple times with the same "results.json" output file, results are appended to the file and it can't later be opened as a JSON, unless you first split it into multiple JSONs.

[2021-09-09 08:04] dwertent commented on #62
@victorca25 Thank you.

The issue where the data is appended to the existing file will be fixed very soon :)

[2021-09-09 08:35] sojugeorge commented on #62
`kubescape scan framework nsa --exclude-namespaces kube-system,kube-public --format json` This command is not showing a proper json format.

if i add jq command i can make it in a correct format.

Can we get the output in a proper json format @dwertent

[2021-09-09 08:56] dwertent commented on #62
@sojugeorge The output json is valid. If you wish to pretty-print the json you can use `jq`, `python`, etc.

Run kubescape with the `--silent` flag->
[code]

[2021-09-09 09:43] victorca25 opened #66 "Question about JSON results"
Hello! I'm comparing the output from the command and the JSON and while the "Failed Resources" is easy to match to the "ruleResponses" in the JSON for each rule report, I don't seem to find anything in the JSON that can help me define the "All resources" total in order to map it similarly to the tool's "% Success" metric, specially since for each report in "controlReports" this total can vary.

It

[2021-09-09 20:23] dwertent commented on #66
@victorca25 We do not print all resources since it might be very heavy.

If you wish to to print them, you can update the [results struct](https://github.com/armosec/kubescape/blob/f60ff1fb26bd334faa775f8ceabbb9698d243ac7/cautils/opapolicy/datastructures.go#L52) ->

From:
[code]

To:
[code]

[2021-09-09 20:23] #66 closed

[2021-09-09 20:25] dwertent commented on #62
Closed since non-pretty print json is the desired behavior

[2021-09-09 20:25] #62 closed

[2021-09-09 20:26] dwertent commented on #57
@BenHirschbergCa  What do you think?

Where should we add the input resources?

[2021-09-09 22:22] dwertent commented on #55
Closed since it did not reproduce and we got no response

[2021-09-09 22:22] #55 closed

[2021-09-09 22:24] dwertent commented on #38
@Bezbran Can you please look in to this?

[2021-09-09 22:28] dwertent commented on #20
Closed since it's a duplicate of #19.

We will work on improving this test.

[2021-09-09 22:28] #20 closed

[2021-09-14 10:10] teemosuny opened #76 "unsupported protocol scheme """
I try to execute kubescape.

Initially, the execution was performed normally.
However, at some point, the following message is displayed and the execution is not executed.

ARMO security scanner starting
[progress] Downloading/Loading framework definitions
<nil>
Kind: Framework, Name: nsa, error: Get "": unsupported protocol scheme ""

Why? Do you know why?

[2021-09-15 14:44] lftgl opened #80 "How do the newly introduced exceptions work?"
I have seen the examples, but I do not understand how the `exceptions` work.
Can some application scenarios please be explained ?

[2021-09-16 15:39] brsolomon-deloitte opened #81 "bug: --output foo.json --format json double-appends ".json" to file name"
Resulting file becomes `xxx.json.json` despite following example from README.

Using v1.0.77 on AmazonLinux against an EKS cluster.

[code]

[2021-09-16 15:40] brsolomon-deloitte commented on #81
Excluding the extension explicitly then automatically adds it, while the examples in the README use `--output foo.json`:

[code]

[2021-09-16 15:53] brsolomon-deloitte commented on #81
Seems to be an issue with `setOutputFile`:

https://github.com/armosec/kubescape/blob/768556251d4e8837087d3dedf2dc163648b7cbaf/cautils/scaninfo.go#L64

[2021-09-16 15:54] brsolomon-deloitte commented on #81
This is because https://pkg.go.dev/path/filepath#Ext result includes the `.`, whereas the current logic only tests against `json`, not `.json`.

[2021-09-18 18:26] #81 closed

[2021-09-18 18:36] BenHirschbergCa commented on #80
hi @lftgl

We are preparing a full readme and some more perks around this, but here is the idea in general.

You have some Kubernetes objects which are "doomed" to fail always. Example: Kube-proxy will be always (in the current architecture) a privileged container thus will fail the "privileged container" control. Either you want to see those as part of your results/score or not. Exceptions will e

[2021-09-19 05:58] BenHirschbergCa commented on #76
@teemosuny hi

Can you please elaborate more? How can we reproduce?

Thx

[2021-09-20 10:29] lftgl commented on #80
Ok, i get it, attached is an example exceptions.json that disables all policies for the example resources.
Attention, the actions disabled are written in lower case
[code]

[2021-09-20 11:37] good932 commented on #80
Dude I don't know who you people think I am but I'm not a programmer or
designer I'm a regular guy who turned on unknown sources on my phone so I
could get paid apps for free then I came across this app and found it very
interesting so I'm just letting you know. I wish most of the stuff I've
already seen on the app I can't figure out but maybe one day I'll get it. I
mean if you really can build so

[2021-09-21 10:37] vishalgoyal16444 opened #87 "Issue with kubescape Installation"
Tried installing kubescape on local Jenkins container but there seems to be an issue with installation based on steps mentioned. Similar issue encountered when we tried installing kubescape in our Azure cloud account using Azure shell. (screenshots below)

Please advise on this.

![ab99eef3-34fd-4bb8-b9c7-8de46a25183d](https://user-images.githubusercontent.com/73927117/134156486-0e66cd9e-cfe5-4e03

[2021-09-21 12:18] good932 commented on #87
What the fuck you asking me for I'm not the one who designed it I'm not a
programmer just someone who came across the app found it interesting so I
downloaded it ask someone else.

On Tue, Sep 21, 2021, 3:38 AM Vishal Goyal ***@***.***> wrote:

[2021-09-21 13:59] victorca25 commented on #87
Had a similar issue on a Docker image, had to explicitly add "apt install sudo" and it worked, but this was not an issue with previous updates

[2021-09-21 20:08] BenHirschbergCa commented on #87
Hi @victorca25 @vishalgoyal16444

We have indeed added `sudo` to the install script (it was needed when a user installed it on a workstation). I will get back to you with a solution!

[2021-09-21 21:05] BenHirschbergCa commented on #87
Fixed dependency on `sudo` for installation, please check release 1.0.85

[2021-09-21 21:05] #87 closed

[2021-09-22 10:03] sprathod369 opened #89 "Issue with kubescape installation"
The issue #87 is marked as fixed and sudo dependencies were supposedly addressed. However, the latest install script still has bugs and is unable to install kubescape. Seems the script bails out midway and not complete the installation cleanly. Please refer the screenshot below.

![image](https://user-images.githubusercontent.com/73107830/134323603-0de7be64-e8e7-4943-a5d6-c58dd5b66539.png)

[2021-09-23 00:04] teemosuny commented on #76
At some point, the above happened. However, this phenomenon occurred and I was looking for a solution, but after rebooting, I was able to use it normally again.

[2021-09-23 05:26] teemosuny commented on #76
sunny@ubuntu:~/.kube$ kubescape scan framework nsa --exclude-namespaces kube-system,kube-public
ARMO security scanner starting
[progress] Downloading/Loading framework definitions
<nil>
Kind: Framework, Name: nsa, error: Get "": unsupported protocol scheme ""

The above situation occurs very frequently.

[2021-09-23 18:13] BenHirschbergCa commented on #89
@sprathod369 , you are right, the previous change was not fixing the case when not just `sudo` was missing but you cannot install in `/usr/local/bin` since (like in Azure console) you don't have permissions to write there. Thx for picking this up

Please confirm the latest `install.sh` solves it

[2021-09-24 04:52] sprathod369 commented on #89
Yes it does address the issue. Screenshot below. Thanks for the support!!

![image](https://user-images.githubusercontent.com/73107830/134620045-83f05ee1-81bc-4f58-b7c2-532922698618.png)

[2021-09-24 04:52] #89 closed

[2021-09-24 14:10] clawsavior commented on #76
This is most likely a problem caused by GitHub's API rate limit, but the error message should be better!

[2021-09-28 09:30] xawdxawdx opened #93 "How to check rego rule for CVE-2021-25741"
I checked cluster with new kubescape - it shows that there are no subPath feature, but after grep configs I saw a lot places with subPath - I tried to see a rule in https://{x}.{y}.cyberarmorsoft.com/v1/armoFrameworks?customerGUID=11111111-1111-1111-1111-111111111111&getRules=true&frameworkName=NSA  but did not see anything about this CVE

[2021-09-28 11:42] calvinroyston opened #94 "Unable to delete a cluster from https://portal.armo.cloud/"
Couldn't find an option to delete cluster from https://portal.armo.cloud/ .

[2021-09-28 20:09] BenHirschbergCa commented on #94
hi @calvinroyston

Would you like to delete a specific cluster, or all your data?

[2021-09-28 20:14] BenHirschbergCa commented on #93
hi @xawdxawdx

We have moved the rules to an open repo, see the specific rule here: https://github.com/armosec/regolibrary/blob/master/rules/CVE-2021-25741/raw.rego

Do you mind sharing an object (YAML) where you have expected this rule to fail?

[2021-09-29 06:03] calvinroyston commented on #94
Hi @BenHirschbergCa ,
The cmd "kubescape scan framework nsa" when used **without** --results-locally=True posts the results to Armo management portal by default . When I log in and check its there but I was unable to find any option to delete that cluster/data recorded . Is there an option to delete a cluster and recorded data ? It would be nice to have that option .

[2021-09-29 09:53] BenHirschbergCa commented on #94
Ok, we are on it!

[2021-09-29 16:47] alfrye opened #95 "Excluding namespaces"
When running a cluster with v1.0..88 and using the flag --exclude-namepaces "kube-system,kube-public" the scan results are still showing this namespaces under the [control: Network policies] section.

`kubescape scan framework --exclude-namespaces "kube-system,kube-public" \
 -t 80 \
-o cluster-scan.log nsa`

[2021-09-29 22:17] RothAndrew opened #96 "Allow wildcards in exceptions attribute designations"
I'd like the ability to use wildcards in my `exceptions.json`. For example, If I have a resource called `common-cg922ccb87`, `cg922ccb87` is a nondeterministic unique identifier. I need to exclude the resource, but I have no way of specifying the exact name of the resource.

Full example:

exceptions.json
[code]

[2021-09-30 14:33] agentpoyo opened #97 "404 page not found in About & Readme Link to NSA Hardening Release"
In the about for the main repo, the link to nsa.gov takes you to a 404 page not found (also in the main README).

**About**
kubescape is the first tool for testing if Kubernetes is deployed
securely as defined in Kubernetes Hardening Guidance by to
NSA and CISA (https://www.nsa.gov/News-Features/Feature-Stories/Article-View/Article/2716980/nsa-cisa-release-kubernetes-hardening-guidance/)

[2021-09-30 15:02] RothAndrew opened #98 "Mutated release binaries"
I'm checking SHASUMs as part of my process which pulls in the kubescape tool for testing of one of my clusters, and I've noticed they seem to be changing.

Would it be possible to update the release process to not mutate release binaries?

![image](https://user-images.githubusercontent.com/16000938/135477630-60109405-17cb-4a32-9291-820e4ba5dca1.png)

[2021-09-30 15:07] taylor commented on #97
Possible alternative link https://www.nsa.gov/Press-Room/News-Highlights/Article/Article/2716980/nsa-cisa-release-kubernetes-hardening-guidance/ found via https://us-cert.cisa.gov/ncas/current-activity/2021/08/02/cisa-and-nsa-release-kubernetes-hardening-guidance

[2021-10-03 13:28] dwertent commented on #96
We use a similar selector mechanism as the one Kubernetes uses for selectors, so glob is not supported.

Can you please provide an example (if you have any) where Kubescape is different from Kubernetes in this matter?

[2021-10-03 13:30] dwertent commented on #97
Thanks @taylor

[2021-10-03 13:30] #97 closed

[2021-10-03 13:35] dwertent commented on #98
@RothAndrew  I'm not sure I understand your request, when there is a new release by definition the release binary is different therefor the HASH will change accordingly.

Can you please clarify?

[2021-10-03 13:36] dwertent commented on #95
@Daniel-GrunbergerCA How is this possible? What is the Kubernetes object the rego returns when running this control?

[2021-10-03 13:40] dwertent commented on #57
@rotemamsa I think we should add the input resources kinds

[2021-10-03 13:43] dwertent commented on #61
Obviously you can directly download the binary or run `go install`, we wanted to provide a one liner installation.

[2021-10-03 13:43] #61 closed

[2021-10-03 13:47] RothAndrew commented on #98
The hash of the same file for the same release changed.

[2021-10-03 13:57] RothAndrew commented on #96
Not sure why you are asking me that. Im not a developer of this tool, just a user looking for an outcome. If I can't do this I'm not able to fully exclude the resources that I know are okay which means I can't set this up in my testing pipeline which means this tool becomes far less valuable to me.

[2021-10-03 14:25] dwertent commented on #98
@slashben Any thoughts?

[2021-10-03 15:04] slashben commented on #98
@RothAndrew has a point, let's discuss this

[2021-10-03 15:15] RothAndrew commented on #98
Bu downloading the file and running `sha256sum` on it. I'd prefer to pull from a published source though. Some projects publish the shasum as another release artifact next to the binary. That would be the preferred method.

[2021-10-03 15:20] slashben commented on #98
@RothAndrew  will do today

[2021-10-03 15:41] slashben opened #102 "Implement Kubernetes type detection mechanism"
Kubescape uses today pure K8s API to look for security issues.

The next step will be to look on data coming outside K8s API like:
* Etcd encryption configuration
* API server configuration
* CNI information

First step for Kubescape to find these information is to identify which kind of cluster it is scanning:
* Native Kubernetes
* EKS
* GKE
* AKS
* Openshift

We need to have a function returning

[2021-10-03 19:27] slashben opened #103 "Implementing functionality that retrieves EKS configuration properties"
Kubescape uses today pure K8s API to look for security issues.

The next step will be to look on data coming outside K8s API like:
* Etcd encryption configuration
* API server configuration
* CNI information

Kubescape needs to be able to retrieve the description of a EKS cluster from AWS API to evaluate it.

https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeCluster.html#API_Describe

[2021-10-03 20:28] slashben opened #104 "Implementing functionality that retrieves GKE configuration properties"
Kubescape uses today pure K8s API to look for security issues.

The next step will be to look on data coming outside K8s API like:
* Etcd encryption configuration
* API server configuration
* CNI information

Kubescape needs to be able to retrieve the description of a GKE cluster from GCP API to evaluate it.

https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations

[2021-10-03 20:30] slashben opened #105 "Implementing functionality that retrieves AKS configuration properties"
Kubescape uses today pure K8s API to look for security issues.

The next step will be to look on data coming outside K8s API like:
* Etcd encryption configuration
* API server configuration
* CNI information

Kubescape needs to be able to retrieve the description of a AKS cluster from Azure API to evaluate it.

https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/get#managedcluster

Need

[2021-10-04 03:37] omkar342 commented on #105
Hey I have no idea about kubernetes but I have thirst to learn & contribute to it. Would you like to help me with basic resources to solve this issue so that I can help you to contribute more?

[2021-10-04 04:54] slashben commented on #105
hi @omkar342 , do you have some experience developing in Go? Working with AWS API?

[2021-10-04 05:04] slashben commented on #98
@dwertent , I could not really sort this out. I did not find a cross platform way to calculate hash, neither how to upload multiple files to the release. Let's talk

[2021-10-04 05:48] slashben commented on #98
@RothAndrew , I could create zip files containing both the hash and the binary itself.

See here: https://github.com/slashben/kubescape/releases/tag/v1.0.34

What do you think?

[2021-10-04 05:53] RothAndrew commented on #98
That would be a big breaking change over the current release process. I'm fine with downloading the binary and calculating the hash.

[2021-10-04 12:23] dwertent commented on #95
@Daniel-GrunbergerCA I found the issue. Should be fixed next release.

[2021-10-04 13:01] alfrye commented on #95
@Daniel-GrunbergerCA  Thanks for the quick response of this.  Just to clarify I was seeing this mainly in the Network policy control.

`[control: Network policies] failed
 [control: Network policies] failed

    Namespace - kube-system
    Namespace - default
    Namespace - kube-public
    Namespace - kube-node-lease
    Namespace - gatekeeper-system
`

[2021-10-04 14:16] dwertent commented on #95
@alfrye Yes, we filtered out the namespace based on `metadata.namespace` so when the failed object was a namespace we did not filter it out (since we did not check the `metadata.name`).

This fix is waiting to be released, I will update the issue tag to `fixed` after it is released.

Have a nice day and thank you for your feedback :)

[2021-10-05 07:06] dwertent commented on #96
@RothAndrew Thank you for your feedback. This should work for you, please verify  :)

[2021-10-05 09:32] teemosuny opened #113 "binary not found issue."
After dockerizing, I wanted to run kubescape in my application on a pod.
The image I used is alpine:3.13. However, when I run kubescape in the application, the output is as follows.

ash: kubescape: not found

I searched and found that it was due to a missing interpreter when building the binary([Requesting program interpreter: /lib64/ld-linux-x86-64.so.2]). Considering this, can't we build a bina

[2021-10-05 10:03] #113 closed

[2021-10-05 10:33] teemosuny opened #114 "execute error issue."
The following error occurred while running kubescape.
I'm curious as to why the error occurred and how to fix it.
(I ran kubescape inside the pod after dockerizing.)

/ # kubescape scan framework nsa --use-default
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x38 pc=0x1616eed]

goroutine 1 [running]:
github.com/armose

[2021-10-05 11:20] dwertent commented on #114
@teemosuny Can you please share the version you are running? Run  `kubescape version`.
Thank you

[2021-10-05 15:32] RothAndrew commented on #96
Awesome, thanks! I'll try it out.

[2021-10-06 00:14] teemosuny commented on #114
latest version. v1.0.97

[2021-10-06 05:30] dwertent commented on #114
@teemosuny  Thank you for sharing the issue. I pushed a fix that should be published next release.

[2021-10-07 10:52] jancespivo opened #123 "Provide an official container image to Docker Hub"
Hi,
it would be super useful to be able to download an official Kubescape container image from Docker Hub. It shouldn't be hard as it is documented in https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

Thx!

[2021-10-07 14:34] #38 closed

[2021-10-08 07:44] ferhaty opened #128 "Scan results are not published to the Armo Management Portal"
I'm working on a custom build of `kubescape` which can be installed using `Homebrew`. The scan is working and is showing results in the cli. However, the results are not visible at https://portal.armo.cloud.

I've also executed `kubescape config cluster set customerGUID=<guid>` beforehand. I'm using the following ldflags.

[code]

[2021-10-08 20:49] ghost opened #132 "Default upload of scan results should be opt-in"
I want to preface this issue as, I think `kubescape` is a pretty nice and nifty tool. It's especially useful for finding misconfigurations in k8s clusters, pods, containers, etc. But, I also want to say that `--results-locally` should not be opt-in. If you want to provide a consulting tool that people can use as a pipeline for professional services, fine, but do not mask the tool behind such behav

[2021-10-10 07:29] dwertent commented on #132
@withernet  and @levsha, Thank you for your feedback.

Your concern is well understood and there is no point for me to repeat @chmod-777-shauli response regarding our motive and liability.

I just wanted to point out we do not send all the cluster data, for unsigned users, Kubescape sends only the basic metadata [The rest of the data is removed before it is reported](https://github.com/armosec/kub

[2021-10-10 07:36] #114 closed

[2021-10-10 07:38] dwertent commented on #128
Hi @ferhaty, can you please share your Kubescape version?

[2021-10-11 07:40] ferhaty commented on #128
Tested with version 1.0.109

[2021-10-11 10:49] jancespivo opened #136 "When --format junit is used there is no result summary number"
It is not possible to find out result summary number when `--format junit` is used. It is needed ie for adjusting --fail-threshold accordingly.
Please consider showing the summary number in console :pray:

Thx!

[2021-10-11 20:28] slashben commented on #128
Have you heard we have started to release our official version in `homebrew`?

[2021-10-12 01:45] #132 closed, assigned to rotemamsa, slashben, dwertent, leonidsandler

[2021-10-12 01:45] chmod-777-shauli commented on #132
Default behavior changed

[2021-10-12 10:22] ferhaty commented on #128
@slashben started with this when there was no homebrew tap yet. I'm now using the official `kubescape` tap so we can close this issue.

[2021-10-12 10:22] #128 closed, assigned to AvnerTzurArmo

[2021-10-12 15:22] alfrye opened #148 "Scan failing using -t flag."
I am running kubescape and I set the -t flag to 93 and the scan returns as error "error: Scan score is bellow threshold" However, the scan log shows 94% in the results.

[2021-10-12 21:03] dwertent commented on #148
@alfrye I'm not sure how this happens since it's a very [straightforward mechanism](https://github.com/armosec/kubescape/blob/master/cmd/framework.go#L153).

Is there any information you can share so as a screenshot of the final summary? Are you using exceptions?

[2021-10-12 21:21] dwertent commented on #148
Thank you @alfrye . We are working on fixing this :)

[2021-10-12 23:47] withernet commented on #132
Just confirmed this is fixed, thanks guys!

[2021-10-13 08:30] felfa01 opened #149 "Kubescape scan on files fail"
With the latest version of kubescape, I am getting the below error on my scans on yaml files. It was working fine up until that point (with version  `v1.0.109`) but anything later is failing (version `v1.0.115`).

[code]

[2021-10-13 10:02] #149 closed

[2021-10-14 07:20] #148 closed, assigned to slashben, dwertent

[2021-10-18 20:01] RothAndrew opened #174 "Download exceptions.json from portal.armo.cloud"
## Feature request

As a user of kubescape who uploads reports to portal.armo.cloud and also runs kubescape in my CI pipeline, I'd like the ability to download the exceptions.json file from portal.armo.cloud so that I can use it in my pipeline.

## Context

The cloud UI lets me toggle exceptions for resources. Example:
![image](https://user-images.githubusercontent.com/16000938/137798614-eef25ead-

[2021-10-18 20:03] RothAndrew opened #175 "CLI report does not make a distinction between excluded and failed resources"
## Feature Request

As a user of kubescape who has written and are using an exceptions.json file, I want the ability to discern which resources are being excluded and which ones are still failing.

## Context

When I run a scan with exceptions, the list doesn't tell me which resources are being excluded and which ones are still failing.
![image](https://user-images.githubusercontent.com/16000938/1

[2021-10-18 20:07] RothAndrew opened #176 "Portal UI doesn't show exceptions, but they are still counted in the Affected Resources list"
When I run a report with exceptions, the Affected Resources shows the number of findings before the exceptions, but when you click on it all the exceptions are hidden.

Example:
![image](https://user-images.githubusercontent.com/16000938/137799368-f4bce216-e5e5-40c9-8294-2ad29b9a344a.png)

![image](https://user-images.githubusercontent.com/16000938/137799393-099e8a48-ca75-4cec-9cf5-cce3ae8fc0f0.pn

[2021-10-20 08:06] jancespivo commented on #136
I think there might be possibility to make items in junit xml more granular (I can imagine there could be row per resource and not per check). So there would be possible to calculate the summary number from junit file directly. WDYT?

[2021-10-20 11:46] dwertent commented on #136
We are thinking of printing the junit/json per resource as you suggested, but for the meantime I was thinking of something like this:

![image](https://user-images.githubusercontent.com/64066841/138075582-c55831ab-faae-47e1-bc20-a622c434ceb8.png)

Notice, if you wish to calculate the score from the json/junit format, you can calculate:
[code]

[2021-10-20 14:26] aledegano opened #183 "Failure to submit results to report.armo.cloud"
Hello and thank you for sharing this project!
I have scanned one of the cluster for which I am admin, the scan completes successfully, but it fails to upload with the error:
[code]
Kubescape identifies 662 resources in this cluster. When saving the output locally in a text file its size is 80kb

Is it really possible that the resulting is too big for the Nginx serving `report.armo.cloud`?

[2021-10-21 07:28] #183 closed, assigned to Bezbran, AvnerTzurArmo

[2021-10-21 08:07] #175 closed, assigned to nobody

[2021-10-21 08:07] #136 closed, assigned to nobody

[2021-10-21 08:25] #176 closed, assigned to nobody

[2021-10-21 10:29] dwertent commented on #93
You can find [here](https://hub.armo.cloud/docs/controls) the controls

[2021-10-25 13:15] tim-sendible opened #193 "Intermittent download issues"
[code]

This is the v1.0.126 container running in eks 1.21. Running the command `kubescape scan framework nsa`

If I wait an hour or two, one run will be successful, and then subsequent runs will fail again.

[2021-10-25 20:21] scottslowe opened #195 "Provide ARM64 release binaries"
It would be great to provide ARM64 release binaries (for both Linux and macOS). I noted the current `build.py` script doesn't account for processor architecture, but a manual build of an ARM64 Darwin/macOS binary from a AMD64-based Linux host using Go 1.17 did not produce any errors. The resulting binary _seemed_ to work as expected, but I did not perform any extensive testing.

[2021-10-26 06:42] tim-sendible opened #196 "--use-from doesn't appear to work with controls"
`kubescape scan control c-0059 --h`

Says that the following should be valid:
[code]

I get the following:
[code]

This is the `:latest` docker container running within an EKS 1.21 cluster.

[2021-10-26 06:48] tim-sendible opened #197 "Possible false positives on C-0059 - CVE-2021-25742-nginx-ingress-snippet-annotation-vulnerability"
Running `kubescape scan control c-0059` using the `:latest` docker image within an EKS 1.21 cluster.

This reports that all 4 of my ingress controllers have failed, yet all 4 have the following in their configmap:

[code]

[2021-10-26 13:27] 06kellyjac opened #200 "allow disabling latest check when running"
We build kubescape in a sandbox that doesn't have network access.

Luckily the below is just a warning so we are able to generate the completions but the error messages are still quite scary for the average observer/reviewer

[code]

Either a flag or an environment variable or both would be nice

See: https://github.com/NixOS/nixpkgs/blob/nixos-unstable/pkgs/tools/misc/infracost/default.nix#L35

-

[2021-10-26 14:43] Joibel opened #202 "Add prometheus support"
I'd like to be able to use this via prometheus as a monitor of the state of a running cluster.
Proposal:
- Add support for prometheus metrics output format (https://prometheus.io/docs/instrumenting/exposition_formats/). This would list for each control the total, skipped and failed object count, and then for each actual object a count of failures with prometheus labels for name and where appropria

[2021-10-27 07:28] #27 closed, assigned to nobody

[2021-10-29 18:48] laurentiuspurba commented on #132
@withernet When you said it's fixed, does it mean the following command will not send any report to whatever endpoint that `kubescape` configured before?
[code]
I totally agree with you @withernet , the **default** should be to `sending any information to other party.`

[2021-10-29 19:05] withernet commented on #132
@laurentiuspurba I tested with `strace` and `wireshark` and did not see any connection attempts to armo. However, I do see connection attempts to `github-releases.githubusercontent.com` which may be where the tool downloads the content to perform its scan (I did not scan with `--use from /tmp/nsa.json`)?

[2021-10-29 19:41] leonidsandler commented on #132
The default behavior of this command is NOT sending any information, just as you expected. The exception to this case is if the user has registered to the SaaS service previously. We did not change the pre-existing behavior for the users who used to run this command and saw their data in the SaaS service. If you are a registered user and you wish to avoid sending your data for specific run, please

[2021-10-29 19:48] leonidsandler commented on #132
Indeed, if you don't use --use-from flag, kubescape will download the latest version of the scanning framework from the GitHub. We strongly recommend to update scanning framework, even if you need to use this flag. We continuously extend and improve the frameworks. Note the latest CVE-2021-25742 test addition that was done in several hours after the publication of the vulnerability.

[2021-11-02 11:52] tim-sendible commented on #197
I actually fixed this by changing my configmap data to:

` allow-snippet-annotations: false`

Which is contrary to the ingress-nginx instructions, but actually mitigates the issue. Quoted `false` fails to get recognised by the controller.

tl;dr This wasn't a kubescape issue, it was an issue with how I was applying the CVE mitigation.

[2021-11-02 11:52] #197 closed

[2021-11-02 12:38] jasbroek opened #209 "High memory usage"
When using the tool on a larger cluster (~50 nodes, ~1300 pods), it crashes on using too much ram.
At least 8GB is needed to successfully run the tool with the following scan:
`kubescape scan framework nsa --exclude-namespaces kube-system,kube-public -o kubescan.out`

I'm currently not able to look at the code and investigate where this high memory usage comes from.
Just wanted to give this feedba

[2021-11-02 13:22] laurentiuspurba commented on #132
@leonidsandler @withernet Thank you for clear this thing up.
I had to use `--use-from` flag, cos I got an error while issuing `kubescape scan framework nsa` command without first downloading the nsa.json file.

[code]

[2021-11-02 15:05] dwertent commented on #209
Thank you @jasbroek for your feedback.
Kubescape loads all the workloads in it's memory for efficiency reasons. This can explain the high memory usage when scanning very big clusters.

I do not have a perfect solution for you, but if you wish you can exclude the different namespaces.
e.g. you are running namespaces a,b,c,d :
1. exclude namespaces `a`,`b` -> `kubescape scan framework nsa --exclude-

[2021-11-02 15:05] #209 closed

[2021-11-03 21:13] L1ghtman2k opened #212 "Allow option to only scan a single namespace"
In our company, we want namespace owners to handle vulnerabilities that show up on their respective namespaces. Is it possible to configure kubescape to only scan a specific set of namespaces, and if not, could this be turned into a feature request?

I assume there are probably ways to hack around this by getting all namespaces, and feeding them into `exclude-namespaces` list, or doing a regex, bu

[2021-11-04 09:00] dwertent commented on #212
@L1ghtman2k  Thank you for your feedback.

@rotemamsa We can add an `--include-namespaces` as following:
[code]

This solution will also be is a nice workaround for issue #209 .

[2021-11-04 17:03] L1ghtman2k commented on #212
That was fast 😂, thanks a lot!

[2021-11-04 17:03] #212 closed

[2021-11-04 19:27] dwertent commented on #212
@L1ghtman2k  Sure 😎.

Notice I delivered my update to the pipe, this feature should be next release :)

[2021-11-05 19:38] mboersma opened #215 "Docker container always complains "You are not updated to the latest release""
[code]

I saw the same warnings from the `:v1.0.126` quay.io container before, when that was the latest release.

All `kubescape` commands emit this warning before doing anything else, so it would be useful if the new version check could be fixed and/or made optional through a command-line argument (as in #200).

*Edit*: Sorry, somehow I missed #207, which should fix this.

[2021-11-08 10:54] SmartGuyy opened #220 "CVE-2021-25741 + EKS cluster 1.19.14 fixed it ?"
Hi,

I recently did a Kubescape scan and noticed i had resources affected by this vulnerability.

I created one worker to test latest version avalaible with a new nodegroup for 1.19 in EKS which apparently is supposed to fix this vulnerability. --> https://github.com/awslabs/amazon-eks-ami/releases/tag/v20210830

However report still detects resources on that worker as vulnerable and details says

[2021-11-08 15:41] SmartGuyy commented on #220
Hi @Daniel-GrunbergerCA, if you need any details to test/reproduce/verify this issue, please feel free to ask me.

[2021-11-10 14:03] lyssar opened #224 "RBAC Manager markes as failed for control: Exec into container"
# Issue

When you run kubescape scan framework nsa on a cluster running rbac-manager kubescape will list this issue

[code]

But actually rbac doesn't have access to exec anything. So I think this is a false positive.

# To reproduce

- Install a cluster locally with k3d for example
- Apply rbac manager via helm (https://rbac-manager.docs.fairwinds.com/introduction/#getting-started)
- run `kubesca

[2021-11-10 15:24] Daniel-GrunbergerCA commented on #220
Hey @SmartGuyy
Thanks for opening this issue. We are currently researching this.
Can you please provide the kubelet version running on this nodegroup?

[2021-11-11 09:00] dwertent commented on #224
Thank you @lyssar, we are investigating this issue you opened.
I hope it's ok that we will reach out to you if we have further questions 😅

[2021-11-11 09:02] leonidsandler commented on #220
Hi @SmartGuyy, we have checked our test and it seems to be written in accordance with the CVE report. Can you please run the below command in your cluster and let us know what Kubelet version you have. According to the CVE report v1.19.4 is still vulnerable.
kubectl get node -o=jsonpath='{range.items[*]}{.metadata.selfLink} {"\t"} {.status.nodeInfo.kubeletVersion}{"\n"}{end}'

[2021-11-11 10:23] leonidsandler commented on #224
Thank you @lyssar for your report. The issue is related to a proper verification of the API group. We will make the fix ASAP.

[2021-11-11 11:07] SmartGuyy commented on #220
Hi @leonidsandler and @Daniel-GrunbergerCA, thank you for your reply.

Our image is latest avalaible for EKS 1.19 : v1.19.14-eks-dce78b (from kubelet --version) or amazon-eks-node-1.19-v20211013 (from AWS AMI - at 1.19 latest image).

It's even more recent than release https://github.com/awslabs/amazon-eks-ami/releases/tag/v20210830 that says it fixed "CVE-2021-25741" so that's really weird.

[2021-11-11 11:56] leonidsandler commented on #220
It is weird indeed. If AWS has patched this, they should have advanced the version number. The vulnerability report clearly says that versions before 1.19.5 are affected.

[2021-11-11 15:07] dwertent commented on #200
@06kellyjac  Add `export KUBESCAPE_SKIP_UPDATE_CHECK=true`.

Good luck :)

[2021-11-11 15:07] #200 closed

[2021-11-11 15:08] dwertent commented on #193
Kubescape downloads the release and does no longer use `api.github` so this is fixed :)

[2021-11-11 15:08] #193 closed

[2021-11-11 15:14] dwertent commented on #196
@tim-sendible Fixed :)

![image](https://user-images.githubusercontent.com/64066841/141322183-4f8d6ce0-b6cd-42b9-aec9-08c1d5c5a8fa.png)

[2021-11-11 15:14] #196 closed

[2021-11-11 15:20] dwertent commented on #94
@calvinroyston Fixed :)

1. Navigate to the SaaS version, click on the settings icon on the top right of the page->

  ![image](https://user-images.githubusercontent.com/64066841/141322808-0cb8b4c7-ebe8-4250-988b-d40ebfe215cd.png)

2. Select the cluster you want to delete and press the delete

![image](https://user-images.githubusercontent.com/64066841/141323039-59f620b1-7bf0-4968-a6b3-eac6303e71e

[2021-11-11 15:20] #94 closed

[2021-11-11 15:22] dwertent commented on #215
@mboersma Fixed :)

[code]

[2021-11-11 15:22] #215 closed

[2021-11-11 18:25] 06kellyjac commented on #200
Thanks

[2021-11-12 11:55] echoblag opened #228 "Cannot exclude "Allow privilege escalation" check"
Whenever I try to exclude the Allow privilege escalation check it always fails.

I have tried and tested this across multiple recent releases, on its own, with other exceptions, and any possible derivatives. I did check for similar issues and found some useful information that got me this far.

I have been able to successfully disable other checks like:
- `immutable-container-filesystem`
- `linux-

[2021-11-12 13:17] echoblag commented on #228
As with any of the other exceptions the goal here is to focus Kubescape on the desired deployments and namespaces. I have tried to work around this to some degree, but have hit a limit on how far I can go with the exceptions json approach.

[2021-11-12 13:29] echoblag commented on #228
Hopefully this something that can be sorted out with documentation. I am relying on lowercasing and hyphenating checks based on a few exception example I have found.

I'm starting to run into other exclusions that behave the same way.

[2021-11-13 13:50] leonidsandler commented on #220
1.19.15 of course, sorry for the typo.

[2021-11-13 17:54] SmartGuyy commented on #220
Yes i know, so what should we do ? Contact AWS and tell them they made a mistake ? Or is it something like EKS AMI does have their own version identation that may differ from K8S one ?

[2021-11-13 17:56] SmartGuyy commented on #220
If that's the case then you should review your vulnerabity check so it does make difference between EKS version and normal one...
But from what i see it more looks like to a mistake from AWS than "different versioning"

[2021-11-13 21:05] leonidsandler commented on #220
I think contacting AWS is a good idea. We will try and see where it goes. Thank you for your help!

[2021-11-14 06:37] dwertent commented on #228
Hi @echoblag I will tests this.
1. Can you please share your full exceptions file? Tnx
2. We will add documentation regarding the exceptions :)

[2021-11-14 12:53] dwertent commented on #228
@echoblag Notice the rule name is  ["rule-allow-privilege-escalation"](https://github.com/armosec/regolibrary/blob/master/rules/rule-allow-privilege-escalation/rule.metadata.json#L2)

Your exceptions file should look as following:
[code]

I added a basic documentation and some examples you can find [here](https://github.com/armosec/kubescape/tree/dev/examples/exceptions#kubescape-exceptions) .

I

[2021-11-14 12:53] #228 closed

[2021-11-14 12:54] dwertent commented on #80
@RothAndrew , @lftgl  I've added a basic documentation and some examples you can find [here](https://github.com/armosec/kubescape/tree/dev/examples/exceptions#kubescape-exceptions) .

[2021-11-14 12:54] #80 closed

[2021-11-15 08:44] echoblag commented on #228
Thank you, that totally did the trick!

[2021-11-15 13:14] dblbirdie opened #233 "Scanning form stdin is broken"
It seems that scanning from stdin is broken in the current version. The file test.yaml is a valid Kubernetes manifest (e.g., [this example](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment)).

[code]

Expected result: Same output. No errors.

[2021-11-15 16:31] dwertent commented on #233
@dblbirdie Thank you for pointing it out.
Will be fixed ASAP

[2021-11-16 08:50] Daniel-GrunbergerCA commented on #224
Thank you @lyssar  for pointing out this issue. We fixed it on the latest version of the nsa framework.

[2021-11-16 08:50] #224 closed

[2021-11-17 19:15] agentpoyo opened #236 "Scan NSA Framework Exposed Dashboard Passes on v2.0.0 when expecting Fail"
When scanning  the NSA FRAMEWORK against a cluster, I've purposely installed dashboard v2.0.0 to do some tests for the [cnf-testsuite](https://github.com/cncf/cnf-testsuite) and it's passing; expectations are it should be failing based on the container image version detected.

Container Version for kubernetes-dashboard:
[code]

Method to install the dashboard:
[code]

Here is the test results from

[2021-11-18 08:23] dwertent commented on #236
@agentpoyo Thank you for notifying us about this issue.
We will look in to it :)

[2021-11-18 09:45] leonidsandler commented on #236
Hi @agentpoyo, while we are checking this issue, can you please confirm that your dashboard is exposed via either "NodePort" or "LoadBalancer" service type?

[2021-11-18 15:12] agentpoyo commented on #236
Let me check as I was doing the basic install of the dashboard based on the k8 docs and running it via kubectl proxy command I believe.

[2021-11-18 15:27] SmartGuyy commented on #220
If you can, please update me here when they reply to you, it would be great to know if we need to upgrade to a newer major version or not to fix this vulnerability.

[2021-11-18 16:16] agentpoyo commented on #236
So by default they used ClusterIP but once I changed to NodePort, I could get this to error in our cnf-testsuite.
![exposed_dashboard_error](https://user-images.githubusercontent.com/14348948/142453789-598253ae-4466-40ef-b895-a2c69cabd04e.png)

[2021-11-18 20:31] yonahd commented on #19
@slashben possibly you can use the implementation of the kubernetes psp to check non root. This is defined here I believe https://github.com/kubernetes/kubernetes/blob/master/pkg/security/podsecuritypolicy/user/nonroot.go

[2021-11-19 11:27] leonidsandler commented on #220
Of course, I have submitted the issue there few days ago. Will let you know when they answer.

[2021-11-19 22:36] lee-b opened #237 "Support standard CI test report formats"
Please support common report output formats, like xUnit.  Currently, outputting to a file results in an ANSI dump of what would normally be output to the console.  Machine-readable formats are needed.

[2021-11-19 22:53] judexzhu opened #238 "output json file too large"
Hi, I used the json file output and found it is too large, over 2GB a single file one cluster

![image](https://user-images.githubusercontent.com/17834225/142700885-9c35451b-d9c0-47f6-917d-cdf8a8c6f48f.png)

is there any possibility to exclude the Kubernetes resource metadata into the output json?

Also, it's too large to submit to SAAS too, around 3600 objects

![image](https://user-images.github

[2021-11-19 23:07] lee-b commented on #237
Never mind; found the output format config option.  Would suggest defaulting to one of the non-prettyprinter options when outputting to a file.

[2021-11-21 07:03] dwertent commented on #238
@judexzhu Thank you for sharing.
1. We are working on sending the data using pagination, this should solve the submit issue.
2. I agree with you, the json file is to large. I'm thinking of a way of decreasing the size without breaking backward compatibility, do you have any suggestion?

For now, you can swap the [call to print](https://github.com/armosec/kubescape/blob/master/resultshandling/resul

[2021-11-21 08:34] dwertent commented on #233
@dblbirdie Fixed has been released :)

[2021-11-21 08:34] #233 closed

[2021-11-21 08:39] dwertent commented on #237
@lee-b  Thanks for your suggestion.
Since there are 4 different output formats, we prefer keeping the default format the same and let the user specify the preferred format when saving to a file :)

[2021-11-21 08:39] #237 closed

[2021-11-22 13:44] dblbirdie commented on #233
@dwertent Thanks for looking into it. I can confirm that everything works again. 👍

[2021-11-23 00:03] judexzhu commented on #238
@dwertent Thanks for your help. I'm not a developer, so if I misunderstand something please forgive me.

I tried to swap the line 30  with line 32-34,(go build and run again) but the output file size looks like the same

but if I replace `resultsHandler.printerObj.ActionPrint(opaSessionObj)`  with `resultsHandler.reporterObj.ActionSendReport(opaSessionObj)`, the output file is just empty. Sorry if

[2021-11-24 14:09] agentpoyo commented on #236
Having a deeper understanding of security myself, a majority of the attacks on systems are actually compromised within the company, organization and network. I think it makes sense to alert or fail this version on all levels if an attacker can gain unprivileged access to the systems. My two cents. :+1:

[2021-11-25 16:10] leonidsandler commented on #236
Hi @agentpoyo, this is really good point. Clearly external exposure is way more dangerous than internal, but both are indeed important. NSA was specifically talking about the external exposure danger, so we took it "literally". We now have another framework called ARMO Best. It is our own framework where we can broaden the boundaries without breaking backward compatibility. Stay tuned, we will mak

[2021-12-01 09:50] #104 closed

[2021-12-01 09:51] #103 closed

[2021-12-02 05:00] extensure123 opened #246 "Incorrect stats in the results Summary table"
The earlier versions of kubescape displayed the number of controls (21) and correct resource count sum for failed resources, all resources. However, the latest version I installed v1.0.132 is NOT displaying the number of controls (now 22) and the correct sum of failed resources (8) and all resources (16) that gives a misleading %success figure. Please see the screenshot below.

![image](https://us

[2021-12-02 08:09] dwertent commented on #246
@extensure123 The previous versions counted the resources using a simple sum function so the summery counter was not a unique resource count.
e.g. If the same Deployment failed in three controls, the summery will counter was three although only one resource failed.
In the new versions, kubescape uses an unique resource count this way the summery is more accurate.

We are working on a better score

[2021-12-02 08:09] #246 closed

[2021-12-02 08:20] leonidsandler commented on #220
Well, still no straight answer from AWS about https://github.com/awslabs/amazon-eks-ami/releases/tag/v20210830 release, but we can see that they have updated their AMI to 1.19.5 in this release - https://github.com/awslabs/amazon-eks-ami/releases/tag/v20211109. So I guess the best course of action to is to switch to the new AMI. I doubt AWS will provide any more details on the earlier releases. Th

[2021-12-02 08:20] #220 closed

[2021-12-02 09:56] vishalgoyal16444 commented on #246
@dwertent : Thanks for clarifying. If you see the screen shot which we attached, it says 8 for FAILED RESOURCES. In the table, we can see 5 different policies failed for these 8 resources always. In this case showing a total of 8 does not really help - right ?

[2021-12-02 10:23] dwertent commented on #246
@vishalgoyal16444 Right, the summary can be ether 8 or 40 (5*8), but because the number that is displayed is a counter of resources, we think it's better counting a resource once and not multiple times.
Also, if you fixed the resource in one of the controls, but the rest of the controls are still failing, the number of failed resources remain the same since those resources are still failing.

As I

[2021-12-02 10:26] vishalgoyal16444 commented on #246
Thanks @dwertent for sharing the thoughts. This helps. We have been keenly looking at leveraging Kubescape and glad to see this being actively developed and enhanced. Will wait for next updated version. If you are fine, please do share more details regarding the developing risk-score mechanism.

[2021-12-02 14:03] extensure123 commented on #246
Thanks @dwertent. Yes, it will be helpful to get more details regarding the risk-score mechanism.
"_Also, if you fixed the resource in one of the controls, but the rest of the controls are still failing, the number of failed resources remain the same_" - so effectively the % Success needle will not move in my next analysis run even if I may have fixed a few controls (not all) against that resource

[2021-12-02 15:29] dwertent commented on #246
Correct.

[2021-12-02 20:52] pmcgrath commented on #48
Just tried this, and I do not see it working as expected, unless I'm missing something

Version info
[code]

Test scenario
[code]

Test run - just including the bottom of the output
[code]

Lets check the exit code
[code]

So seeing a few things here, I did not expect
- Indicates, I failed the threshold as expected, but also outputs the usage text
- Exit code is still 0

[2021-12-03 19:56] annerajb opened #247 "include-namespaces shows nothing if more than a single namespace is passed."
## Info

* Software Version  v1.0.132
* Platform Linux ubuntu

## Summary
It seems the ability to select a single namespace broke the ability to choose more than 1.

### Failure runs
`kubescape scan framework nsa --include-namespaces 'ns-a,ns-b,ns-c'`

`kubescape scan framework nsa --include-namespaces 'ns-a,'` (left comma on purpose at the end to make it run the split logic)
Will present only clu

[2021-12-05 11:55] dwertent commented on #247
@annerajb  Thank you for pointing out this issue. I pushed the fix, it will be available next release :)

[2021-12-06 08:48] leonidsandler commented on #246
Hi, this algorithm is still being developed. It will show you a risk score in which we take a percentage of failed controls out of the possible worst case. For example, if you have only one control checking for privileged PODs and one out of ten PODs is failed, your risk score will be 10; if two failed, the risk score will be 20. It is relatively easy to explain on single control example, but when

[2021-12-08 08:23] developer-guy opened #259 "validate Helm Charts"
IDK, there is active support to do, but it'd be nice to validate Helm Charts by using kubescape. AFAIK, kubescape can validate manifest files, so to make it compliant with validating Helm Charts would be very easy because once we run the `helm template,` then we have all the manifests managed through Helm Chart, then pass those to the kubescape to validate.

cc: @dentrax

[2021-12-08 08:28] developer-guy commented on #259
feel free to assign it to use if you agree with the idea 🙋🏻‍♂️

[2021-12-08 09:07] dwertent commented on #259
@developer-guy I'm not sure I understood you correctly, do you mean scanning the generated templates? If so, I added [here](https://github.com/armosec/kubescape#scan-helm-charts---render-the-helm-chart-using-helm-template-and-pass-to-stdout) an example

[2021-12-08 09:09] developer-guy commented on #259
nice @dwertent! The thing is lets break down this logic into kubescape directly without requiring to run `helm template` first, for example, accept a Chart path, and do the same under the hood, makes sense?

[2021-12-08 09:26] dwertent commented on #259
@developer-guy Why is it necassery? Is there a reason you want kubescape to render the template?

I'll explain my concerns and please feel free to share your thoughts -
1. If you have an issue rendering the helm template (wrong version/spelling issues or any other reason) it is not the responsibility of Kubescape to handle the error, you might not understand why it's not working
2. There are flags

[2021-12-12 16:18] dwertent commented on #57
Thank you @ohadm2 , Scan kubescape with `--verbose` flag ->

![image](https://user-images.githubusercontent.com/64066841/145720275-a36c8883-bad5-4e30-ab90-29ec2754dc24.png)

[2021-12-12 16:18] #57 closed

[2021-12-12 16:20] dwertent commented on #247
@annerajb  The fixed has been released.
Please let us know if you encounter any other issue :)

[2021-12-12 16:20] #247 closed

[2021-12-12 17:51] ohadm2 commented on #57
Very cool.

Thanks alot!

Regards,

On Sun, Dec 12, 2021 at 6:19 PM David Wertenteil ***@***.***>
wrote:

--
Ohad Malichi

[2021-12-13 06:16] dwertent commented on #259
Closed since I did not receive any response

[2021-12-13 06:16] #259 closed

[2021-12-13 06:17] dwertent commented on #105
@Daniel-GrunbergerCA Did you implement this?

[2021-12-13 06:18] dwertent commented on #102
@Daniel-GrunbergerCA  Did you implement this?

[2021-12-13 06:53] Daniel-GrunbergerCA commented on #105
@dwertent  yes, it will be on the next release

[2021-12-13 06:55] Daniel-GrunbergerCA commented on #102
@dwertent Meanwhile for EKS and GKE

[2021-12-13 11:56] SmartGuyy commented on #238
Hello @rotemamsa, i just had the same issue when doing a Kubescape scan with latest version (only for MITRE scan), it also happens when doing scan with your helm chart :

HTTP-ERROR: '413 Request Entity Too Large', BODY: '<html>
<head><title>413 Request Entity Too Large</title></head>
<body>
<center><h1>413 Request Entity Too Large</h1></center>
<hr><center>nginx/1.17.8</center>
</body>
</html>
',

[2021-12-13 19:45] magikid opened #265 "Unable to submit report for local YAML file"
# What happened

I was trying to scan my k8s yaml file using the following command.
[code]

The command runs and I see results but at the end, errors out giving the following error message:
[code]

I'm not really sure what to do about this as I see no place for me to set the cluster's name.  Curiously, saving the results to a JSON file and then submitting that works just fine.

[code]

[2021-12-13 21:55] dwertent commented on #265
@magikid You are right, the submitting features where designed for submitting cluster results and not for submitting yaml files results, I think the main reason is because the SaaS version displays the results per cluster and when you scan yamls the SaaS version will not display the results so there is no purpose of submitting them.

When you ran `$ kubescape submit results results.json` did you h

[2021-12-14 08:03] slashben commented on #265
hi @magikid , as @dwertent  said, we are not yet supporting it. It is in our roadmap :)
we are going to start doing roadmap meeting where we do feature design discussions, I'd love to have your input on this there. Would you like me to send an invite?

[2021-12-14 09:24] uncycler opened #266 "Framework fails to download with v1.0.134"
With v1.0.134, framework fails to download:

[code]

[2021-12-14 10:02] dwertent commented on #266
@uncycler Thanks. I'm on it!

[2021-12-14 11:26] dwertent commented on #266
Fixed and published. Thank you

[2021-12-14 11:26] #266 closed

[2021-12-14 11:40] uncycler commented on #266
it's all good, thx!

[2021-12-15 07:56] dwertent commented on #238
Reopening this issue since we did not complete the report pagination

[2021-12-15 19:56] magikid commented on #265
@dwertent No, I didn't have a cluster running in the same environment.

@slashben Thank you for the offer but no thanks.  One of my co-workers mentioned this tool so I was just taking it out for a spin.

[2021-12-16 13:46] ThijsBorst opened #273 "400 bad request missing clusterName"
I'm using the helm install for Kubescape and when this runs, I'm getting the following error:

`https://report.armo.cloud/k8s/postureReport?clusterName=&customerGUID=xxxxxx&reportID=xxxxx, HTTP request failed. URL: '/k8s/postureReport?clusterName=&customerGUID=xxxxxx&reportID=xxxxxx', HTTP-ERROR: '400 Bad Request', BODY: 'missing cluster name', HTTP-HEADERS: map[Content-Length:[20] Content-Type:[t

[2021-12-19 08:01] dwertent commented on #273
Thank you @ThijsBorst. Can you please share the command you ran so I can investigate?

[2021-12-20 09:14] ThijsBorst commented on #273
Hi @dwertent ,

I just ran the helm script:

`helm --debug upgrade --install armo armo/armo-cluster-components -n armo-system --create-namespace --set accountGuid=[ACCOUNT_ID] --set clusterName=[CLUSTERNAME]`

Then after in the scanner job the error shows at the bottom in the logs. It doesn't show the command it tries to run. It just shows the error above...

[2021-12-20 11:25] dwertent commented on #273
@ThijsBorst Thank you. I will reproduce and fix :)

[2021-12-21 08:32] marioosh11 opened #276 "Resources in table are not properly counted"
When we do a scan we see that kubescape counts wrong scaned resources.
Based on attached screen example:
EXCLUDED RESOURCES are counted as 1 but should be 3
ALL RESURCES are counted as 2 but should be 24
![ResultTable](https://user-images.githubusercontent.com/19182661/146897510-9c9fd5a8-7558-45bd-8207-6b2f53f08e5f.jpg)

[2021-12-21 13:25] dwertent commented on #276
@marioosh11 The number of resources you see in the resource summary (last row) is the number of UNIQUE resources. This means, if you scanned a single resource and that resource failed in all of the controls so each control will report that resource has failed but in the resource summary there was only a single resource scanned there for only one resource can fail.

This might be confusing as you c

[2021-12-21 16:31] slashben commented on #273
@ThijsBorst , we cannot reproduce this by ourselves. Can it be that your actual cluster name contains special characters?

in any case, we can hop on a 10m call with you for debugging this if you are ok with it

[2021-12-21 19:27] ThijsBorst commented on #273
Well, I'm on holiday from tomorrow. So that will have to wait, but I've got two instances with the same problem now.

[2021-12-21 20:19] slashben commented on #273
Sure, happy holydays!

[2021-12-22 12:34] marioosh11 commented on #276
Ok thanks for explanation.

[2021-12-22 12:34] #276 closed

[2021-12-23 10:54] Moskovych opened #281 "Get rid of `latest` tag in all versions"
All packages in the github releases: https://github.com/armosec/kubescape/releases contains `-latest`.

doesn`t matter which version you are downloading, it is always latest.....a bit confusing, isn't it?

[2021-12-23 11:03] dwertent commented on #281
@Moskovych You are correct. Thank you :)

[2021-12-23 13:51] mario-ezquerro opened #282 "Export to pdf"

[2021-12-23 13:51] mario-ezquerro commented on #282
Export to pdf

[2021-12-23 15:08] dwertent commented on #282
Thank you @mario-ezquerro for the feature recommendation. However, this is not in our road-map therefor will probably take a while until we get to it, but if you wish to take matters in your own hands and contribute you are more than welcomed!

Please let me know if so and I will be more than happy to show you exactly where you can integrate the PFD support :)

[2021-12-24 07:56] mario-ezquerro commented on #282
Uhps! no PFD it is  PDF, export the state to PDF, sorry

[2021-12-24 09:59] pentago opened #284 "Homebrew package fails to install"
Not possible to upgrade due to failed checksums:

![error](https://i.imgur.com/sYxjHDF.png)

[2021-12-26 06:33] dwertent commented on #284
@pentago Thanks, I fixed it.
Can you please confirm it's fixed?

[2021-12-26 06:36] dwertent commented on #282
Yes, I was assuming you meant PDF... 😅

[2021-12-26 10:29] pentago commented on #284
Yep, all good. Thanks!

[2021-12-26 10:29] #284 closed

[2021-12-28 05:05] tks98 opened #287 "3rd party container registry integration"
Hello Kubescape team,

I received an email outlining some contribution areas for Kubescape. I specifically saw an ask for integrations with 3rd party container registry APIs and vulnerability scan results.

Recently I have been doing a lot of development work with the Harbor container registry https://goharbor.io, specifically utilizing their APIs to create tools which trigger and analyze vulnerab

[2021-12-28 20:53] slashben commented on #287
Hi @tks98

You made an impressive discussion starter :)

First, I'd like to give an answer of "why" to integrate Kubescape with container registries.

1. We are planning to create controls which take into account image vulnerabilities, example: looking for public internet facing workloads with critical vulnerabilities. These are seriously effecting the security health of a cluster and therefore we

[2021-12-29 05:07] tks98 commented on #287
Thanks for the quick reply @slashben! I think the high level functionality outlined here makes a lot of sense for 3rd party registry integration. I'll message the discord with further questions as I start implementing these for harbor.

[2021-12-29 06:13] slashben commented on #282
@mario-ezquerro , what would you like to see in a PDF report?

[2021-12-29 07:57] JDemler opened #288 "Running kubescape on clusters yaml produces "empty list of workloads""
While `kubescape scan framework nsa` works as expected getting the clusters yaml first and then running it through kubescape produces `empty list of workloads - no workloads found`:

[code]

[2021-12-29 10:35] dwertent commented on #288
This issue is because the object returned from kubectl is of kind `List` while kubescape does not support that kind.

I fixed the issue in our [dev branch](https://github.com/armosec/kubescape/blob/dev/resourcehandler/filesloader.go#L217) this should be supported next release.

Thank you @JDemler  for finding the issue.

FYI, I do not recommend scanning a cluster this way. Normally when scanning a

[2021-12-29 12:44] mario-ezquerro commented on #282
It would be nice to use in audits, if you first have a summary of the problems ordered by priority, and then find it in detail.
What if instead of PDF it is in MD, and then everyone who exports it as they want? What do you think, what can be more useful ..

[2021-12-30 08:14] sprathod369 opened #290 "Data export and publishing cluster or YAML scan results on UI"
It's great to have released the user-friendly UI as part of kubescape and I'm trying to explore this functionality. I've 2 questions
1) Please let me know on what specific data (or metadata) get exported out from the local environment as part of running the scan & publishing the vulnerability results on UI? Any sensitive data gets exported as part of using --submit=true & --account parameters that

[2021-12-30 08:31] vishalgoyal16444 commented on #265
We want the same feature. To be able to see YAML file scan results on SaaS platform.

[2021-12-30 08:46] slashben commented on #287
@tks98

Please check out https://github.com/armosec/kubescape/blob/dev/docs/proposals/container-image-vulnerability-adaptor.md

Comments are welcome!

[2021-12-30 10:15] dwertent commented on #290
Thank you @sprathod369 for asking this questions, evidently this two points are not clarified enough.

1. Kubescape removes any sensitive data before submitting ([implementation](https://github.com/armosec/kubescape/blob/3fad2f3430cd9cabb468b6f67999779a85e9eda5/opaprocessor/processorhandlerutils.go#L109)). We consider sensitive data:
    - Field `data` in kind `Secret`
    - Field `data` in kind `

[2021-12-30 10:37] slashben commented on #265
@vishalgoyal16444 , we are in design phase. Would you be ready for 1 on 1 discussion to check if our proposed SaaS solution makes sense to you?

[2021-12-30 11:15] slashben opened #292 "Cannot scan HELM charts with all controls/frameowrks"
Running `helm template <mychart> | kubescape scan -` fails while `helm template <mychart> | kubescape scan framework nsa -` works as expected

[2021-12-30 12:15] dwertent commented on #292
We do not support input from stdin/yaml files when scanning all frameworks.
This is because the command `scan` is expecting to receive a command `framework`/`control` and not args

[2021-12-30 13:02] Willena opened #293 "Provide binary installation for other processor architectures"
A time of writing, the binary is only available for AMD64 architecture.
Would it be possible to also provide other binary arch, such as ARM and ARM64 ?

[2021-12-30 14:06] dwertent commented on #293
Same issue as #195.

Do you have an example of this? If you wish you are more than welcome to contribute this support :)
I do not understand why the build of macos  in [GitHub actions](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#github-hosted-runners)  is not on ARM

[2022-01-02 09:32] slashben commented on #282
@mario-ezquerro , MD makes life much more easy for Kubescape , I will take is as a feature request

[2022-01-04 07:48] sprathod369 commented on #290
Thank you @dwertent - appreciate your inputs. It helps!!

[2022-01-04 07:48] #290 closed

[2022-01-04 14:48] clintmod opened #295 "Output degradation - Only serviceAccount is printed and not the attack vector (serviceAccount-role-roleBinding)"

[2022-01-04 14:50] clintmod opened #296 "Spelling error Namescape should be Namespace"
https://github.com/armosec/kubescape/blob/3fad2f3430cd9cabb468b6f67999779a85e9eda5/resultshandling/printer/summeryhelpers.go#L25

[2022-01-04 14:57] clintmod commented on #295
v1.0.135 works correctly… so I'll change the title from v1.0.137 to v1.0.136 where it was introduced

[2022-01-04 18:20] clintmod opened #297 "flipping fail threshold is a breaking change"
If I have a pipeline with -f currently set to 100 to fail if any check fails it will silently never fail if I upgrade.

You should create a new name for the flag or rev up to 2.0 with a breaking change notice.

[2022-01-04 20:14] slashben commented on #290
@sprathod369 , we have put the UI support for YAML scanning on the development pipe, so you will have it soon :) We are looking for users to validate our design for this feature. Would you be ready to discuss one on one?

[2022-01-04 21:04] clintmod commented on #295
After looking at this a bit more I think I am only seeing kind `ServiceAccount` show up in the excluded namespaces.

[2022-01-05 08:48] jonaskint opened #298 "Slack Integration Token Length"
Hi, I'm testing out kubespace and tried out the Slack integration. I was following the documentation on the https://portal.armo.cloud/settings/integrations/slack page but ran into an error where my bot token is apparently the wrong length.
Is there anything that I'm overlooking or did I run against a bug?

[code]

[2022-01-05 11:57] slashben commented on #298
@jonaskint we are checking, what is the length of your token?

[2022-01-05 12:29] slashben commented on #295
We are checking

[2022-01-05 12:41] slashben commented on #298
thanks! that helps a lot, there seems to be some misunderstanding on our side about the length. We will get back soon!

[2022-01-05 12:55] jonaskint opened #301 "Helm deployed kubescape cronjob config read issue"
I'm trying to set up the armo-collector setup on our k8s clusters and ran into an issue with the kubescape cronjob. When the scan finishes, it's complaining about the account ID and cluster name not being set. I'm currently tracking down where this issue could originate myself, but I'll post some extra information here in the meanwhile.

Part of the log:
[code]

I deployed everything through helm

[2022-01-05 13:19] slashben commented on #297
Hi @clintmod , you are right. This is a breaking change. Let me explain what happened.

We have developed Kubescape with a very specific risk score calculation in our mind. The formula is designed to give you a ratio of what is wrong in your cluster vs what could go wrong.

Before we released the Kubescape in August/September we saw that the risk score calculation did not work good enough and drop

[2022-01-05 13:20] dwertent commented on #296
@clintmod  Thank you. Will be fixed!
If you wish, you can contribute by opening a PR to the `dev` branch with a fix :)

[2022-01-05 13:21] slashben commented on #297
Also, we will bump the major version

[2022-01-05 13:24] #288 closed

[2022-01-05 13:42] turowicz opened #302 "What to do with all the vulnerabilities?"
After running on our development cluster the scanner has found tons of critical issues in images. The problem is that those images mostly are open source images from docker hub. For example, ElasticSearch has 53 critical vulnerabilities. Is there any way of mitigating other than dropping those images or raising the issues with the developers?

[2022-01-05 14:06] slashben commented on #301
@jonaskint , found the problem we are fixing

[2022-01-05 14:35] leonidsandler commented on #302
Wojtek, you raise very painful question that probably everybody have to ask themselves. There is no silver bullet for this. On the simplest level the image scanner tells you which vulnerability has a fix available, but this alone probably will not solve your problem.
Patching is recommended of course, but you probably ask yourself where to start. Well, I would recommend to start those vulnerabilit

[2022-01-05 15:09] slashben commented on #301
@jonaskint , there was an issue in the helm chart we released in the last days. I release a new version (1.2.5) of the helm chart "armo-components", which fixes the issue. Can you please update and verify?

[2022-01-05 15:14] amirkCA commented on #302
Wojtek, feel free to contact me. I am looking for design partners around the issue you described.  amirk@armosec.io

[2022-01-05 15:24] slashben commented on #301
@dwertent @LiorAlafiArmo , is this related to the report refactoring?

[2022-01-05 16:24] JDemler commented on #288
Works as expected! Thank you @dwertent for this fast fix!

[2022-01-05 16:30] slashben commented on #298
@jonaskint , we have pushed fix to our backend, can you please verify?

[2022-01-05 19:32] slashben commented on #301
@jonaskint , we are working on a real fix, in the meantime I am trying a temporary fix. Do you mind retrying?

[2022-01-05 20:02] jonaskint commented on #301
@slashben I retried with the same setup and got the same error

[2022-01-05 20:10] jonaskint commented on #298
Yes, that change seems to have fixed it!

[2022-01-05 21:31] dwertent commented on #301
@slashben Well this is a known issue #238 .
As we are commenting I'm working on using a pagination method for submitting the data. We will release it ASAP
@jonaskint  Thank you for sharing

[2022-01-05 21:53] dwertent commented on #295
Thank you @clintmod
I tested the `exclude-namespaces` on latest and previous versions of kubescape and I don't see a difference in the behavior. However, we have some degradation in the display and that is probably confusing you.

I will explain - When using `exclude-namespaces`, the kubescape request from the k8s-api is similar to `kubectl get --field-selector=metadata.namespace!=kube-system` and

[2022-01-06 09:38] #298 closed

[2022-01-06 12:44] echoblag commented on #98
Hello @slashben , I'm a little late to this thread, but ran into the same problem of a mutated release and unexpected breakage.

We run Kubescape through a CI pipeline. Since the agents are ephemeral a fresh copy of a specified version is downloaded.

I am currently opting for the same solution as @RothAndrew and checksumming the binary.

I can see both sides of the coin in terms of the v1.0.134 a

[2022-01-06 17:47] clintmod commented on #296
@dwertent PR created

[2022-01-06 18:10] clintmod commented on #295
@dwertent yep that answers it… we can close this ticket… I'm going to open a new one because I'm having problems ignoring the ServiceAccounts

[2022-01-06 18:10] #295 closed

[2022-01-06 18:12] clintmod opened #306 "How do I ignore ServiceAccounts?"
Let's say I have this failure:

[code]
I would expect this ignore file to ignore the service accounts...
[code]
Is this an incorrect assumption?

[2022-01-06 18:14] clintmod commented on #306
I've also tried to exclude them by name… but this doesn't work either…

[code]

[2022-01-06 19:22] clintmod commented on #306
Seems like I also can't ignore CronJob, Job, Groups, ValidatingWebhookConfiguration, User, ConfigMap… I can't even exclude these by name.

[2022-01-06 19:28] clintmod commented on #306
The only workaround I have right now is to exclude the control globally with
[code]

[2022-01-07 05:58] saiyam1814 opened #307 "Add contributors to Readme"
Add Contributors to Readme

[2022-01-07 08:46] vishalgoyal16444 commented on #265
@slashben : We had a call with Amir from your team yesterday and discussed what we are doing and discussed this point as well on YAML. It was great to know from Amir on new things coming up and we look forward to it.

Have started exploring SaaS platform recently and will check the same in detail.

[2022-01-07 12:48] dwertent commented on #306
Hi @clintmod.
The reason the exceptions are not working for you is because you are using `.*` in the control name field. You can see [here](https://github.com/armosec/kubescape/tree/master/examples/exceptions#definitions) the fields that are supported by regex. I will add regex support also in the `posturePolicies` fields, but for now this is not supported.

What I suggest (for now) is to add the

[2022-01-08 13:51] saiyam1814 opened #310 "Add Kubescape playground"
Add a Kubescape playground to test our Kubescape

[2022-01-08 19:15] clintmod commented on #306
Thanks

[2022-01-08 19:15] #306 closed

[2022-01-09 11:00] #310 closed

[2022-01-09 13:35] slashben commented on #98
@echoblag , I am still a bit confused about the original issue.

Are you saying that binary at `https://github.com/armosec/kubescape/releases/latest/download/kubescape-${osName}-latest` is mutating or a specific version is mutating, like `https://github.com/armosec/kubescape/releases/download/v1.0.130/kubescape-ubuntu-latest`?

[2022-01-10 10:00] echoblag commented on #98
@slashben as best as I can tell the CI pipeline was consuming v1.0.130 and for no reason started failing because certain exception rules were no longer being read with no changes made to either the exceptions json file or the Kubescape version.

The only time I have seen breaking changes is when switching between versions and figured it was worth mentioning as it might be a change to the v.1.0.130

[2022-01-10 11:16] slashben commented on #98
@echoblag , thanks.

I assume it v1.0.130 has changed (out of nowhere) from your description

I want to go through with this till I understand what is happening, will keep you posted

[2022-01-11 07:37] turowicz commented on #302
Thanks for the response - it all makes sense @leonidsandler

[2022-01-11 07:37] #302 closed

[2022-01-11 07:58] #296 closed

[2022-01-11 07:58] #307 closed

[2022-01-11 19:31] slashben commented on #297
@rotemamsa , note the request for bumping the major version!

[2022-01-11 19:35] slashben commented on #287
@tks98

We have done some progress and developing the first adaptor implementation. It is still in our own branches but it will be published in `dev` branch by the end of week.
(preview: https://github.com/slashben/kubescape/tree/master/container-images)

[2022-01-11 19:46] tks98 commented on #287
@slashben Thanks for the update! Once the adaptor implementation is finalized I can adjust my harbor adaptor to fit that spec. So far have the ability to authenticate, trigger scans, and receive vulnerability information for images in the harbor registry.

[2022-01-17 12:11] swanand-gadre opened #318 "kubescape fails with [Error] failed to init host sensor"
kubescape is failing with following error

[root@ssc-vm-g2-rhev4-2905 ~]# kubescape scan framework nsa -e kube-system,kube-public,calico-system,tigera-operator,kube-node-lease,calico-apiserver --enable-host-scan
ARMO security scanner starting
[progress] Installing host sensor
[Error] failed to init host sensor
Warning: failed to get policies from github release, loading policies from cache
Warning

[2022-01-17 12:21] slashben commented on #318
@swanand-gadre , hi!
We have been experiencing issues around the frameworks and controls in the last 18 hours (see https://github.com/armosec/regolibrary/actions/workflows/export.yaml) and they should've been fixed ~3 hours ago.

Do you still seeing these issues?

[2022-01-17 12:24] swanand-gadre commented on #318
Thanks @slashben

It started working

But I am still seeing this error

---------------

[root@ssc-vm-g2-rhev4-2905 ~]# kubescape scan framework nsa -e kube-system,kube-public,calico-system,tigera-operator,kube-node-lease,calico-apiserver --enable-host-scan
ARMO security scanner starting
[progress] Installing host sensor
[Error] failed to init host sensor

[2022-01-17 12:30] slashben commented on #318
@swanand-gadre , what is the type of your cluster? Is it a managed cluster? Do you have some policy engine in place? (like OPA-Gatekeeper or Kyverno)

[2022-01-18 08:03] Dentrax opened #320 "proposal: consider make result metrics colorful for `% RISK-SCORE` by passing --color flag"
For example;
* if `% RISK-SCORE` **==** `0%` then make _text_ color `green`
* if `% RISK-SCORE` **>=** `30%` then make _text_ color `yellow`
* if `% RISK-SCORE` **>=** `70%` then make _text_ color `red`
* if `% RISK-SCORE` **==** `100%` then make _background_ color `red`
* if `% RISK-SCORE` **==** `100%` then make _background_ color `red`
* if `% RISK-SCORE` **==** `skipped` then make _background_

[2022-01-18 10:31] swanand-gadre commented on #318
Hi @slashben

Thanks for quick response.

I am using kubernetes cluster
Regarding policy engine, no I am not using policy engines.

I am closing this issue now, that I am able to scan

Regards
Swanand

[2022-01-18 10:31] #318 closed

[2022-01-18 11:23] Dentrax opened #321 "proposal: auto-generate rego & cue policies against vulnerability results"
**proposal:** _auto-generate repo or cue policies for the vulnerabilities & risks that found by kubescape._

---

**Motivation**

Kubescape is a great and easy tool to find vulnerabilities and report to dashboards. But...

Kubernetes itself are insecure by default. [^1] The role of policy engines, it to easier to apply blanket policies to all the Kubernetes clusters, reducing the risk of errors. (

[2022-01-18 13:13] slashben commented on #320
Nice idea! I like it!

Would you like to contribute? We can help with the code

[2022-01-19 01:13] ZacHaque opened #327 "Ingress and Egress blocker complaining a deploy yaml - C-0030 - Ingress and Egress blocked"
I am scanning a deployment yaml  -

Command ran -
`kubescape scan framework nsa deploy.yaml`

Content of deploy.yaml
[code]
**Expected** :  Risk score 0%
**Actual result** : getting Risk score 100% for **Ingress and Egress blocked**

How C-0030 applies here when deployment definition does not specify network policy. I tired to put a all deny network policy in the same yaml file,  with with selecto

[2022-01-19 01:30] ZacHaque commented on #297
Are we talking about **f**=format or **t**=fail-threshold ?

[2022-01-19 09:17] developer-guy opened #328 "sign kubescape binaries and container images with cosign"
[cosign](https://github.com/sigstore/cosign) is a tool that allows you to sign and verify container images, blobs, etc. with using public/private key pairs or without key (keyless) by taking the strength of the Transparency Log. You can learn more about the project from its official website [here](https://chainguard.dev/posts). So, we'll be using cosign with a keyless approach to make kubescape bi

[2022-01-19 09:17] developer-guy commented on #328
please feel free to assign it to me. I'm willing to work on it.

[2022-01-19 09:19] developer-guy opened #329 "provide additional information when a vulnerability ties to CVE"
Let's assume that we've run kubescape in our cluster and found an issue related to [CVE-2021-25741](https://nvd.nist.gov/vuln/detail/CVE-2021-25741), as you can see from the link, there is a detailed section for hyperlinks to provide additional information about the CVE such as issue link, mail groups, etc. So, what I'm proposing is that we can provide them or add a CVE link to let people know mor

[2022-01-19 09:43] slashben commented on #297
fail-threshold

[2022-01-19 13:20] slashben commented on #327
@ZacHaque , good point. We are checking!

[2022-01-19 13:23] slashben commented on #328
@developer-guy sounds like a great initiative

[2022-01-19 13:24] slashben commented on #328
@developer-guy please target our dev branch in PRs

[2022-01-19 13:37] Bezbran commented on #329
Hi, @developer-guy , great idea!!!
I like it.
We can add the link to the CVE in nvd.nist.gov to the control description.
What do you think?

[2022-01-19 13:47] developer-guy commented on #329
SGTM @Bezbran, please feel free to assign it to me, I can take care of that one ☝️

[2022-01-19 13:58] Bezbran commented on #329
TNX @developer-guy ,
Please open the PR against armosec dev branch

[2022-01-19 14:00] Bezbran commented on #329
The controls descriptions can be found here:
[ARMO rego library](https://github.com/armosec/regolibrary)
e.g. [https://github.com/armosec/regolibrary/blob/dev/controls/CVE-2021-25742-nginx-ingress-snippet-annotation-vulnerability.json](https://github.com/armosec/regolibrary/blob/dev/controls/CVE-2021-25742-nginx-ingress-snippet-annotation-vulnerability.json)

[2022-01-19 17:56] jadamsHCBB opened #333 "panic: runtime error: index out of range [0] with length 0 in ADO"
I am getting the below output when attempting to run the kubescape scan command. This step is inside of a template from a repo
that ran fine before I added the script to a template. The script is below:

[code]

It then spits this out:

[code]
Not really sure what is happening. Any help would be appreciated.

[2022-01-20 02:53] qgervacio commented on #333
Encountered same too.

[code]

[2022-01-20 05:51] ibidani opened #335 "Submit Kubescape to CNCF Landscape"
CNCF Landscape is a dictionary for Kubernetes tools, seems like Kubescape will be a great addition for extra visibility of this great tool.
Here is how to request to be added https://landscape.cncf.io/guide#introduction--what-is-the-cloud-native-landscape

[2022-01-20 09:22] slashben commented on #333
thanks guys sending this issue, we are looking into it

[2022-01-20 09:24] slashben commented on #301
@jonaskint hi!

We had a big release yesterday, also Kubescape and the Helm chart. Can you please verify that the issue with "Request entity too large - 413"?

[2022-01-20 09:33] slashben commented on #335
@ibidani , thanks :)

Kubescape has been submitted to CNCF sandboxing, hopefully it will be accepted at the next TOC meeting.

[2022-01-20 12:18] rotemamsa commented on #297
version was bumped

[2022-01-20 12:18] #297 closed

[2022-01-20 12:21] rotemamsa commented on #238
hi there @SmartGuyy  , we just released new kubescape version with pagination support,
please, check that out with this issue- and update the results.

[2022-01-20 15:17] slashben commented on #174
@RothAndrew , check out the new UI :)

[2022-01-20 15:17] #174 closed, assigned to nobody

[2022-01-20 17:16] mcolladoio opened #336 "Kubescape scan on rbac fail"
With the latest version of kubescape (2.0.141), I am getting the below error on my scans on the kubernetes cluster.

[code]
CLI Version: 2.0.141
MacOS Monterry 12.1 - M1

Ref: #149

[2022-01-20 21:30] developer-guy opened #339 "use github.repository_owner instead of hardcoded repository name"
In build GA, I saw that kubescape uses a hardcoded repository name called "armosec" which causes a problem when someone wants to test GA in his fork, so, changing it with github.repository_owner seems a better option to solve this.

[2022-01-20 22:32] charlrvd commented on #327
I think I am in a similar situation at the moment where I wanted to pass that control and added network policies for all my deployments.
I can see the control is passing for the NetworkPolicy templates but still fails for the related deployments, even though they have the proper matchLabels.
[code]
I expected the initial error on my deployment to be caused by the lack of NetworkPolicy to be associ

[2022-01-21 05:23] slashben commented on #328
@developer-guy I'll check it, thanks!

please open the PR against our dev branch

[2022-01-21 09:36] alegrey91 commented on #282
Hi @dwertent, @slashben, I would be interested to know how to integrate the PDF or MD support. If I can, I'll try to do this.

[2022-01-22 17:33] Daniel-GrunbergerCA commented on #327
Hello @ZacHaque
I am trying to reproduce your issue. I used the following yaml for it:

[code]
It seems to work fine (it passes control 0030 for this resources) both when running kubescape against the cluster and against the yaml file.
Can you please send your yaml file with deployment and network policy so I can reproduce it?
Thank you

[2022-01-23 02:43] ZacHaque commented on #327
@Daniel-GrunbergerCA Thanks a lot daniel, Above example works fine. does not flag risk-score.
Here below is my example to reproduce the issue.

But I found if I define the namespace on both resources, then looks all good. Leaving the namespace out would cause error, although both resources should default to `default` namespace. Anyways not big issue, we should always specify namespace anyways.

`a

[2022-01-23 06:20] slashben commented on #282
@alegrey91 , sounds great!

Please be in touch with @dwertent so he can help you with the ramp up!

[2022-01-23 17:32] slashben commented on #339
good point!

[2022-01-24 06:58] developer-guy opened #342 "use github actions output parameter to save container image tag instead of saving it to file"
We can use the GA's output parameter syntax to save container image tag instead of saving it to file
[here](https://github.com/armosec/kubescape/blob/master/.github/workflows/build.yaml#L77).

[2022-01-24 07:01] developer-guy opened #343 "enable Go linting by using golangci-lint"
Use [golangci-lint GA](https://github.com/golangci/golangci-lint-action) to increase the quality of the code.

[2022-01-24 13:49] rotemamsa commented on #336
hi there!
we just released a hotfix version with a fix for RBAC usage. please check it out and replay if all as expected.

BR,
Rotem

[2022-01-24 15:31] mcolladoio commented on #336
hi there!
Everything is working fine!
Thanks

[2022-01-24 15:31] #336 closed

[2022-01-24 16:36] alegrey91 commented on #282
@dwertent let me know how you would like to integrate this functionality.

[2022-01-26 08:15] dwertent opened #349 "Summary is missing for each control"
In previous versions (`v1.0.137`) kubescape printed a summary for each control:
![image](https://user-images.githubusercontent.com/64066841/151126485-b5b39e11-6dbd-4abe-afd3-0cc20d9d0ef5.png)

Looks like it is missing from the new version

[2022-01-26 12:57] wim-de-groot commented on #333
Right now it is assumed that the a `[rule report](https://github.com/armosec/kubescape/blob/c00bc0ebbb354d454db0fe8beb8fab7f0768499a/resultshandling/printer/v1/junit.go#L110)` at  index 0 is away present, but that is not the case.

My solution to this problem would be to extend the [if](https://github.com/armosec/kubescape/blob/c00bc0ebbb354d454db0fe8beb8fab7f0768499a/resultshandling/printer/v1/ju

[2022-01-26 20:08] slashben commented on #333
Sure, open a PR against our "dev" branch and @dwertent  will review, thx!

[2022-01-27 05:01] shifulbd commented on #113
[root@k8-build ~]# curl -s https://raw.githubusercontent.com/armosec/kubescape/master/install.sh | /bin/bash
Installing Kubescape...

######################################################################## 100.0%

Finished Installation.

**/bin/bash: line 53: kubescape: command not found**
pls suggest to resolved this.

[2022-01-27 08:40] Dentrax commented on #321
For example, according to the results we can generate [Kyverno policies](https://github.com/kyverno/policies) (YAML) or [Gatekeeper policies](https://github.com/open-policy-agent/gatekeeper-library) (Rego) in the predefined format.

cc @JimBugwadia @sozercan

[2022-01-27 11:29] Dentrax opened #352 "Consider use GoReleaser to release binaries"
[GoReleaser](https://github.com/goreleaser/goreleaser) builds Go binaries for several platforms, creates a GitHub release and then pushes a Homebrew formula to a tap repository.

Currently we use [build.yaml](https://github.com/armosec/kubescape/blob/master/.github/workflows/build.yaml) to build and release the binaries. By implementing GoReleaser, we can create way better and efficient build & re

[2022-01-28 11:54] sprathod369 opened #353 "Error installing the Helm chart as part of image scanning"
I'm trying to install the Helm chart to explore the image scanning (beta) & RBAC (beta) feature as part of vulnerability scan in my K8s environment.
However the installation fails as there seems to be some failure with post-install as seen below
[code]

Another attempt to install but this time there seems to be some failure with post-upgrade hooks as seen below
[code]

Post installation validation

[2022-01-30 05:54] dwertent commented on #353
Hi @sprathod369 , it looks like an issue pulling the images. The images are public, so I'm not sure why you are encountering such an issue in your cluster.
Please check the event message when running the `kubectl describe` ->
[code]

[2022-01-30 07:17] dwertent commented on #352
Hi @Dentrax  this is interesting but unfortunately I will not have time to rewrite the build.yaml.
If you wish to contribute you are more than welcome 😃

[2022-01-30 07:39] dwertent commented on #343
Thank you @developer-guy  for the suggestion.
I think the `golangci-lint` is an excellent tool, but I think it's should be run at the development stage and not on CICD.

[2022-01-30 07:39] #343 closed

[2022-01-30 08:15] dwertent commented on #320
@Dentrax this is a good idea.
We need to think exactly where to print these colorful results, where you referring to the summary table or the detailed results?
Also, we need to think of the color scheme when the `--fail-threshold` flag is in use

[2022-01-30 08:20] dwertent commented on #301
Fixed

[2022-01-30 08:20] #301 closed

[2022-01-30 08:21] dwertent commented on #238
Fixed

[2022-01-30 08:21] #238 closed

[2022-01-30 09:21] #349 closed

[2022-01-30 09:21] #333 closed

[2022-01-31 10:44] sprathod369 commented on #353
@dwertent - Thanks for the inputs.
Based on the event message, it seems I'll have to troubleshoot the certificate issue and investigate further on issue pulling the image (firewall blocking them on my side or something else)

`Failed to pull image "quay.io/armosec/k8s-ca-dashboard-aggregator-ubi:183": rpc error: code = Unknown desc = Error response from daemon: Get "https://quay.io/v2/": x509: cer

[2022-02-01 15:26] xdavidel opened #357 "Kubescape path search"
In some cases where the file that's being targeted for scanning is located in a directory with a lot of sub directories and files - Kubescape start to walk across all available paths.

Ran into it by scanning a file located at $HOME.
Kubescape version: v2.0.144

[2022-02-02 16:31] zohebs341 opened #358 "kubescape is not scanning Node parameters -kernel.unprivileged_userns_clone(Azure AKS)"
Regarding CVE-2022-0185

I’m using kubescape to scan AKS worker nodes. But it is not scanning the below parameter.
Does kubescape support AKS nodes scanning - Like Scanning Node Kernel Parameters like "kernel.unprivileged_userns_clone"

I have tested the same use case in Azure AKS 1.21.7 version

OS Image- 18.04.6 TLS
Kernel-version: 5.4.0-1065-azure

Updated the parameter by logging into each nod

[2022-02-03 07:31] dwertent commented on #358
@slashben The control tests node data and not kernel data from the host sensor

[2022-02-03 11:17] slashben commented on #358
@Bezbran , is this parameter scanned by the host sensor?

[2022-02-04 09:11] developer-guy commented on #352
you can assign it to me @dwertent, I'll take care of that

[2022-02-05 09:25] leonidsandler opened #362 "Broken link in the --exceptions section"
GitHub page has a broken link (https://github.com/armosec/kubescape/blob/master/examples/exceptions.json) in the --exception section in the table.

[2022-02-07 08:50] alegrey91 commented on #282
@dwertent what do you think to add a flag like `--export` where available options are `pdf` and `md`.

[2022-02-07 09:08] dwertent commented on #282
@alegrey91 I think we should use the `--format` flag so it will look as following: `--format pdf --output results.pdf`/`--format md --output results.md`
I think this is a great suggestion and you are more than welcome to contribute this feature 😄

If you wish we can setup a session and discuss how and where. In short, you can add [here](https://github.com/armosec/kubescape/tree/dev/resultshandling

[2022-02-07 09:14] dwertent commented on #292
@slashben Thank you.
Run `helm template <mychart> | kubescape scan framework all -`, this will work.

[2022-02-07 12:11] dwertent commented on #353
@sprathod369 Did you manage to fix this? I see similar issues where opened [on kubernetes](https://github.com/kubernetes/kubernetes/issues/43924) and [here](https://github.com/bitnami-labs/sealed-secrets/issues/332)

[2022-02-07 18:22] george-obr2p commented on #132
Hi every one.
Seems that kubescape still sends data as default.
I've run it with the following command:

```kubescape scan --enable-host-scan > ~/kubescape_report.txt```

Then I get results like
```You can see the results in a user-friendly UI, choose your preferred compliance framework, check risk results history and trends, manage exceptions, get remediation recommendations and much more by regi

[2022-02-07 21:37] alegrey91 commented on #282
Thanks, @dwertent. I'll take a look asap. I'll write you if I need to discuss the implementation.

[2022-02-08 07:30] dwertent commented on #132
@george-obr2p Is this the url in the end of the message: `https://portal.armo.cloud/cli-signup`? If so, the data is not submitted
Is this your case are that you see a different url?

[2022-02-08 07:52] george-obr2p commented on #132
@dwertent  yes, also there is this similiar url in the end of the message,
also I can see data there
```https://portal.armo.cloud/risk/<my-cluster-name>```

I've tried to delete data in portal.armo.cloud, reinstall kubescape from scratch on my device.
Still it pushes data to portal.armo.cloud

[2022-02-08 08:03] dwertent commented on #132
@george-obr2p By default kubescape does not submit your data, but if you submitted your data once, by default kubescape will submit your data next runs also if you do not explicitly add the `--submit` flag.
If you wish to no longer submit your data, you can ether scan with the `--keep-local` flag or delete the kubescape configmap (in your default namespace) and the config file `~/.kubescape/config

[2022-02-08 14:36] #105 closed

[2022-02-08 14:36] dwertent commented on #102
@slashben Is this issue still relevant?

[2022-02-09 08:04] slashben commented on #102
This can be closed, we can open another issue for AKS support

[2022-02-09 11:46] sboschman opened #374 "Docker container for v2 still thinks it is v1"
Container with latest v2 tag complains it is not the latest version, see #215 as well.

[code]

I guess the [Dockerfile](https://github.com/armosec/kubescape/blob/master/build/Dockerfile#L6) needs a version bump.

[2022-02-09 12:02] #265 closed

[2022-02-09 12:02] #273 closed

[2022-02-09 12:02] #292 closed

[2022-02-09 12:02] #342 closed

[2022-02-09 12:02] #357 closed

[2022-02-09 12:02] #362 closed

[2022-02-10 07:17] neblen opened #376 "[fatal] open /root/.kubescape/nsa: no such file or directory"
When I use kubescpae to scan k8s cluster in a offline enviorment, there is a error.
[code]

[2022-02-10 07:35] anjuls opened #377 "Kubescape vscode extension not working in Mac"
I am trying out the kubescape extension in vscode in Mac Pro (M1 Pro Chip) but after installation, I am getting a pop up that `Platform darwin is not supported`. However, I can run kubescape using homebrew.
Is there any suggestion on how this can be fixed or how we can point vscode to use the existing installation of Kubescape?

[2022-02-10 07:52] dwertent commented on #376
Hi @neblen and thank you for asking.

This message, `Warning: failed to get policies from github release, loading policies from cache` indicates kubescape failed to download the `nsa` framework, please check your network connectivity.

For the offline support, you first need to download the artifacts where you have a network connection and then copy the downloaded artifacts to the offline environm

[2022-02-10 07:59] neblen commented on #376
@dwertent  Thank you very much! Just now，I download nsa.json with Internet and copy nsa.json to offline enviornment。Finally kubescape work rightly.

[2022-02-10 07:59] #376 closed

[2022-02-10 08:03] dwertent commented on #376
I will update the docs that there should not be a misleading :)

[2022-02-10 08:18] dwertent commented on #374
Thank you @sboschman for pointing this out.
Will be fixed next release :)

[2022-02-10 08:21] xdavidel commented on #377
Hi, vscode-kubescape developer here.

Talks a lot for letting us know.
We'll investigate and hopefully will have a solution soon.

[2022-02-10 12:07] neblen commented on #376
That's great! Maybe some people have the same problems as me.

[2022-02-10 14:02] xdavidel commented on #377
We think the new version would fix your problem.
It's supposed to be available by now.

[2022-02-10 14:33] #374 closed

[2022-02-12 07:34] zohebs341 commented on #358
@slashben Hi Ben, Microsoft's response on CVE-2022-0185

MS Response: the kernel with release number 5.4.0-1067-azure contains the fix for the CVE 2022-0185.

Please check Github and you will find my comments with the name "zohebs341" - https://github.com/Azure/AKS/issues/2749#issuecomment-1036604811

Now, I've upgraded AKS Node images and I am using the same Node Image suggested by Microsoft. But

[2022-02-12 17:06] dwertent commented on #358
Thank you @zohebs341 , we will investigate this.
@Bezbran Can you please take look? The error logs do not look good

[2022-02-12 17:12] dwertent commented on #282
@alegrey91 Sure, I will reach out to you on Linkedin :)
This is a good question, we are working on updating the output to v2.
In short - v1 output is mapping controls to resources and v2 output is mapping resources to controls.

[2022-02-13 06:01] slashben commented on #358
@zohebs341 hi! Do you mind sending us how your `kubctl get nodes -o yaml` looks like, especially the Linux version part.

I afraid Azure did not bump to the latest kernel release, but took the kernel patch directly from the specific source file and rebuilt kernel with 5.4. It will be hell to detect fix if this is what cloud vendors are doing. We have to see how the kernel version number changed.

[2022-02-13 08:17] zohebs341 commented on #358
@slashben Hi Ben, please find the details.

kubectl get nodes -o custom-columns=NAME:.metadata.name,IMAGE:.metadata.labels."kubernetes.azure.com/node-image-version",KERNEL:.status.nodeInfo.kernelVersionNAME IMAGE KERNEL

aks-agentpool-30873716-vmss00000i AKSUbuntu-1804gen2containerd-2022.01.24 5.4.0-1067-azure

aks-agentpool-30873716-vmss00000j AKSUbuntu-1804gen2containerd-2022.01.24 5.4.0-1067-az

[2022-02-13 08:19] zohebs341 commented on #358
@slashben please find the previous version details(before upgrade)

kubectl get nodes -o custom-columns=NAME:.metadata.name,IMAGE:.metadata.labels."kubernetes.azure.com/node-image-version",KERNEL:.status.nodeInfo.kernelVersion
NAME IMAGE KERNEL

aks-agentpool-30873716-vmss00000f AKSUbuntu-1804gen2containerd-2022.01.19 5.4.0-1067-azure

aks-agentpool-30873716-vmss00000g AKSUbuntu-1804gen2containerd

[2022-02-13 09:40] zohebs341 commented on #358
@slashben Response from Microsoft Kernel Team on versioning:

We basically have two different version numbers: the kernel release number (5.4.0-1067-azure) and the debian package version (5.4.0-1067.70). The Ubuntu CVE and USN pages will list the debian package version that fixes the vulnerability, not the kernel release number.

The debian package version is composed by the upstream major version

[2022-02-13 18:13] avinashupadhya99 opened #387 "Display reasons for skipping a control"
When a scan is performed, a few controls are skipped if not applicable or for other reasons. It would be helpful to know why the control was skipped.

[2022-02-13 18:19] avinashupadhya99 opened #388 "Control C-0069 is skipped in a standard GKE cluster"
The Control [C-0069](https://hub.armo.cloud/docs/c-0069) is skipped in a standard GKE cluster with the `--enable-host-scan` flag as well.

![image](https://user-images.githubusercontent.com/52544819/153768824-65d1af0c-0e9d-439a-b61f-09154e8b5645.png)

[2022-02-14 06:53] dwertent commented on #353
I am closing this issue since it is not a kubescape issue but a proxy/FW configuration

[2022-02-14 06:53] #353 closed

[2022-02-14 06:57] #102 closed

[2022-02-14 08:02] Bezbran commented on #388
Hi @avinashupadhya99 , thanks for pointing this out.

Looks like this is the same issue as #388, so we will investigate them both and will back to you.

[2022-02-14 08:57] lamenawuer opened #389 "armo-vuln-scan pod are evicted"
When deploying this as a cronjob in kubernetes random arno-vuln-scan pods are evicted due to disk pressure:

Pod logs:
[...]
│ Status:  Failed
│ Reason:  Evicted
│ Message: The node was low on resource: ephemeral-storage. Container armo-vuln-scan was using 7197816Ki, which exceeds its request of 0.
[...]

Node logs:
[...]
| Normal   NodeHasDiskPressure    21m (x25 over 8d)  kubelet  Node <my_node_

[2022-02-14 11:35] Daniel-GrunbergerCA commented on #327
@ZacHaque
I have fixed this control. Can you check it and confirm if  it works as expected?
Thank you

[2022-02-14 12:49] ZacHaque commented on #327
Thanks @Daniel-GrunbergerCA i will test and confirm.

[2022-02-14 22:57] ZacHaque commented on #327
Working all good, thanks @Daniel-GrunbergerCA.
I have used above YAML with namespace off, with kubescape version  v2.0.147

[2022-02-14 22:58] #327 closed

[2022-02-14 22:58] ZacHaque commented on #327
resolved

[2022-02-15 18:25] dwertent commented on #389
Hi @lamenawuer , in general the vulnerability component downloads the vulnerabilities db so it does require some memory.
But if I understood correctly it using more than 7gb, this is unusual.
Are you running a particularly large cluster? Approximately how many workloads are running in the cluster?

[2022-02-17 06:32] dwertent opened #391 "Risk score is 0 when using `--use-artifacts-from` flag"
When I run `kubescape scan --use-artifacts-from ~/.kubescape` the results are:
![image](https://user-images.githubusercontent.com/64066841/154418583-355bd6b4-f890-4e06-845e-25772e1ce17a.png)

But when I run `kubescape scan --use-from ~/.kubescape/nsa.json` it looks ok:
![image](https://user-images.githubusercontent.com/64066841/154418745-df01da52-2df5-4275-bb59-95ecb13e65a1.png)

[2022-02-17 14:15] lamenawuer commented on #389
Hi @dwertent thanks for your answer. My infrastructure isn't particularly big. Right now there are none as when I turn on kubescape it just starts evicting pods... But if it were on there is only one pod for the vulnerability scan active at a time

[2022-02-18 05:37] slashben commented on #19
This check has been redesigned in the latest release.

The rule is verifying that:
* runAsNonRoot is set to true
* or runAsUser is set to other then 0
* and allowPrivilegeEscalation is set to true

See https://github.com/armosec/regolibrary/blob/master/rules/non-root-containers/raw.rego

[2022-02-19 19:31] jsa2 opened #397 "option disable createTenant when using the offline scan option"
It seems, that even in offline scan mode the tooling tries to contact the api.armo.cloud and certain AWS endpoint. I am using WSL2. Obviously it could also be possible, that some of the CMD arguments are not working properly?

[code]
![image](https://user-images.githubusercontent.com/58001986/154816136-71795f2a-2eb5-4c18-96be-56b3d6b6eebb.png)

[2022-02-20 04:32] avinashupadhya99 opened #398 "Kubescape version in Docker image is not defined correctly"
The version of Kubescape in the official docker image is defined as `image_version` when it should be `v2.0.147`.

![image](https://user-images.githubusercontent.com/52544819/154828485-330feb9c-11ec-419f-af77-d238f4c094d5.png)

This results in `Warning:  'kubescape' is not updated to the latest release: 'v2.0.147'` when scans are run using the docker image.

[2022-02-20 04:34] avinashupadhya99 commented on #398
I'm happy to take a look at it and create a PR for the same

[2022-02-20 07:31] avinashupadhya99 commented on #398
Closed in #399

[2022-02-20 07:31] #398 closed

[2022-02-20 08:51] dwertent opened #400 "Add Kubescape to packages management for easier installation"
Songlin Jiang (@HollowMan6) is [an LFX mentee for the Kubescape project](https://mentorship.lfx.linuxfoundation.org/project/138e9cac-ec86-43cb-a04f-c2980e3c2865) for [Term 1 2023](https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2023/01-Mar-May).

The primary goal is to ensure that when a new release is made in this repo, the most commonly used installation methods are available:

- Over

[2022-02-20 09:17] dwertent commented on #397
Hi @jsa2, I noticed this behavior a few days ago and [fixed it](https://github.com/armosec/kubescape/pull/392).
It should be fixed next release :)

[2022-02-20 17:39] Lucifergene commented on #320
I want to work on this issue.

[2022-02-20 19:33] #98 closed

[2022-02-20 19:33] #397 closed

[2022-02-21 05:01] jsa2 commented on #397
Hi dear kubesec maintainers, to me it seems, that it still tries to create new tenant.

These are the options are I am using

[code]
With the aforementioned settings I still get the following POST attempt in the logs and wireshark (I've set the names to localhost in offline scans to not get the timeout delay)

`` Post "https://report.armo.cloud/k8s/v2/postureReport?clusterName=""n&customerGUID=""4

[2022-02-21 05:42] dwertent commented on #397
@jsa2 It is possible the previous version left some cached data.
Can you please run `kubescape config delete` before running the `scan` command?
Please keep me updated on this :)

[2022-02-21 06:14] dwertent commented on #281
Hi @Moskovych , I understand this might be confusing but we do not want to break backward compatibility. So for now we wont change the name of the release file

[2022-02-21 06:14] #281 closed

[2022-02-21 06:19] dwertent commented on #320
@Lucifergene Sure!
If you wish we can set a meeting and discuss the matter :)

[2022-02-21 06:28] dwertent commented on #389
@slashben @Bezbran  Do we have any lead over here?

[2022-02-21 06:35] jsa2 commented on #397
This is from fresh Ubuntu install. (Appreciate your quick support on this again :) )

The cmd arguments are as follow

[code]
![image](https://user-images.githubusercontent.com/58001986/154901518-08a4f268-6315-495d-a392-e19183a95420.png)

[2022-02-21 06:49] dwertent commented on #397
Thank you @jsa2  for reporting this issue.
I'm trying to understand what is going wrong.

What do you see when you run:
1. `kubectl describe configmap kubescape`
2. `cat ~/.kubescape/config.json`
3. `kubescape config view`

If there is an accountID, please replace the account by `xxx` before posting here

[2022-02-21 07:01] jsa2 commented on #397
Hi,

Pasted screencap here

![image](https://user-images.githubusercontent.com/58001986/154904870-be68f8e5-9743-4969-a228-bebe1b5324d0.png)

[2022-02-21 07:04] dwertent commented on #397
Well then there is cache in the cluster (configmap).
Run `kubescape config delete` and it should be ok

[2022-02-21 07:09] jsa2 commented on #397
Ok, I am just wondering where the cache is coming from, as this was fresh installation. Perhaps it looks, if the test cluster I had is on an existing account that was submitted and populates the cache on installation?

[2022-02-21 07:10] jsa2 commented on #397
Anyway, I shall test now and report back

[2022-02-21 07:16] jsa2 commented on #397
Thx, that seemed to solve it. Still seems to look for something related to the version. Ill add something to the startup script.

func NewVersionCheckHandler() *VersionCheckHandler {
	return &VersionCheckHandler{
		versionURL: "https://us-central1-elated-pottery-310110.cloudfunctions.net/ksgf1v1",
	}
}
![image](https://user-images.githubusercontent.com/58001986/154906388-12dc7e76-37f1-40df-8b8e-91

[2022-02-21 07:20] dwertent commented on #397
Yes, once you submit the cluster results, the cache is stored in the configMap so a single cluster will report results to the same account and not different accounts.
If you no longer wish to report results you can scan with the `--keep-local` flag or remove the cache with `config delete`.

Regarding the version check -> Kubescape checks if there is a new version released. You can disable the vers

[2022-02-21 07:20] Bezbran commented on #388
Hi @avinashupadhya99, should be fixed in the new release [v2.0.148]https://github.com/armosec/kubescape/releases/tag/v2.0.148).
Just tested it on my own GKE cluster:
![image](https://user-images.githubusercontent.com/5871018/154906844-069ed1b4-0cb5-4d00-ac20-9cae3f999fd1.png)

Can you please check it and confirm it is OK?

[2022-02-21 12:13] dwertent commented on #389
Thank you @slashben .
@lamenawuer  Please update the helm chart

[2022-02-22 07:56] dwertent commented on #236
Closing since this control is following the NSA guidelines [as explained](https://armoui.eustage2.cyberarmorsoft.com/)

[2022-02-22 07:56] #236 closed

[2022-02-22 09:51] wim-de-groot opened #409 "JUnit reporting marks excluded as failed."
**Problem**
The exceptions seem not to be formatted in the right way while reporting in junit format. If the reporting is set `pretty-printer`, the exclusion seems to be taken in account and the risk score is 0. Also, its seems that the exclusion is taken in account but not printed in the right way. The failed resources are marked as 0 but it is still marked as a failure in Azure DevOps. Also it s

[2022-02-22 12:51] dwertent commented on #409
Thank you @wim-de-groot .
We will look into this.

[2022-02-22 14:48] avinashupadhya99 opened #411 "`kubescape --help` is not working as intended"
When I run `kubescape --help`, I expect to see the list of available commands and the flags that can be used with the `kubescape` command.

Expected output -
[code]

Actual output -
[code]

Looking at the actual output, it is not clear when to use these *flags* or if these are really flags.

[2022-02-22 16:55] avinashupadhya99 commented on #388
I can confirm that the control is being scanned now but I noticed that it says `Passed: 6` in the screenshot that you've attached. Is that for each node?
![image](https://user-images.githubusercontent.com/52544819/155180244-4642fc65-084b-4b59-b456-69577cef2a3f.png)

[2022-02-22 19:32] #388 closed

[2022-02-23 04:53] avinashupadhya99 opened #412 "kubescape scan control/framework fails with unclear error for empty non-second value"
kubescape scan control/framework fails with an unclear error if the framework/control is empty in the list of frameworks/controls other than the second one.
Example -
![image](https://user-images.githubusercontent.com/52544819/155263329-8082bc2d-fe5a-43b1-a6da-e6b3d8b5d054.png)

But shows a proper error message if the second value is empty -
![image](https://user-images.githubusercontent.com/52544

[2022-02-23 05:03] avinashupadhya99 opened #414 "kubescape does not submit to armo cloud for control scans"
Scanning specific controls in kubescape CLI does not submit to the ARMO cloud backend even with the presence of the `customerGUID` in the config and the usage of the `--submit` flag. Scanning specific frameworks submits the results to the ARMO cloud backend.
![image](https://user-images.githubusercontent.com/52544819/155264261-68531a9c-3811-4092-84e0-7ef285feb681.png)

[2022-02-23 07:14] dwertent commented on #411
Thank you @avinashupadhya99 for pointing it out.
The actual output should like the expected output

[2022-02-23 07:29] dwertent commented on #414
Hi @avinashupadhya99
By definition Kubescape does not submit the scan results when scanning a single controls. I will try to clarify this in the output message.
If you wish to submit the scan results of a single control, you can create a [custom framework](https://youtu.be/12Sanq_rEhs) with that control and scan the framework.
@rotemamsa According to the roadmap, will this behavior change in the f

[2022-02-23 07:54] amirkCA commented on #414
You can always place the control in a framework and submit it

[2022-02-23 09:08] avinashupadhya99 commented on #414
Thank you for clearing it. The video explained it really it well. Sorry for the confusion, I expected similar behaviour between frameworks and controls. I'm just curious about why the individual control scans are not submitted? This is not really an issue for me, just wanted to know the idea behind it.

[2022-02-23 09:23] lamenawuer commented on #389
I don't know why you closed this issue, I haven't yet reported that your update worked, which it didn't. I updated the helm version and the pods still make the node have the disk pressure state and thus get evicted again and again. I don't see how the new helm chart version will solve this problem... the deployment has no quota/resource management

[2022-02-23 09:47] amirkCA commented on #414
we decided to scan frameworks and show results per framework. This is the design we did. and it can solve all use cases including running a framework with a single control....

[2022-02-23 09:49] dwertent commented on #389
@lamenawuer  Sorry, my apologies. I was under the impression it had been solved 😕.

When you run -> `kubectl -n armo-system describe deployments.apps armo-vuln-scan`
Do you see the following resource limits:
[code]

If not, the helm was not updated.

If the helm was update, I will like to have a short session with you (if possible) so we can investigate this issue further :)

[2022-02-23 09:56] dwertent commented on #414
The SaaS is designed for following trends and risk score over time.
Because the risk-score is calculated in the framework scope, only results of frameworks are reported.

I'm happy to hear the video explains the topic, let me know if you think there are more videos I can create so I can cover more topics :)

[2022-02-23 09:56] #414 closed

[2022-02-23 10:13] lamenawuer commented on #389
@dwertent no worries, and thanks a lot for your reactivity. Indeed I see the ephemeral storage limit/request. When I was looking at the chart itself I overlooked the values. My output:
`    Limits:
      cpu:                1500m
      ephemeral-storage:  8Gi
      memory:             1000Mi
    Requests:
      cpu:                300m
      ephemeral-storage:  2Gi
      memory:             200Mi

[2022-02-23 20:14] clintmod opened #415 "Images from allowed registry"
[code]

I tried to set a local config file that looks like this:
[code]

I also tried a file that looks like this:
[code]

neither one seemed to work the check is still failing:

any ideas?

[2022-02-24 11:53] dwertent commented on #415
Hi @clintmod and thank you for asking.

First, you will need to [update your kubescape version](https://github.com/armosec/kubescape#install).

Next, do as following:

1. Download the control configuration file

[code]
    The configuration file will be downloaded and stored in the default cache directory -> `~/.kubescape/controls-inputs.json`
2. Edit the `~/.kubescape/controls-inputs.json` so it

[2022-02-24 16:01] ibidani commented on #335
Oops just realized I closed it accidently, sorry

[2022-02-24 16:57] dwertent commented on #389
@lamenawuer You can increase the requests to 8Gi (and also the limit). I guess that will patch the issue for now.
I can reach out to you, what is you email/linkedin?
Alternatively you can reach out to me to my [linkedin](https://www.linkedin.com/in/david-wertenteil-0ba277b9).

[2022-02-25 09:44] lamenawuer commented on #389
@dwertent I increased the disk size to a more fitting one and raised the ephemeral quota in the chart, and armo-vuln-scan rusn just fine!  You can close the issue,

Thanks a lot for your help and swiftness

[2022-02-25 09:44] #389 closed

[2022-02-25 12:58] falconcode16 commented on #320
Hey @dwertent ! I'm new to contributing. Where can I help in this issue?

[2022-02-25 13:37] Lucifergene commented on #320
Working on it!

[2022-02-25 15:14] Atharva-Shinde opened #417 "Unusual version warning while executing `kubescape version`"
I installed kubescape by running [these commands](https://github.com/armosec/kubescape#install-on-macos).

After executing `kubescape version` I get a warning "kubescape is not updated to the latest release: 'V2.0.148',
So I tried to upgrade by `brew upgrade kubescape` and got a prompt: `warning kubescape 2.0.148 already installed`

Here's a screenshot:
<img width="583" alt="Screenshot 2022-02-25

[2022-02-25 19:20] clintmod commented on #415
I don't have an account to download anything from… trying to set this up manually

[2022-02-26 09:59] avinashupadhya99 commented on #417
This seems to be an issue with the `brew` installation. The character `v` is missing at the start of the version. Regular installation does not seem to have this issue.

[2022-02-26 10:03] avinashupadhya99 commented on #400
Isn't `brew` already supported in https://github.com/armosec/homebrew-kubescape ?

[2022-02-27 06:50] dwertent commented on #320
@Lucifergene If you have any questions feel free to contact me dwertent@armosec.io :)
I am working on upgrading the output table as we speak, please clone the [dev branch](https://github.com/armosec/kubescape/tree/dev) and run kubescape with the `output-version v2` flag. Let me know what you think 🙃

@falconcode16 Thank you for your willingness to contribute :) If you wish to contribute other feat

[2022-02-27 07:35] dwertent commented on #400
@avinashupadhya99 It is, but we are having issues with it [as you noticed](https://github.com/armosec/kubescape/issues/417) 😏

[2022-02-27 10:37] Atharva-Shinde commented on #400
@dwertent I'm down to fix this issue. So, what exactly needs to be done to fix this and where could I possibly start?

[2022-02-28 13:06] sprathod369 opened #422 "Error installing the Helm Charts for Armo collector pods | Readiness probe failed: HTTP probe failed with statuscode: 503"
Installed the Helm chart to explore the image scanning in my K8s environment. However, as part of installation there seems to be some failure with "helm upgrade --install armo" command as seen below

[code]
Another attempt as part of helm upgrade command gives
`Error: UPGRADE FAILED: post-upgrade hooks failed: timed out waiting for the condition`

A quick status check on armo pods
[code]
kubectl -

[2022-02-28 13:12] dwertent commented on #422
Thank you @sprathod369 . I did not see this issue in the past. Is it possible your network is slow?
@Bezbran What are your thoughts regrading handling this is the future?

[2022-02-28 13:57] Bezbran commented on #422
Hi @sprathod369, as @dwertent mentioned, this isn't a common failure we saw so far.
One thing you can check is the connection to `*.armo.cloud` servers is opened in your Firewall.

In addition, if you can attach the pod logs it will be very helpful. Just hide any sensitive data before attaching it here.

[2022-03-01 06:49] sprathod369 commented on #422
Here are the pod logs for the collector @dwertent

[code]

[2022-03-01 07:34] Bezbran commented on #422
@sprathod369, thanks for the logs.
Is there any chance you have some MIDM whose change our original certificate to one of your own?

Here are the details of our certificate:

![image](https://user-images.githubusercontent.com/5871018/156124823-85b89f7a-8036-41a5-aa50-b68b8f1ec8a4.png)

[2022-03-01 12:21] sprathod369 commented on #422
@Bezbran - Not sure if I understand the above point. I have successfully performed the cluster scan (using all 4 frameworks) from this same kubernetes environment & I can see the results published on the UI at https://portal.armo.cloud/configuration-scanning/ So is there still a possibility that the connection to *.armo.cloud servers are blocked in the Firewall while attempting the image scanning

[2022-03-02 11:11] Bezbran commented on #422
Hi @sprathod369, can we set a call to check the situation?
Here is my email, bbrandwine@armosec.io, feel free to contact me.

Regarding the results on the UI, can you see the results of the daily scanning as well, or just your first scan?

[2022-03-02 17:48] dwertent commented on #415
Closing since I have not received a response. If you wish, feel free to contact me personally- dwertent@armosec.io

[2022-03-02 17:48] #415 closed

[2022-03-06 08:11] dwertent opened #430 "Proposal: Display images vulnerabilities scan results"
Kubescape already supports [pulling the image vulnerabilities scanning results](https://github.com/kubescape/kubescape/blob/master/core/pkg/resourcehandler/k8sresources.go#L67).
We should add the option of displaying these results in a `pretty-print`/`json` format.

If you wish to take this upon yourself, please contact [one of the maintainers](https://github.com/kubescape/kubescape/blob/master/MA

[2022-03-06 09:52] #282 closed

[2022-03-06 09:52] #391 closed

[2022-03-06 09:52] #409 closed

[2022-03-06 09:52] #411 closed

[2022-03-06 09:52] #412 closed

[2022-03-06 13:46] dwertent opened #434 "Flag for disabling colored output"
There are some terminals who do not display colored ouput properly. For such cases kubescape needs to support a flag (so as `--plain-output`) that when used, the output (stdout/stderr) will be without colors at all.

If you wish to take this upon yourself, please contact [one of the maintainers](https://github.com/armosec/kubescape/blob/master/MAINTAINERS.md) for more information 😀

[2022-03-06 13:47] dwertent commented on #417
@rotemamsa Are there any updates? Is this fixed?

[2022-03-06 13:49] dwertent commented on #358
@Bezbran Is [this PR](https://github.com/armosec/kubescape/pull/431) related?

[2022-03-06 13:53] dwertent commented on #329
We add a link for each control ->
![image](https://user-images.githubusercontent.com/64066841/156926227-c4cf342f-112d-46af-9988-73dacfd05192.png)

Are there any other suggestions?
@developer-guy @Bezbran

[2022-03-06 14:55] rotemamsa commented on #417
@avinashupadhya99 @dwertent still on it, there is an issue updating the brew just like that, investigating and ill update shortly

[2022-03-07 02:40] gromgit commented on #417
While the Homebrew PR is in progress, it should be noted that this:
https://github.com/armosec/kubescape/blob/7847a4593b21606204da5e422450bf21cddc4578/cautils/versioncheck.go#L100

is just wrong. Comparing versions as _strings_ fails when any version component rolls over into the next order of magnitude; did anyone noticed what happened when `2.0.99` got bumped to `2.0.100`?

For a quick-n-dirty f

[2022-03-07 10:17] dwertent commented on #417
Thank you @gromgit for pointing it out.
Will be fixed asap :)

[2022-03-07 21:02] slashben opened #436 "Develop AWS ECR image vulnerability adaptor"
Kubescape uses image vulnerability information to give enhanced security information about the cluster.

The code has been designed to support multiple vulnerability information sources, but for now only Kubescape SaaS is supported.

Need to implement AWS ECR adaptor to be able to read information from ECR.

See more about the adaptor design [here](https://github.com/armosec/kubescape/blob/master/

[2022-03-07 21:06] slashben opened #437 "Develop GCP GCR image vulnerability adaptor"
Kubescape uses image vulnerability information to give enhanced security information about the cluster.

The code has been designed to support multiple vulnerability information sources, but for now only Kubescape SaaS is supported.

Need to implement GCP GCR adaptor to be able to read information from ECR.

See more about the adaptor design [here](https://github.com/armosec/kubescape/blob/master/

[2022-03-07 21:10] slashben opened #438 "Implement Azure AKS integration for Kubescape"
Kubescape uses Kubernetes vendor information to give enhanced security information about the cluster.

As of today, it supports AWS EKS and GCP GKE APIs.

Need to add support for Azure AKS. Kubescape need the access to the cluster description API, see [here](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/get)

[2022-03-07 21:11] slashben commented on #438
@dwertent , can you please add an example implementation for contributors to look at? Thanks!

[2022-03-07 21:18] slashben opened #439 "Implement a graphic rich GitHub Action for Kubescape"
Many thanks to @avinashupadhya99 Kubescape has a GitHub action!

We want to extend this action to make it more useful for developers to track down the problems with their Kubernetes manifests. It should use the Javascript package of GitHub to create a useful graphical output of the action, where:
* All resources are listed, each of them are linked to the file in repo
* Control failures are listed

[2022-03-08 21:23] roberthstrand commented on #438
As mentioned in the [Azure Cloud Native meetup](https://www.meetup.com/azure-cloud-native/events/284200837/) with Amir today, we're very open to help in anything related to the Kubescape integration with Azure AKS. Feel free to reach out 🖖

[2022-03-09 05:49] dwertent commented on #438
Thank you @roberthstrand very much :)

[2022-03-09 07:13] rotemamsa commented on #417
Homebrew PR was approved, closing the issue.

[2022-03-09 07:13] #417 closed

[2022-03-09 12:26] Bezbran commented on #422
I see no comment regarding this issue anymore, assuming it was solved.

[2022-03-09 12:26] #422 closed

[2022-03-09 12:43] sprathod369 commented on #422
@Bezbran - Sorry for the tardy reply, was OOO for the past few days.
Regarding the results on the UI for cluster configuration scanning, I can see the historical results of the past few runs that I had triggered
The latest update on Image scanning is that I can see the collector pod running now (no longer see "CrashLoopBackOff" status) - network team helped me address this .... maybe a certificate

[2022-03-09 15:27] Bezbran commented on #422
Both web-socket and vuln-scan are required for image scanning.
Both are required egress access.
We are working on some list of servers should be opened in FW in order to make it works.
Send me a mail if you want us to take a closer look.

bbrandwine@armosec.io

[2022-03-10 03:11] Akasurde commented on #434
@dwertent Can we please close this since #445 is merged? Thanks.

[2022-03-10 06:54] dwertent commented on #434
@Akasurde I think it's better we close it when we release a new version :)

[2022-03-10 12:57] LiorHaim opened #446 "armo-vuln-scan pod CrashLoopBackOff"
Hello,

After installing using the helm chart, my armo-vuln-scan pod keeps crashing (CrashLoopBackOff).
After checking the logs I got this:
[code]

I also noticed that the OCIMAGE_URL variable was with an empty value, could it be related?

Thank you!

[2022-03-13 09:16] LiorHaim commented on #446
@Bezbran quay.io/armosec/k8s-ca-vuln-scan-ubi:117

[2022-03-13 10:05] Bezbran commented on #446
@LiorHaim, I see this is the last updated image.
Can you please attach the pod YAML here (delete any sensitive information like GUIDs or cluster name)?

Basically at the start of the container we are generating some anchor default config file in the container file system, then we are copy-pasting it for each container scan.
Looks like we can't find this default config file at the beginning, so I s

[2022-03-16 01:07] Danzig207 opened #453 "Hp laptop"

[2022-03-16 02:19] Danzig207 opened #454 "Ricky:$hit"

[2022-03-16 06:43] dwertent commented on #453
@Danzig207 ?

[2022-03-16 06:44] #453 closed

[2022-03-16 06:44] #454 closed

[2022-03-22 17:52] Bezbran commented on #446
@LiorHaim , I see no new comment for more than a week.
I guess the issue was solved.
Feel free to keep contact us for any improvement.

[2022-03-22 17:52] #446 closed

[2022-03-27 14:20] #434 closed

[2022-03-27 14:20] #387 closed

[2022-03-28 14:54] MrMahdi2001 opened #468 "Volume"

[2022-03-28 14:55] #468 closed

[2022-03-29 14:21] fvogl opened #469 "Error during host-scan on OpenShift"
With --enable-host-scan using a custom host-scan yaml file (to get it working in first place) on OpenShift I get this error from all daemonset PODs.

[error] failed to get data. path: /kubeletConfigurations; podName: host-scanner-5tzwr; error: an error on the server ("failed to sense kubelet conf: failed to LocateKubeletProcess: no process with given suffix found") has prevented the request from s

[2022-03-29 14:28] dwertent commented on #469
Hi @fvogl, can you please share the custom yaml? what did you change from the default yaml?

[2022-03-29 14:43] fvogl commented on #469
I've created a serviceaccount, used it in the daemonset spec, and gave it privileged access using
[code]

[2022-03-29 14:46] dwertent commented on #469
Thank you for reporting this. We will investigate :)

[2022-03-30 07:29] Bezbran commented on #469
Hi @fvogl , thank you for pointing this out.
We update the host-sensor so it will support kubelet in OpenShift hosts.

Please try again and verify it is fixed.

[2022-03-30 08:11] fvogl commented on #469
Thanks @Bezbran for the quick fix!

[2022-03-30 08:11] #469 closed

[2022-03-30 11:50] Bezbran commented on #469
You welcome

[2022-03-30 17:14] VarshaRuthu824 opened #470 "--fail-threshold throwing syntax error in recent version v2.0.150"
**Command**: kubescan control framework nsa -t 0
**Result:**
Error: scan risk-score 21.59 is above permitted threshold 0.00
Usage:
  kubescape scan control <control names list>/<control ids list> [flags]

Examples:

  # Scan the 'privileged container' control
  kubescape scan control "privileged container"

  # Scan list of controls separated with a comma
  kubescape scan control "privileged conta

[2022-03-31 05:50] dwertent commented on #470
Thank you @VarshaRuthu824 for opening this issue.
Will be fixed ASAP.

[2022-04-01 00:22] JustinYeoh93 opened #471 "Question: Authentication and Authorization methods when scanning cluster"
Hi there KubeScape community!

Thank y'all for this wonderful system, with this I am finally able to give quantifiable justifications on my cluster's security state.

I've been trying to build a CI/CD system that frequently scans the cluster (not just manifest) for security vulnerbalities.
Running a full cluster scan using a local `~./kube/config` is fine for local scanning, but when I want to do

[2022-04-04 12:16] ampc opened #475 "Invalid customer id"
$ kubescape download artifacts --output .
[error] error downloading. artifact: controls-inputs; error: http-error: '400 Bad Request', reason: 'invalid customerGUID: invalid UUID length: 12'
[error] error downloading. artifact: exceptions; error: http-error: '400 Bad Request', reason: 'invalid customerGUID: invalid UUID length: 12'

[2022-04-04 12:23] #475 closed

[2022-04-04 12:34] Bezbran commented on #475
Hi @ampc, basically this could happen when you are using some account ID didn't come from ARMO portal.
Deletion of kubescape folder deletes the kubescape config file with the corrupted account ID.

So can get a brand new valid account ID for free either by run `kubescape scan --submit` or by login into https://portal.armo.cloud/.

[2022-04-04 12:38] ampc opened #476 "Failed to get region"
When trying to execute `kubescape` with EKS cluster I get the following error

[code]

[code]

[2022-04-07 16:29] matsonkepson opened #478 "make an html output"
I see that there are many output formats but I am missing one.
I am pretty sure this would be useful to make an HTML output to run it within CI/CD integration pipeline.

[2022-04-07 16:37] matsonkepson opened #479 "run kubescape with --kubeconfig flag"
Allow to run kubescape with `--kubeconfig` flag like its done with kubectl tool.
to make the multicluster/multuser/namespace check more granular.

[2022-04-10 07:11] dwertent commented on #478
@matsonkepson  I agree with you :)
This is in our [roadmap](https://github.com/armosec/kubescape/blob/master/docs/roadmap.md#produce-mdhtml-reports) and open for contribution.

[2022-04-10 07:31] dwertent commented on #479
Hi @matsonkepson .
Kubescape already supports the `--kube-context` flag which is for scanning different contexts.
If you wish to include/exclude namespaces you can specify the namespaces with the `--include-namespaces`/`--exclude-namespaces` flags.
Do you have suggestions for other flags we can support?

[2022-04-10 07:32] dwertent commented on #476
@Daniel-GrunbergerCA  Any updates regarding this issue?

[2022-04-10 08:00] dwertent commented on #471
Hi @JustinYeoh93 , my apologies for not replying earlier.

We released a helm chart for running in your cluster! [Check it out](https://hub.armo.cloud/docs/installation-of-armo-in-cluster) and feel free to [contact us](https://github.com/armosec/kubescape/blob/master/MAINTAINERS.md) if you have any further questions :)

[2022-04-11 12:20] dwertent commented on #358
@Daniel-GrunbergerCA I'm assigning you to the investigation, it looks like the host scanner [requests the resources](https://github.com/armosec/host-sensor/blob/46a734792eb9017e5d1104703e7a93f230658419/httphandlers.go#L44)

[2022-04-11 12:48] #329 closed

[2022-04-11 12:48] #438 closed

[2022-04-11 12:48] #470 closed

[2022-04-11 13:42] 06kellyjac opened #485 "cmd binary committed to the repo"
https://github.com/armosec/kubescape/blob/master/cmd/cmd

[2022-04-11 13:55] 06kellyjac commented on #485
Nah, I'm updating kubescape in nixpkgs and I was checking if the go.mod had moved back out of the `cmd` dir. Then I noticed a file just called `cmd` which I was guessing was the binary which it was

[2022-04-11 14:20] #485 closed

[2022-04-11 14:20] Daniel-GrunbergerCA commented on #476
Hi @ampc
Thank you for pointing out this issue.

Kubescape tries to get your cluster region from the cluster name. I have updated this functionality. Can you please update to the current latest version (v2.0.151)  and confirm whether it works for you?

We also support reading cloud configuration from environment variables. On this case, you can set the KS_CLOUD_REGION environment variable to "eu-c

[2022-04-11 14:22] 06kellyjac commented on #485
While we're on the topic of nixpkgs it'd be a real lifesaver if you could tag all your tests that require networking e.g. the new https://github.com/armosec/kubescape/blob/master/core/pkg/resourcehandler/repositoryscanner_test.go

:pray:

We run the build/tests in a hermetic environment so it doesn't have network access. If a new test adds networking I need to add it to a list of files to delete.

[2022-04-11 22:24] ampc commented on #476
@Daniel-GrunbergerCA
Tested with the latest version and it's working. Thank you.

[2022-04-12 06:38] #476 closed

[2022-04-12 11:04] matsonkepson commented on #479
As I understand correctly to use `--kube-context` I need to be already logged in (like with `oc login` tool).

I have a practice of using multiple clusters assigned as aliases to my bash with builtin kubeconfig file like
`alias kt='kubectl --kubeconfig /mnt/c/work/secret/it-kube.conf '`
`alias kp='kubectl --kubeconfig /mnt/c/work/secret/ip-kube.conf '`
`alias kd='kubectl --kubeconfig /mnt/c/work/s

[2022-04-13 05:36] dwertent commented on #479
Oh I see.
Good idea. We will add support for `--kubeconfig` flag :)

[2022-04-14 06:07] dwertent commented on #479
@matsonkepson Since kubescape supports the `KUBECONFIG` env var you can set your alias as following:

[code]

[2022-04-14 18:49] Kanika637 commented on #478
Hey @matsonkepson, I would like to contribute, Could you please guide me on how to get started with this one?

[2022-04-22 14:15] Kanika637 commented on #439
I want to contribute to this issue, but as I am new to this project and the issue, could you please help me out @slashben?

[2022-04-23 19:13] slashben commented on #439
Hi @Kanika637 ! Let's talk on discord, ok?

[2022-04-25 11:45] Kanika637 commented on #439
Suree @slashben

[2022-04-26 08:40] alegrey91 commented on #479
Hi @dwertent! I'd like to take care of this in my free time. Can you explain how to integrate this flag (if you are still interested in adding support)?

[2022-04-29 18:09] mafalda-g-nunes opened #494 "Labels controls always triggered"
I'm using Kubescape (installed through [install.sh](https://github.com/armosec/kubescape/blob/master/install.sh)) to scan the following document:

[code]

I defined all default labels, but the "K8s common labels usage" and "Label usage for resources" controls always fail when I scan the file. Is there any mistake regarding the labels defined on the Kubernetes manifest previously described?

I don'

[2022-05-01 05:12] rajivml opened #495 "C-0016 validation doesn't check whether the value is true or false"
HI,

When we ran a scan against our cluster for C-0016 we are seeing lots of validation failures but when I browsed through the Yaml , I have noticed you guys just check for exists of allowPrivilegeEscalation field but don't check whether the value is true or false.

We have an OPA policy which expects every service owner to mark allowPrivilegeEscalation as false, so what ever errors we are seeing

[2022-05-01 05:40] dwertent commented on #495
Hi @rajivml, thank you for reporting this issue. We will fix it ASAP

[2022-05-01 05:58] dwertent commented on #494
Thank you @mafalda-g-nunes  for reporting the issue. We will investigate it.

[2022-05-02 09:07] Daniel-GrunbergerCA commented on #495
Hi @rajivml
We failed to reproduce this issue. Are you sure the 'allowPrivilegeEscalation' field is set to false? From the picture it looks like this field is not present on the yaml, and the green line is the 'remediation' - how to fix the issue. Meaning, you need to add this field to the file to pass the control.
Can you please share one of the yamls where you had this issue, so that we can inve

[2022-05-02 18:33] erikbohnhorst opened #498 "Image Scan Setup Failure - Authentication Required"
Hi Team,

I am trying to get Image Scanning to work but running into the below issue. Any idea? Do I need to modify the Helm Chart with my secret or anything else?

Thanks
[code]

[2022-05-02 21:00] dwertent commented on #498
Thank you @erikbohnhorst for reporting. We will investigate the issue.

[2022-05-03 07:47] Moshe-Rappaport-CA commented on #494
@mafalda-g-nunes Thank you for pointing out this issue. We delivered a fix, please confirm the issue is fixed :)

[2022-05-03 08:28] mafalda-g-nunes commented on #494
Yes, the issue is fixed. Thank you for the quick fix!

[2022-05-03 08:32] #494 closed

[2022-05-03 08:34] dwertent commented on #320
Thank you @Lucifergene  for adding the severity column:

![Screen Shot 2022-05-03 at 11 32 57](https://user-images.githubusercontent.com/64066841/166424827-90176ae5-340f-415c-9b50-eeb02506e9c0.png)

[2022-05-03 08:34] #320 closed

[2022-05-03 12:14] #202 closed

[2022-05-03 19:40] erikbohnhorst commented on #498
Thanks, Please let me know if you need further information or want to meet to debug the environment.

[2022-05-04 07:01] rcohencyberarmor commented on #498
Hi @erikbohnhorst, can u please send us the yaml of the pod?

[2022-05-04 16:06] erikbohnhorst commented on #498
[code]

[2022-05-06 08:57] zohebs341 commented on #358
Hi Team,

Any luck on my request? There are 100s of vulnerabilities in hosts. Without host scanning, we will not be able to see and fix or work.

Even for Kubescape product, this will add a value.

[2022-05-06 10:49] xxradar opened #503 "kubecape not rendering rbac map"
Hi,
Is there any reason why kubescape is not rendering the rbac map?
I'm using https://portal.armo.cloud/dashboard with gitj=hub account
I'm getting a white empty map (firefox, chrome)

[code]

[2022-05-08 04:36] slashben commented on #358
You are right, I'll look into it ASAP

[2022-05-08 08:25] dwertent commented on #503
Hi @xxradar ,
There should be a dropdown listing the submitted cluster, you must select a cluster from that list.
 ->

![image](https://user-images.githubusercontent.com/64066841/167287953-6059fcb2-ea28-4814-94b1-668696682110.png)

LMK if the list is empty or if it's not working :)

[2022-05-08 16:35] xxradar commented on #503
Hi @dwertent, thx, but it is checked. I even tried with different accounts and different scans. No success.

[2022-05-09 06:31] Daniel-GrunbergerCA commented on #358
Hi @zohebs341
We fixed the issue, and we are using host scanning for this control. Can you please scan again and let me know if it works as expected?
Thank you

[2022-05-09 07:33] zohebs341 commented on #358
@Daniel-GrunbergerCA Sure, I will scan one more time again.

Hopefully it will scan underlying host packages as well.

Ex: vim etc

why because even latest AKS node is having vulnerabilities high/medium. I wants to scan using Kubescape and send it to Microsoft for fix/remediation.

[2022-05-09 10:32] zhujik opened #504 "EKS: failed to collect cloud data - input member name must not be empty"
wenn running kubescape scan, kubescape is not able to collect EKS cluster data and therefore skips all related tests. The error is:

Call:
[code]
Output:
[code]

More information:
following env vars are set and valid:
[code]

Content of kubeconfig:
[code]

Error seems to be somewhere around https://github.com/armosec/k8s-interface/blob/e078680959e241b1ebd0bdf145a19e9c5227d8c3/cloudsupport/v1/ekssu

[2022-05-09 15:43] dwertent commented on #504
@Daniel-GrunbergerCA Any idea why?

[2022-05-10 07:01] zhujik commented on #503
I have the same error. Looking at the console, this is the error that i get:
[code]

[2022-05-10 08:20] dwertent commented on #503
Interesting. @zhujik  Can we have a quick call sometime?
Feel free to contact me via [email](dwertent@armosec.io) or discord: dwertent#8111

[2022-05-10 13:33] zohebs341 commented on #358
@Daniel-GrunbergerCA I tried but no luck.

[2022-05-12 04:48] dwertent commented on #504
@zhujik  Thank you for reporting the issue, we are investigating it

[2022-05-12 09:52] Blue-Skyer commented on #352
Hello,

We notice that Dentrax (https://github.com/Dentrax) requested the feature in this pull request/issue, but the code relies on the GitHub project (https://github.com/goreleaser/goreleaser), in which Dentrax is one of the contributors. This fits into our category of "self-promotion" (it is unethical to promote the use of a project without mentioning that he or she is associated with the proje

[2022-05-12 09:55] Blue-Skyer commented on #328
Hello,

We notice that developer-guy (https://github.com/developer-guy) requested the feature in this pull request/issue, but the code relies on the GitHub project (https://github.com/sigstore/cosign), in which developer-guy is one of the contributors. This fits into our category of "self-promotion" (it is unethical to promote the use of a project without mentioning that he or she is associated wi

[2022-05-12 10:46] Dentrax commented on #352
Hello @Blue-Skyer, thanks for feedback, but that's why we dropped this idea for further discussion with the kubespace maintainers.

It is also unethical to commenting random projects with a fake account without mentioning that he or she or BOT is associated with an R&D or AI & ML project.

[2022-05-13 08:39] zhujik opened #508 "armoCollector and armoVulnerabilityScanner source code?"
Hello, I was trying to look into / improve the source code for those two deployments (coming with the offical helm charts). However, I don't seem to be able to find those. The helm charts point to
* https://github.com/armosec/ca-vuln-scan
* https://github.com/armosec/k8s-armo-collector

however, both result in 404.

[2022-05-13 09:15] dwertent commented on #508
Right, they are both still private repositories. We are working on opening them so they will be public.

For now I agree with you, we do not need to run these two microservices when the `submit` is false. We will need to change the behavior once we will support scrapping of the image vulnerabilities results.

[2022-05-13 09:15] #508 closed

[2022-05-17 10:17] zhujik opened #511 "result files not being written"
logs show the following output:
[code]

but actually no file is written. Also calling the `v1/results` endpoint doesn't return anything.

Looking at the source code, the function actually does nothing apart from logging: https://github.com/armosec/kubescape/blob/a27d2d41f2dd61bfb2dcdf5fb7708625458f815e/core/pkg/resultshandling/printer/v2/utils.go#L79

[2022-05-17 10:25] dwertent commented on #511
Hi @zhujik , thank you.
The issue is with the wrapper, we [delete the file after the scanning](https://github.com/armosec/kubescape/blob/master/httphandler/handlerequests/v1/requestshandler.go#L109). This will be fixed ASAP.
For now, add the `keep` query param when you trigger the scan.

[2022-05-23 15:54] dwertent commented on #495
Closing since we did not manage to reproduce the issue and we did not receive a response

[2022-05-23 15:55] dwertent commented on #503
Closing since since issues seems to be resolved

[2022-05-23 15:55] #503 closed

[2022-05-23 15:55] #471 closed

[2022-05-24 07:56] Daniel-GrunbergerCA commented on #358
@zohebs341
Kubescape host scanner, as for now, is only used to scan for configurations of the Node, such as kubelet configuration, kernel variables and so on. We do not scan the Node for vulnerabilities. You can see the documentation here: https://hub.armo.cloud/docs/host-sensor.
Thought this is an great idea, and we will certainly keep that in mind for the future!
As for what you stated in the do

[2022-05-24 08:07] #504 closed

[2022-05-26 19:01] zohebs341 commented on #358
@Daniel-GrunbergerCA You can close this issue.

[2022-05-26 19:17] #358 closed

[2022-05-29 06:15] dwertent commented on #195
Kubescape [images are built with arm support](https://github.com/armosec/armo-helm/releases/tag/armo-cluster-components-1.7.8)

[2022-06-07 07:18] navzen2000 opened #529 "Privacy Violation"
All scan results are getting uploaded by default to
{
  "accountID": "d9bb1de7-b577-4c66-8549-e5ff539b11ba"
}
This is getting created by default in ${USER_HOME}/.kubescape/config.json location

Whose account id is this?
This is an extreme privacy violation, please remove all uploaded scan information to above account,

Also, without the submit flag, tool is automatically uploading the results in t

[2022-06-07 08:10] dwertent commented on #529
Hi @navzen2000 ,

By default, Kubescape [does NOT submit the results](https://github.com/armosec/kubescape/blob/54020d317ed81697c7160698bd8a881909f4242f/core/core/initutils.go#L122).
If you scan once with the submit flag, kubescape will submit the results. If you wish not to submit results you can delete the cache (file and configMap -> `kubescape config delete`) or scan with the `keep-local` flag

[2022-06-07 08:10] #529 closed

[2022-06-09 04:13] mustufa5689 opened #531 "Cant download images from quay.io/armosec"
Hello All,

Facing issues in implementing the Container Image scanning via helm charts.

Out of 5 pods, 3 pods failed with ImagePullbackOff errors, but then worked fine after 10 mins.

  Normal   Scheduled  12m                    default-scheduler  Successfully assigned armo-system/armo-kubescape-67d8bb7fd8-trh4v to minikube
  Warning  Failed     7m50s                  kubelet            Failed to

[2022-06-09 17:50] airwalk-mj commented on #123
@dwertent      quay.io.  is blocked in my organisation.    DockerHub is not.       Please provide a link to an image hosted in dockerHub is possible?

[2022-06-09 17:51] airwalk-mj opened #533 "quay.io. is blocked in my organisation. DockerHub is not. Please provide a link to an image hosted in dockerHub."
quay.io. is blocked in my organisation. DockerHub is not. Please provide a link to an image hosted in dockerHub.

[2022-06-09 18:04] airwalk-mj opened #534 "So Iv'e downloaded kubescape-macos-latest to my macbook, now what?"
I have downloaded the file from from github.    It has no file extension.   What do I use to open it?

[2022-06-09 18:30] dwertent commented on #534
@airwalk-mj  What file did you download? If you downloaded the executable, simply run it.

[2022-06-09 18:33] dwertent commented on #533
We do not push the images to docker hub. You can pull from quay.io and push to docker registry

[2022-06-09 18:33] #533 closed

[2022-06-12 14:40] #534 closed

[2022-06-12 14:44] dwertent commented on #531
1. Please make sure your connection to the internet is stable
2. There is no image `quay.io/armosec/cluster-collector:v0.0.1` try -> `quay.io/armosec/cluster-collector:v0.0.12`

[2022-06-13 01:51] mustufa5689 commented on #531
Hey,

Thanks for the update though.

My internet was already stable and manually pulling it did cause this problem and same was seen when kubelet tried pulling too.

The image was set to pull when kubescape was deployed as a helm charts. I could see the working images on quay.io for rest of the components. My ask is that if higher version is present, kubescape should be made to deploy via helm cha

[2022-06-15 07:20] zhujik opened #538 "Why is the clusterName attribute omitted in the scan results json?"
https://github.com/armosec/kubescape/blob/0af0c01ec06975342ff81d71d84f4ce8bc711ffc/core/cautils/customerloader.go#L43

We gather the results in S3 to query them in athena and currently I am running an ETL job on the scan results to insert the clusterName property because it is empty. In the code it is deliberately left out. I wonder why?

[2022-06-15 12:39] dwertent commented on #538
The config originally is meant to store the account data, which means the local file cached config is crossed cluster (and not for a single cluster), for that reason we do not store the cluster name there. Notice that the configMap cache (which is in a scope of a cluster) has the cluster name.

Currently, Kubescape will submit the cluster with the context name.
We will add a flag for `cluster-name

[2022-06-15 18:00] EdSwArchitect opened #539 ""K8s common labels usage" Label Always Fails"
Hello, I have the "K8s common labels usage" control enabled, but the scan **_ALWAYS_** fails, even when all values are used.

[code]

[I see this closed issue was the "fix"](https://github.com/armosec/kubescape/issues/494), but I still get the error after upgrading.

[code]

I'm on MacOS

[2022-06-15 18:16] dwertent commented on #539
Thank you @EdSwArchitect for reporting.

[2022-06-16 12:33] EdSwArchitect commented on #539
Additional information, I installed on MacOS using Brew.

[2022-06-17 08:27] AvineshTripathi commented on #437
Hey @slashben I would like to work on this issue, can you help me with some pointers and resources to start with

[2022-06-17 08:58] slashben commented on #437
Cool! Have you seen the interface?

[2022-06-19 06:49] AvineshTripathi commented on #437
I have tried the using kubescape on clusters, running commands and exploring it

[2022-06-19 18:50] slashben commented on #437
I suggest reading this as a good starting point:
https://github.com/armosec/kubescape/blob/master/docs/proposals/container-image-vulnerability-adaptor.md

Then, you can look here
https://github.com/armosec/kubescape/tree/master/core/pkg/registryadaptors

Here is the interface of the adaptor you need to implement for GCP
https://github.com/armosec/kubescape/blob/master/core/pkg/registryadaptors/reg

[2022-06-25 15:53] avinashupadhya99 opened #547 "Wildcard scanning of directories not working"
When kubescape is run to scan an entire directory of manifest files using a wildcard(*) character, kubescape scans only the first file in the directory.

Steps to reproduce -
1. `git clone https://github.com/GoogleCloudPlatform/microservices-demo.git`
2. `cd microservices-demo`
3. `kubescape scan kubernetes-manifests/*.yaml -v`
4. Notice the results - It only mentions the first file name i.e. `ful

[2022-06-29 20:53] touchthesun opened #551 "feature suggestion: gitops pipeline compliant vulnerability remediation"
Kubescape already has the ability to generate YAML from misconfigured resources and append or highlight changes that would resolve certain vulnerabilities. However as far as I know, this only works in the UI.

What would be amazing is something that allows you to output all those yaml files from a scan into a temp directory. This lets engineers do all the fixes at one go and push the fixed files b

[2022-06-30 06:24] dwertent commented on #551
@touchthesun Thank you very much for your feedback and your suggestion!
We are actually discussing this very thing right [here](https://github.com/armosec/kubescape/discussions/550).

If you noticed, by running Kubescape with the `-v`/`--verbose` flag you can get a detailed report including the exact paths.

I have two main concerns regarding the automatic generating of YAMLs:
1. We do not have an

[2022-06-30 06:28] dwertent commented on #551
One other thought - When generating an auto fix for a cluster we can store the generated YAMLs in a single file, but when we generate fixes for a local directory/git repo, we will need to keep the directory structure or add a comment/annotation for the different generated YAMLs since we can have the same file metadata but the YAML itself will have different content

[2022-06-30 06:44] dwertent opened #552 "Pods in default namespace control should not fail when namespace is empty"
I'm scanning a local YAML file and I see the control `Pods in default namespace` is failing because I did not specify a namespace in my yaml metadata.
This should not fail since I'm not actually running the workload at all.

[2022-06-30 06:45] slashben commented on #551
Sounds a very interesting direction.

I am thinking on @touchthesun 's idea.

It is not necesseraly a must to create an "automatic" fix to the issues. The user must confirm each change manually (I think we don't have a doubt here).

However, the question is how to incorporate the fixes into the code stream:
* Either creating a copy with the fix in a `tmp` directory as @touchthesun proposed
* Creat

[2022-07-03 14:06] Moshe-Rappaport-CA commented on #539
Hi @EdSwArchitect
Thank you for reporting.

When I ran kubescape with control C-0077 (K8s common labels usage), it did not fail.
I also ran it on MacOS

kubescape version:
[code]
file:
[code]

I ran:
[code]
And I got the result that the control did not fail.

![image](https://user-images.githubusercontent.com/89577611/177041380-749d97a0-2cc9-4873-a71e-03c78d609813.png)

Are you using local-artifac

[2022-07-05 15:53] beniwtv opened #559 "Exceptions file not checked for existence"
We have been trying to implement exceptions with an exceptions file, and wondered why they weren't being honored. Turns out, we had a typo in the filename, but Kubescape was not complaining in any log line that the file was non-existent.

I think adding this would save some headaches :)

[2022-07-05 19:53] danieljkemp commented on #547
I'm seeing this as well. I ended up moving the manifests to a new directory and just scan the directory

[2022-07-05 20:11] danieljkemp commented on #552
It is fairly common to specify the NS at deploy time via `kubectl -n <namespace> apply ...` or `helm --namespace <namespace> ...` In the later case the manifests need to be generated with `helm --dry-run --namespace <namespace> ...`, but in the former there is no option other ignoring the control, or hard-coding the namespace into the manifests....

[2022-07-05 20:17] danieljkemp commented on #95
[code]

with the command

`kubescape scan framework nsa,mitre,armobest,devopsbest --exclude-namespaces kube-system,kube-public`

looks like it is also not filtering service accounts

[2022-07-06 14:22] mowies opened #560 "Ability to force colored output for CI environments that are not a real TTY"
I know that there is the option to specifically disable colors in the output of kubescape, but it would also be nice to be able to force-enable colored output.
This is especially important for CI tools like GitHub Actions, that don't have a real TTY but still have the ability to show ANSI colors correctly.

[2022-07-07 08:35] dwertent commented on #560
What is the exact issue? Do you see the pretty printer but without colors or that you see the zap logger (the zap logger prints the logs in json format)?
If the issue is that you see the zap logger, you can set an environment variable as follows: `"KS_LOGGER_NAME": "pretty"`
Please let me know if it solves your issue :)

[2022-07-07 09:12] dwertent commented on #559
Can you please share how you executed kubescape?
I tried reproducing the issue without success.

First, I downloaded the exceptions file (this is not mandatory, but this gave me the template)
[code]

The file I downloaded looks similar to this:
[code]

Finally, I ran kubescape with the exceptions file
[code]

Results:

<img width="1085" alt="image" src="https://user-images.githubusercontent.com/64

[2022-07-07 13:15] EdSwArchitect commented on #539
Good morning.
Using your example, it passed.

This is being run on a local Helm distribution that is placed into one big file using `helm template`.

[code]

Then....

[code]

Where $CONTROLS is a list of controls

[2022-07-07 13:28] dwertent commented on #552
Based on waht you wrote, the issue is not only in case of this control, but every time kubescape will scan YAMLs from a local directory/git, we cannot pair two resources based on their selector e.g. pods and services. serviceAccounts, roles, and roleBindings.
@slashben  Any thoughts?

[2022-07-07 13:43] dwertent opened #561 "Kubescape fails to scan kubernetes `List` object"
Kubescape fails to scan a file with a `List` object.

Kubescape scan command
[code]

Kubescape version
[code]

Input file:
[code]

[2022-07-07 13:57] dwertent commented on #539
Hi @EdSwArchitect , Thank you for reporting :)

1. Since there is not much value in namespaces in a YAML file, kubescape ignores the `--include-namespaces`/`--exclude-namespaces`.
2. Since kubescape version `v2.0.161` you do [not need to pre-generate the helm chart](https://github.com/armosec/kubescape#scan-helm-charts).
3. I do not exactly know what controls you are scanning and what other failur

[2022-07-07 17:11] beniwtv commented on #559
So if you download the exceptions to `/tmp/exceptions.json` , but make a typo while executing kubescape like `kubescape scan --exceptions /tmp/exceptionsss.json`, Kubescape will not complain that it can not find the file - but it will run through normally, just with no exceptions applied.

[2022-07-08 13:26] EdSwArchitect commented on #539
Good morning. I found out the problem was in my controls-config. The `k8sRecommendedLabels` element was malformed.

[2022-07-09 04:24] AvineshTripathi commented on #437
Update: sorry for the delay(was stuck in some work), resuming the work and will update soon with the progress

[2022-07-10 06:38] dwertent commented on #560
Can you please share a screenshot/example of how you run so I can reproduce and try fixing it? :)

[2022-07-11 06:36] mowies commented on #560
Hey @dwertent !
I created a small example repo with a workflow that reproduces my issue: https://github.com/mowies/kubescape-color-test
The workflow can be found here: https://github.com/mowies/kubescape-color-test/blob/main/.github/workflows/test.yml
And here is the log output of the workflow run:
![Screenshot 2022-07-11 at 08 36 16](https://user-images.githubusercontent.com/6901203/178203209-2fd

[2022-07-11 13:58] dwertent commented on #531
I'm glad this is working for you, we do not pull the `latest` tag since we do not want uncontrolled image updates.

[2022-07-11 13:58] #531 closed

[2022-07-11 14:00] dwertent commented on #538
Closing since this seems to be resolved

[2022-07-11 14:00] #538 closed

[2022-07-11 14:01] dwertent commented on #293
Kubescape [images are built with arm support](https://github.com/armosec/armo-helm/releases/tag/armo-cluster-components-1.7.8)

[2022-07-11 14:01] #293 closed

[2022-07-11 14:03] dwertent commented on #478
Supported -> `--format=htlm`

[2022-07-15 10:10] charlottemach opened #564 "Playground link no longer working (404 error)"
Seems katacoda has closed down, so this link [https://github.com/armosec/kubescape/blob/master/README.md?plain=1#L80](https://www.katacoda.com/pathaksaiyam/scenarios/kubescape in the README) no longer leads to the playground.

[2022-07-19 08:53] mowies commented on #560
@dwertent any updates on this?

[2022-07-19 14:53] beniwtv commented on #559
Works now with the latest version, thanks!

[2022-07-19 19:20] dwertent commented on #560
I'm on it :)

[2022-07-20 05:37] dwertent commented on #552
Fixed

[2022-07-20 05:37] #552 closed

[2022-07-20 05:38] dwertent commented on #560
@vladklokun Can you please take a look at this?

[2022-07-20 10:19] Moshe-Rappaport-CA commented on #539
Thanks @EdSwArchitect  for opening the issue.
You're welcome to contact us if he has any further issues or suggestions for updates.

[2022-07-20 10:19] #539 closed

[2022-07-26 06:50] FrittenToni opened #578 "Question: SaaS UI self-hosting"
Hi,

first of all thanks for developing such a great project.
I'm not sure if this is the right place to ask a question but since I'm not having Discord I wanted to give it a try. Feel free to close the issue in case it isn't appropriate.
Now to my question... is it planned to make the SaaS UI available for self hosting? Another user [asked for it](https://github.com/armosec/kubescape/discussions/

[2022-07-26 07:45] dwertent commented on #578
Hi @FrittenToni , Thank you for opening this issue and asking your question. Please do not hesitate to open issues and ask questions in the future :)

Yes! we have in our roadmap open-sourcing the portal and all other components. Unfortunately there is a lot of work to be done before we open source the portal so this might take some time.
We will be open-sourcing the [kubescape helm](https://githu

[2022-07-26 07:45] #578 closed

[2022-07-26 10:00] marcinguy commented on #578
@FrittenToni DM me (email or twitter). I could not find your contact details. I have some UI already, for own purposes.

[2022-08-02 14:26] smitphilip opened #582 "C-0004 - Memory Limit Request False-Positive"
**Kubescape version:** v2.0.164

**Description:**
Kubescape will always report a finding for control 0004 on Deployments. I am scanning in an air-gapped environment, with a custom framework and exception file.

**Testing:**
Scanning the following yaml (with Mem limits and requests specified = spec.template.spec.containers[0].resources) - kubescape reports a finding on this control

[code]

[code]

[2022-08-03 11:53] #564 closed

[2022-08-04 07:18] dwertent commented on #582
@smitphilip Thank you for reporting :)

[2022-08-06 07:19] johnnyhuy commented on #293
Looks like the install script is still pulling down the AMD64 Kubescape binary on my ARM64 system.

[code]

Perhaps we can get an ARM64 release similar to the `ubuntu` and `mac` artifacts 🤞

[2022-08-09 07:14] verma-kunal commented on #436
Hey @slashben I would love to work on this issue!
I am new to the Kubescape project so, can you help me with some pointers and resources to start with
Thanks 🙂

[2022-08-09 08:32] dsolstad opened #587 "Doesn't recognize yaml file"
None of the yaml files I try to scan seem to be recognized by kubescape, as for example the one below:

[code]

[code]

Anyone know what the issue might be? Using version 2.0.164.

[2022-08-09 11:05] dwertent commented on #587
Hi @dsolstad, normally there is not much to do with a single service, therefor kubescape does not scan it on it's own.
Try adding a deployment that will be dependant on the service as follows:
[code]

Now run kubescape
[code]

And you will see the results:
[code]

[2022-08-09 12:31] dsolstad opened #588 "Scanning multiple yaml files inconsistencies"
According to the docs and tutorial, the way to scan all yaml files in a folder is to do `kubescape scan framework nsa *.yaml`. However, this doesn't work on a folder with yaml files as seen below.

[code]

By doing the following instead I get some output:

[code]

If I scan one of these files alone I get this:

[code]

If I merge all the yaml files, including the service_account.yaml above, I get

[2022-08-09 12:31] dsolstad commented on #587
Thanks @dwertent! This makes sense.

[2022-08-09 12:55] #587 closed

[2022-08-09 13:12] dwertent commented on #588
Hi @dsolstad , this is interesting.

When you run `*.yaml` the terminal executes the glob, but since kubescape can receive a single file as an input, kubescape will ignore the rest of the paths passed as arguments and will address only the first path that was passed.

When you run `"./*.yaml"` kubescape walks also to the nested directories, so the results might be combined from yaml files located

[2022-08-09 13:22] dsolstad commented on #588
No inner directories present, only 6 yaml files in this folder.
`kubescape scan framework nsa . -v` at least give result from two yaml files, but nothing from service_account.yaml which gave results earlier.

[2022-08-09 18:13] slashben commented on #436
Hey! Great to hear!

I suggest you read this as the first step: https://github.com/armosec/kubescape/blob/master/docs/proposals/container-image-vulnerability-adaptor.md

If you join to discord channel we have been discussing this there, you are welcome

[2022-08-10 06:21] dwertent commented on #588
I will like to reproduce this issue. Can you pls share the files?
You can remove anything personal from the YAMLs.

[2022-08-10 06:33] dsolstad commented on #588
I would love to share them, but I can't. Sorry.

[2022-08-10 09:56] vidbregar opened #589 "C-0001 - Forbidden Container Registries False Positive"
#### Issue description
C-0001 control should not fail for k8s objects that use images from Docker Hub if in `controls-inputs.json` `publicRegistries` and `untrustedRegistries` fields are set to an empty array.

#### Steps to reproduce the issue

- Create `controls-inputs.json`
[code]
-  Deploy example nginx
[code]
- Run kubescape
[code]

#### What's the expected result?
Running the following comma

[2022-08-10 09:57] vidbregar commented on #589
A workaround is to change `image: nginx:1.14.2` to `image: docker.io/nginx:1.14.2`

[2022-08-10 10:37] vidbregar opened #590 "C-0078 - Images from allowed registry False Positive"
#### Issue description
C-0078 control should not fail for k8s objects that use images from registries which are specified in `controls-inputs.json` `imageRepositoryAllowList` field. Control fails for images from Docker Hub, Quay.io, etc.

#### Steps to reproduce the issue

- Create `controls-inputs.json`
[code]
-  Deploy example nginx
[code]
- Run kubescape
[code]

#### What's the expected result?

[2022-08-10 17:21] verma-kunal commented on #436
Hey sure! I am a part of the discord community. Is there any specific channel where the discussion related to this topic has been going on?

[2022-08-11 12:46] slashben commented on #436
In the developers channel, we have someone working on the same
functionality just for GCP. It worth checking out!

On Wed, Aug 10, 2022 at 8:21 PM Kunal Verma ***@***.***>
wrote:

[2022-08-11 14:32] verma-kunal commented on #436
Yeah, just saw the message on the channel & replied!
Thanks :)

[2022-08-14 13:29] slashben opened #591 "Implement graphical result display of Kubescape scans in GitHub action"
Kubescape is producing results in two formats: JUnit XML and JSON (own format).

Kubescape GitHub action is using the JUnit XML which is limited (and it is control oriented)

We want to implement a GitHub action which implements in javascript a nice parsing and display of scan results. Additional requirements:
* Implement it from a resource point of view  (showing resource at the first level and f

[2022-08-14 13:34] slashben opened #592 "Implement "apply fix" in VSCode extension"
Kubescape VSCode extension is showing which lines are failing different controls based on the Kubescape result object. The result object contains "failedPath" entry for each control per object.

Kubescape also supplies "fixedPath" which is a proposed solution to the given issue. We want to use the "apply fix" mechanism of VSCode using the "fixedPath" in Kubescape results.

[2022-08-15 13:29] o6uoq opened #594 "brew install error 'kubescape has been disabled because it does not build!'"
Tried following the instructions to install via `brew`:

[code]

[code]

[2022-08-15 16:38] amirmalka commented on #594
@o6uoq We are in the process of updating our README. The formulae name has been changed to `kubescape-cli`

You can follow the new procedure at:
https://github.com/kubescape/homebrew-tap

[2022-08-15 22:32] o6uoq commented on #594
That worked, thank you for the prompt reply!

[2022-08-15 22:32] #594 closed

[2022-08-17 13:03] lamenawuer opened #596 "Exceptions not showing in list counter and not discarding issue"
While in the UI, inspecting the issues from a cluster I came upon what it seems a bug to me:

I marked all raised points (6) by kubescape as exceptions in an issue and:

- it does not show them in the issue preview. It shows "0" instead

- it does not close the issue

![Screenshot from 2022-08-17 14-57-31](https://user-images.githubusercontent.com/18737883/185140443-fb98c65e-7135-42c4-861e-9fe7df5

[2022-08-17 13:07] lamenawuer opened #597 "Feature request: Exception list"
It would be very useful if Kubescape could list all the exceptions in a cluster/namespace etc... It'd be easier to track down actual problems

[2022-08-17 13:45] ijewelmas opened #598 "Future enhancement Image scan feature via kubescape command and Cancel scan feature for image scanning to be enabled ?"
I understand kubescape scan is used for misconfiguration scan within the cluster, but it could be good to have image scan of the cluster along with it as a future feature?
Since image vulnerability is only possible using helm and only visible in the UI at the moment, if some scan has got stuck it only shows pending and doesn't fail. In such a case could a cancel scan option be enabled in the futur

[2022-08-17 14:46] dwertent opened #599 "Wrong remediation path for control c-0013 (Non-root containers)"
The path kubescape [suggests to fix](https://github.com/kubescape/regolibrary/blob/master/rules/non-root-containers/raw.rego#L37) is `spec.securityContext.runAsNonRoot=true` but the actual path is `spec.template.spec.containers[0].securityContext.runAsNonRoot=true` (when scanning a Deployment)

[2022-08-17 14:50] dwertent opened #600 "What is the difference between control c-0013 and control c-0086?"
What is the difference between the controls?

[code]

After setting the `runAsNonRoot=true` both control passed.

[2022-08-17 15:08] dwertent commented on #598
Thank you @ijewelmas for your great ideas.
In fact, we are planning on scanning the images using a CLI and not only from the HELM.

In addition we will add an option of canceling a scan after it has been triggered.

FYI, We [open-sourced](https://github.com/kubescape) all of the components running within the cluster :)

[2022-08-18 07:44] lamenawuer commented on #597
Hello @dwertent ,

Thanks for the answer, but I was hoping for a solution within the UI. We have Kubescape running as a helm chart and I would like to avoid sshing into the server pod just to see the exception list

[2022-08-18 07:47] lamenawuer commented on #596
HI @dwertent ,

Yes I did scan it afterwards and the list hasn't changed

[2022-08-22 08:34] dwertent commented on #588
Hi @dsolstad , We tried to reproduce the issue you encountered when scanning the `all.yaml ` and `"./*.yaml"` without much success.
Is there any way of sharing the YAMLs (you can chaneges the images, resources names, remove ENVs, etc.) just that we can reproduce the issue?
Thank you :)

[2022-08-22 08:49] remyleone opened #603 "Issue with kubecape installation"
[code]

[2022-08-22 08:51] amirmalka commented on #603
@remyleone We have updated the README a week ago. The formulae name has been renamed to `kubescape-cli`

You can follow the new procedure at:
https://github.com/kubescape/homebrew-tap

[2022-08-22 08:51] #603 closed

[2022-08-22 14:04] vladklokun opened #605 "Kubescape reports HTTP 400 with a malformed account ID"
# Describe the problem
When a user runs a Kubescape command and specifies an account ID that is not a valid UUID, Kubescape reports an HTTP 400 Bad Request status code.

# Environment
OS: Ubuntu 22.04 LTS

Kubescape version (`kubescape version`):
[code]

# Steps to Reproduce
1. Install Kubescape
2. Ensure that an accessible Kubernetes cluster is running.
3. Run Kubescape via `kubescape scan --acco

[2022-08-22 14:37] Moshe-Rappaport-CA opened #608 "Including namespaces"
# Describe the problem
When a user runs a Kubescape with `--include-namespaces` flag, he receives results on resources that are linked to RBAC from namespaces that are not included
# Environment
OS: Ubuntu 20.04.4 LTS

kubescape version:
[code]
# Steps to Reproduce
1. Install Kubescape
2. Set up a cluster using Minikube via `minikube start`
3. Run Kubescape via `kubescape scan --include-namespaces

[2022-08-22 14:42] mhammadsaani commented on #608
I can work on this, if it is beginner friendly

[2022-08-22 14:49] prajapatiomkar opened #610 "I'm unable to join discord channel through given link in readme file"
![image](https://user-images.githubusercontent.com/72141037/185950826-91a8cb37-6dde-4a7c-9ffe-cdcdcf13e069.png)

[2022-08-22 14:59] Mohammad-Palla opened #612 "404 error in discord invite link readme.md"
https://armosec.github.io/kubescape/ Returns a 404 error, which is supposed to be an invitation to Kubescape's discord server according to readme.md. Please check line 69 and line 71 in readme.md

[2022-08-22 15:05] MuhammadNoorani commented on #612
I opened it, you can check issue #611

[2022-08-22 15:08] vladklokun commented on #608
Hi, Muhammad!

You’re welcome to give it a try, but keep in mind that this issue is not exactly beginner-friendly: it would require taking a look at how Kubescape fetches resources, declares and resolves resources required to check a particular control and builds reporting data.

However, if you want to contribute, may I suggest you take a look at #605? That one is really beginner friendly, and th

[2022-08-22 15:10] nalin-singh commented on #605
I would like to work on this issue

[2022-08-22 15:19] octonawish-akcodes commented on #605
/assign

[2022-08-22 15:19] Rahmattullah13 commented on #612
Can i assign this?

[2022-08-22 15:20] vladklokun opened #613 "Override name of the currently scanned cluster"
**Is your feature request related to a problem? Please describe.**
When I use Kubescape to scan a cluster, I would like to use a custom name for the cluster I am scanning instead of a name that Kubescape determines automatically.

**Describe the solution you'd like**
I would like a CLI flag that allows me to set a name for the cluster. Perhaps, like this:
[code]

The cluster name should:
- NOT inc

[2022-08-22 15:21] atharvkarajgi commented on #612
Can i work on this issue ?

[2022-08-22 15:25] NirmitSawant commented on #610
Hey, You can join on this link: https://discord.com/invite/DWv4gPgCzU

Its present in the official site of kubescape: https://cloud.armosec.io/dashboard

[2022-08-22 15:25] NirmitSawant commented on #612
Hey, You can join on this link: https://discord.com/invite/DWv4gPgCzU

Its present in the official site of kubescape: https://cloud.armosec.io/dashboard

[2022-08-22 15:28] Moshe-Rappaport-CA commented on #608
Similar to #95

[2022-08-22 15:29] prajapatiomkar commented on #610
Thanks i made change in README file and created pr

[2022-08-22 15:29] octonawish-akcodes commented on #613
I can work on this

[2022-08-22 15:31] 10kumaranurag01 commented on #605
I would love to work on this issue.

[2022-08-22 15:32] anjannair commented on #612
Issue resolved! This can be closed

[2022-08-22 15:35] rohan-kulkarni-25 commented on #592
Hey !! I will like to work on this issue will you like to guide me and start my contribution to kubescape.
Thanks!

[2022-08-22 15:36] SaNsK11 commented on #430
Hey @dwertent I would like to work on this issue! I am new to Kubescape, so would love to get some pointers on how to get started

[2022-08-22 15:39] Adi9235 commented on #439
Hey can I contribute in this issue but I am beginner in this project @slashben

[2022-08-22 15:57] shubhzhs commented on #613
@vladklokun can you assign me please

[2022-08-22 15:58] sahilsuman933 commented on #608
@Moshe-Rappaport-CA  can I work on this issue?

[2022-08-22 16:10] vladklokun opened #618 "Do not create caching resources in cluster"
**Is your feature request related to a problem? Please describe.**
When I run Kubescape, by default, it creates resources in the scanned cluster that are used as a cache for user data. I’m not too happy that Kubescape creates these resources without a user’s explicit consent.

**Describe the solution you'd like**
I would like to have a way to tell Kubescape to not create the caching resources in m