[2022-08-22 16:14] Moshe-Rappaport-CA opened #619 "Using --use-artifacts-from flag"
# Describe the bug
Kubescape results are different when running with the `--use-artifacts-from` flag

# Environment
OS: Ubuntu 20.04.4 LTS

kubescape version:
[code]
# Steps To Reproduce
Steps to reproduce the behavior:
1. Install Kubescape
2. Set up a cluster using Minikube via `minikube start`
3. Run Kubescape via `kubescape scan`
4. [Download all artifacts](https://github.com/kubescape/kubescap

[2022-08-22 16:26] ArnWEB commented on #339
I have fixed this issue .Can you please review and and merge it in main barnch
I have created the PR waiting for your approval

@dwertent

[2022-08-22 16:31] anjannair commented on #339
This issue should be closed considering the PR #361

[2022-08-22 16:34] vladklokun commented on #605
@nalin-singh feel free to go ahead :)

I will be supporting your efforts, so if you need help, feel free to reach out to me. And please take a look at #577, especially the comment regarding how the validation should apply to commands that consume the `--account` flag.

[2022-08-22 16:36] SD-13 commented on #619
Hey @Moshe-Rappaport-CA, Can you please assign me this one? Thanks,

[2022-08-22 16:37] vladklokun commented on #613
@octonawish-akcodes you’ve got first dibs, so feel free to go ahead :)

@shubhzhs @sahilsuman933 @rghdrizzle we appreciate your desire to help, so please check out [other issues](https://github.com/kubescape/kubescape/issues?q=is%3Aissue+is%3Aopen+label%3A%22open+for+contribution%22) that are open for contributing :handshake:

[2022-08-22 16:41] vladklokun commented on #605
@10kumaranurag01 Thanks for your willingness to help!

Seeing how having two people working on the same issue might be counterproductive, could you maybe take a look at our [other issues](https://github.com/kubescape/kubescape/issues?q=is%3Aissue+is%3Aopen+label%3A%22open+for+contribution%22) that are open to contributions?

[2022-08-22 16:42] slashben commented on #591
Hey all, let's start with first come first serve :) @octonawish-akcodes is in charge, please talk to him about co-joining this issue

[2022-08-22 16:43] slashben commented on #591
@octonawish-akcodes I suggest you talking to @dwertent about this. We had some ideas in mind which would make this a killer feature :)

[2022-08-22 16:44] Maniktherana commented on #591
@octonawish-akcodes wanna work on this together?

[2022-08-22 16:48] spy-1234 commented on #619
Hey @Moshe-Rappaport-CA, can you assign me this issue and give the brief introduction in the kubescape project for contribution?

[2022-08-22 16:53] KlausMikhaelson commented on #619
Hey @Moshe-Rappaport-CA is this an issue where we can work with others together ? if yes than would love to work on this  one

[2022-08-22 16:55] DeepakKumarKhatri commented on #612
Hey, I want to work on this!
Is it still opened to contribute?

[2022-08-22 16:58] aiyushbedi007 commented on #551
Hey !! I will like to work on this issue and start my contribution to kubescape.
Thanks!

[2022-08-22 16:59] slashben commented on #439
This is a duplicate of #591 , sorry guys for the confusion :(

[2022-08-22 16:59] aiyushbedi007 commented on #618
Hey !! I will like to work on this issue and start my contribution to kubescape.
Thanks!

[2022-08-22 17:00] slashben commented on #551
@aiyushbedi007 you are welcome to!

[2022-08-22 17:01] aiyushbedi007 commented on #598
Hey !! I will like to work on this issue and start my contribution to kubescape.
Thanks!

[2022-08-22 17:01] aiyushbedi007 commented on #597
Hey !! I will like to work on this issue and start my contribution to kubescape.
Thanks!

[2022-08-22 17:03] aiyushbedi007 commented on #551
Thanks @slashben  I am new to Kubescape can you guide me? what is the best way to reach you if I have any questions?

[2022-08-22 17:05] Deadpicker commented on #605
I am looking to contribute to this issue.
I am an total beginner can contribute?

[2022-08-22 17:05] 9gl commented on #551
Hi @slashben  ,
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the issue is about and pointing me to some resources to get started.

[2022-08-22 17:08] Adi9235 commented on #321
Hey I am new to Kubescape so can I work on this issue and would like to discuss more about this issue to get more clear insight in solving @Dentrax

[2022-08-22 17:08] 9gl commented on #400
Hi @dwertent ,
I'm interested in contributing to this issue, so before I start working
it, would you mind sparing your time explaining what the issue is about and pointing me to some resources to get started.

[2022-08-22 17:11] Anubhavdevv commented on #608
@Moshe-Rappaport-CA I would like to contribute to the issue and try to understand how kubescape fetch resources work !
Looking forward to work on this issue !
It would be great if you could assign this issue to me !

[2022-08-22 17:18] TheSwordBreaker opened #623 "Don't have command to install kubescape using go"
# Describe the bug
Don't have command to install kubescape using go

[2022-08-22 17:19] 9gl commented on #430
Hi @dwertent ,
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the issue is about and pointing me to some resources to get started.Looking forward to contribute to the issue.

[2022-08-22 17:43] dwertent commented on #623
Hi @TheSwordBreaker , This is because there are some [dependencies that need to be statically linked](https://github.com/kubescape/kubescape#linux--macos) to the kubescape executable.

[2022-08-22 17:43] #623 closed

[2022-08-22 18:38] Srinika99 commented on #321
Hi, I am a beginner and new in kubescape, I'd like to work on the issue while learning simultaneously

[2022-08-23 03:29] sahilsuman933 commented on #613
Sure @vladklokun

[2022-08-23 04:54] BxtGeek commented on #600
C-0013 - Non-root containers
In this Container, engines allow containers as non-root users. So even if it got hacked the application or the malicious code doesn't have the root privileges. To Remediation set the policy like runAsUser or runAsGroup under the pod definition file.

C-0086 - CVE-2022-0492-cgroups-container-escape
This is due to vulnerability in the kernel. Some malicious code can get

[2022-08-23 05:28] slashben commented on #551
@9gl , @aiyushbedi007 , are you on Discord? Let's have a chat there (I am opening a channel there for this "kubescape-remidiation-actions"). Join there and we will loop-back here when we have more.

[2022-08-23 05:32] dwertent commented on #479
Hi @alegrey91 , sorry for the late response.
Are you still interested?

[2022-08-23 05:33] dwertent commented on #610
Fixed #616

[2022-08-23 05:33] #610 closed

[2022-08-23 05:34] slashben commented on #321
@Srinika99 , @Adi9235 , I open a discord channel with the name "auto-generate-rego-policies", let's discuss there!

[2022-08-23 05:35] slashben commented on #321
@Dentrax , hope you are well! We would be happy if you could join us guiding the guys here and help better understand your idea!

[2022-08-23 05:36] dwertent commented on #598
Hi @aiyushbedi007 , Thank you for willing to work on this.
We have a lot of design to do before coding, this might take a while.
We have this in our roadmap but we have not started working on it yet.

Stay tuned!

[2022-08-23 05:37] dwertent commented on #597
@lamenawuer We will have a solution from the UI, it is in our roadmap.
Unfortunately, w do not support it yet (from the UI).

[2022-08-23 05:40] aiyushbedi007 commented on #597
@dwertent i am fullstack Developer and i can work on the Frontend for this issue, is the Frontend repository open to contribution? Let's connect offline to discuss more on it.

[2022-08-23 05:42] alegrey91 commented on #479
Hi @dwertent, yes, always interested to contribute. If it's not urgent, I could take care by the beginning of September. Currently I'm a little bit busy. Let me know if it's ok for you.

[2022-08-23 05:57] nalin-singh commented on #605
Sure, I'm exploring the code right now and I did go through the comments on the other issue as well. If I would have to contact you are you on the kubescape discord ?

[2022-08-23 06:02] Deadpicker commented on #605
Yes I am on kubescape's discord You can find me there as my username Deadpicker

[2022-08-23 06:05] nalin-singh commented on #605
I wasn't reffering you @Deadpicker , I was reffering @vladklokun

[2022-08-23 06:11] Deadpicker commented on #605
Mention man! @nalin-singh

[2022-08-23 06:30] Dentrax commented on #321
Hey, happy to help! Notice that I'm not familiar with Kubescape internal codebase. I also couldn't join the Discord on given link: https://discord.com/invite/WKZRaCtBxN It says `Unable to accept invide`. 🤔

[2022-08-23 06:33] slashben commented on #321
Awesome :)
We will help with the internals!
Can you try this link to join the discord? https://discord.gg/AURm9N9G

[2022-08-23 06:44] DivyanshSingh12 commented on #619
@Moshe-Rappaport-CA
The issue is on the - "CVE-2022-0492-cgroups-container-escape"

Like When done Regular Scan:
Medium   | CVE-2022-0492-cgroups-container-escape             |        2         |         0          |       7       |     29%      |

When Scanned from local artifacts:
Medium   | CVE-2022-0492-cgroups-container-escape             |        2         |         0          |      10

[2022-08-23 10:07] hamees-sayed commented on #619
Tried this locally, the output was same with flag and without flag.

[2022-08-23 10:31] Moshe-Rappaport-CA commented on #619
Hey @hamees-sayed.
Thanks for checking.

It is interesting. Did you follow exactly the same steps for reproduce that I mentioned above?

[2022-08-23 10:53] SD-13 commented on #619
@hamees-sayed yup, same for me. I followed the above steps and got the same output for both scans. To give you more context, I am attaching the screenshots. Thanks,

**Without flag**
![Screenshot from 2022-08-23 16-17-52](https://user-images.githubusercontent.com/89520981/186140134-3d73e889-a1d7-4ea7-a6c7-e4e82dbc2fd7.png)
**With flag**
![Screenshot from 2022-08-23 16-17-47](https://user-images.gi

[2022-08-23 12:15] iks1 commented on #605
Can i work on this issue?

[2022-08-23 12:35] vladklokun commented on #605
@iks1 There’s already someone assigned to the issue.

In the meantime, I suggest you take a look at [other issues](https://github.com/kubescape/kubescape/issues?q=is%3Aissue+is%3Aopen+label%3A%22open+for+contribution%22) tagged as “open for contribution”.

[2022-08-23 12:54] vladklokun commented on #605
@nalin-singh

No, I’m not on Discord.

Let’s start by keeping the conversation here, so we can keep a paper trail and keep track of possible decisions we make. And if there is a need for a lengthy discussion, then we can talk on Discord :)

But please keep in mind that I expect you to propose a preliminary fix by yourself, given how it has already been proposed in #577, and expand the available fi

[2022-08-23 13:20] HawkingRadiation42 opened #639 "README - installation url broken"
# Describe the bug
In README, the TL;DR section has URL for installation on Mac OS, windows and go along with others to redirect the page for installation of the particular operating system.
But after clicking on the URL it redirects to the same repository

Its better to remove the specific URLs for various way for installation as the above curl command is there
or
better to fix the URL by redirec

[2022-08-23 13:58] sakxshi commented on #608
Hey could you please mention the skills required to work on this?

[2022-08-23 14:03] thisiskaransgit commented on #639
We can just fix the URL as it is easier to have a specific installation guide for each OS
I would like to fix this issue ⚒️

[2022-08-23 14:41] noviicee opened #641 "Putting all Installation Methods together in the README."
In the main `README` file, the **Installation** has been provided as a sub-section under the TL;DR section. :point_down:

![image](https://user-images.githubusercontent.com/72334601/186183768-23f6e972-3a93-4387-9121-fbaacdee5d94.png)

If we take a closer look at the `README` of the project, again under the **Tutorials** sub-section of the **Options and examples** section, the same content has been

[2022-08-23 15:18] kunjgit commented on #430
Hi @dwertent i would like to contribute in this issue can you please share some resources that i can go through to understand this issue very well.

[2022-08-23 15:26] kunjgit commented on #592
hey @slashben i would love to resolve this issue give some resources that i can go through and start working on this perticular issue

[2022-08-23 15:28] Ciggzy1312 commented on #592
Hey @slashben if its okay I also might give this one a try

[2022-08-23 15:49] bishal7679 opened #643 "Typo in `kubescape/docs/roadmap.md`"
# Describe the bug
A clear typo is there on [kubescape](https://github.com/kubescape/kubescape)/[docs](https://github.com/kubescape/kubescape/tree/master/docs)/roadmap.md

# Expected behavior
The typo `Confiugration` should be corrected to `configuration`

# Actual Behavior

![Screenshot (284)](https://user-images.githubusercontent.com/70086051/186203220-0db8f1ca-7316-4c94-a6f3-4c336d7216a3.png)

[2022-08-23 15:53] npneeraj commented on #643
Please assign it to me since i am newbie to open-source.

[2022-08-23 16:04] Hirdey-1999 commented on #643
You Can Merge The My PR https://github.com/kubescape/kubescape/pull/645

[2022-08-23 16:27] npneeraj commented on #590
Please assign it to me & share some resources to how to get it done.

[2022-08-23 16:27] bishal7679 opened #646 "Typos in `examples / prometheus / README.md`"
# Describe the bug
Typo is there `vulinrability`

# Screenshot

![Screenshot (285)](https://user-images.githubusercontent.com/70086051/186211675-6d136aeb-9dce-4ba6-8164-07ba8331ac4b.png)

# Expected behavior
typo `vulinrability` should be changed into `vulnerability`

[2022-08-23 17:43] bishal7679 commented on #643
@KanishkaVerma054 @Hirdey-1999
Thanks for showing interest
Actually a PR against this issue is already raised #644
So try to not raise any further PR please, it can generate conflicts
You can go for another opened issue

[2022-08-23 17:58] bishal7679 opened #649 "Typos in Error message and change const variable name"
# Describe the bug

- It will increase better readability if we change the const variable name to `prometheusMetricsPath` from `prometheusMmeticsPath`
- The error message typo in fmt.Errorf()

[code]
# Environment
OS: the OS + version you’re running Kubescape on, e.g Ubuntu 22.04 LTS
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Expected behavior

1. ```go

[2022-08-23 19:04] om2137 commented on #639
it was fixed in #627

[2022-08-23 19:13] bishal7679 opened #653 "Typo Function name `sumObj.ListOfDangerousArtifcats`"
# Describe the bug
- Typo in function of sumObj

[code]
- It would be better if we write `res != 0` instead of `0 != res`

[code]

# Expected behavior
- `sumObj.ListOfDangerousArtifcats` should be `sumObj.ListOfDangerousArtifacts`
-
[code]

File link :- https://github.com/kubescape/kubescape/blob/master/core/pkg/containerscan/containerscan_test.go

[2022-08-23 19:56] CypherpunkSamurai commented on #352
Hello Mr. @dwertent, Sir is this issue still under the project roadmap?

I'm quite familiar with GitHub CI and I'd like to work on contributing to solving this issue 😄

[2022-08-23 21:59] iamhardikat11 commented on #653
Greetings my name is Hardik Soni. I am have decent knowledge of DevOps, Open-Source and Kubernetes.I would like this issue up, please assign this to me.

[2022-08-24 03:08] nalin-singh commented on #605
@vladklokun Sure

[2022-08-24 03:08] nalin-singh commented on #605
@vladklokun Sure

[2022-08-24 04:03] i-am-yuvi commented on #599
Can I work on this?

[2022-08-24 09:18] iamhardikat11 opened #666 "HyperLink Broken in README.md"
# Describe the bug
In the TL, DR Sections on Installation of all the links to ```Install using Go```, ```Install in MacOS``` are broken.
I will solve this and submit a PR.
Thanks and Regards.

[2022-08-24 09:27] iamhardikat11 commented on #666
I hope in the Docs we have terminal commands provided to install KubeScape on MAC OS, Windows, Linux as well as Nix OS, but it lacks Installation of Golang, which is a dependency to run it on a local machine. So adding docs and support for the same.
Thank you.

[2022-08-24 11:51] dwertent commented on #666
Fixed #637

[2022-08-24 11:51] #666 closed

[2022-08-24 11:57] Moshe-Rappaport-CA commented on #608
Hey @Anubhavdevv
It looks like you have the skills for this issue.
I assign this issue to you.
You are welcome to contact me at any stage.

[2022-08-24 12:05] dwertent commented on #599
Sure.
@radoslawdob Can you please lead the solution?

[2022-08-24 12:08] dwertent commented on #653
Hi @bishal7679 , thank you for reporting.
I suggest you should open a PR with a fix :)

[2022-08-24 12:08] #653 closed

[2022-08-24 12:08] dwertent commented on #646
Hi @bishal7679 , thank you for reporting.
I suggest you should open a PR with a fix :)

[2022-08-24 12:08] #646 closed

[2022-08-24 12:18] i-am-yuvi commented on #599
Ohh! Thanks I got it.

[2022-08-24 12:21] slashben opened #668 "Making image scan results available in the cluster"
**Description**
Kubescape microservices scanning container images for vulnerabilities in the cluster. The results today are posted to ARMO cloud (https://cloud.armosec.io). They should be kept in the cluster to make it available for other applications as well. Even kubescape scanner could use the results locally without the need of coming through the ARMO cloud APIs.

**Describe the solution you'd

[2022-08-24 12:24] slashben opened #669 "Make image scanning results available for Prometheus"
**Description**

Image scanning reports/results should be made available for Prometheus stack

**Describe the solution you'd like**
This feature depends on #668 . When it is completed, Kubescape microservices should create an exporter endpoint for Prometheus

[2022-08-24 12:30] slashben opened #670 "Enrich RoleBinding/ClusterRoleBinding objects with cloud vendor infromation"
**Is your feature request related to a problem? Please describe.**
Kubescape today scans a lot of RBAC objects. The RoleBinding objects (both namespace and cluster level) are binding users and groups to roles. This user and group descriptions are not enough alone and the user needs to go to the cloud vendor API to find out who is really behind the given identity.

**Describe the solution you'd lik

[2022-08-24 12:34] kushagra-gupta01 commented on #668
Can you please assign me for this issue?
I would love to contribute.

[2022-08-24 12:37] i-am-yuvi commented on #670
Can I work on it? @slashben

[2022-08-24 12:47] bishal7679 opened #673 "Typos in docs/proposals/container-image-vulnerability-adaptor.md"
# Describe the bug
Typo is `picutre`

# Expected behavior
Typos `picutre` should be changed into `picture`

[2022-08-24 12:47] dwertent commented on #670
@i-am-yuvi  I'm sure you can start working on this.
You will need to update the [cloudsupport](https://github.com/kubescape/k8s-interface/tree/master/cloudsupport) package for this.

[2022-08-24 12:52] i-am-yuvi commented on #670
Sure, Thnks for letting me know

[2022-08-24 13:00] slashben commented on #668
Just did :)

Please be in touch with @dwertent about implementation guidlines

[2022-08-24 13:06] Hirdey-1999 commented on #669
Can I Work On This Issue

[2022-08-24 13:40] RohitYandigeri commented on #673
I fixed the typo

[2022-08-24 13:41] RohitYandigeri commented on #673
[https://github.com/kubescape/kubescape/pull/678#issue-1349466893](url)

[2022-08-24 13:41] bishal7679 commented on #673
@RohitYandigeri where?

[2022-08-24 13:42] bishal7679 commented on #673
Kindly check the current content
And typo is there

[2022-08-24 13:52] RohitYandigeri commented on #673
Can you please close your PR as a newbie I want to merge the PR

[2022-08-24 14:14] dwertent commented on #649
Hi @bishal7679 Thank you for reporting.
Please feel free to open a PR with the relevant fixes.

[2022-08-24 14:14] #649 closed

[2022-08-24 14:15] dwertent commented on #643
Merged #645

[2022-08-24 14:15] #643 closed

[2022-08-24 14:18] Anubhavdevv commented on #608
Sure Sounds Good
I will start working on this !
Thank You !

[2022-08-24 14:18] bishal7679 commented on #649
Already raised a PR for this

[2022-08-24 14:20] #673 closed

[2022-08-24 14:21] dwertent commented on #673
@RohitYandigeri I wish you best of luck :)

[2022-08-24 14:32] souravsk opened #681 "Build error"
# Describe the bug
A clear and concise description of what the bug is.
After cloning the project locally I was build the project by running the first command as mention in the Readme  file
` make libgit2 `
but it shows 2 error

# Environment
OS: the OS + version you’re running Kubescape on, e.g Ubuntu 22.04 LTS

Distributor ID:	Ubuntu
Description:	Ubuntu 22.04 LTS
Release:	22.04
Codename:	jammy

#

[2022-08-24 14:44] dwertent commented on #681
Did you check you dir permissions?

[2022-08-24 15:19] kushagra-gupta01 commented on #668
ok sure

[2022-08-24 16:15] slashben commented on #592
Hey all,

@Ciggzy1312 asked these two questions on Discord , I am putting the answers here so all of us can enjoy ;-)

@Daniel-GrunbergerCA has looked into this and indeed the `fixPaths` is missing and undefined. It is most likely a parsing problem. Kubescape CLI (on which this plugin is built) is returning `fixPaths` in the JSON output, but it is not parsed into the structure you are talking abou

[2022-08-24 16:40] Ciggzy1312 commented on #592
Thanks, @slashben @Daniel-GrunbergerCA  for helping us out
I will try to look into it

[2022-08-24 18:07] orrgato opened #683 "Killercoda KubeScape Playground fails to load"
# Describe the bug
The KubeScape playground mentioned in the [README.md file](https://github.com/kubescape/kubescape#playground) fails to load the scenario.
<img width="1440" alt="The Killercoda Screen failing to load KubeScape Scenario" src="https://user-images.githubusercontent.com/89532792/186490444-33dab15a-725b-4fc0-b2c0-bdfddc28c874.png">

# Environment
The playground runs on [KillerCoda's W

[2022-08-24 18:19] slashben commented on #669
Sure @KlausMikhaelson @Hirdey-1999 , but please not that there is a dependency here #668

[2022-08-24 18:26] Daviddion2525 opened #684 "you need to leave name spaces😎😎😎😎😎"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-24 18:58] MonarchGitHub opened #685 "Adding issue forms to the repo"
I want to add a few issue forms so that it will be convenient for new contributors to open issues. There are already issue templates for this project but they are deprecated now, issue forms instead work way better. I plan to create  **Bug Report**, and **Feature Request** forms.

**_The Bug Report issue form will have the following fields_**

- **Description of the bug**
- **How to Reproduce**
-

[2022-08-24 21:46] nashetali837 commented on #613
Hey, In can work on n this

[2022-08-24 21:56] nashetali837 commented on #436
Hey@slashben, i would like to work on this issue.

[2022-08-25 02:53] MaruthiKo commented on #683
I have tried to recreate the bug by following the steps you have provided.
This is what I have got:
![github](https://user-images.githubusercontent.com/63769209/186563601-dbfcc815-0cec-4eb0-9eb8-34602edf525e.png)

[2022-08-25 03:11] orrgato commented on #683
@MaruthiKo Yes and the next command that should be executed is `wget https://github.com/armosec/kubescape/releases/download/$VERSION/kubescape-ubuntu-latest`, but running that gives the following error,
<img width="949" alt="Terminal screen after running the command" src="https://user-images.githubusercontent.com/89532792/186565448-ead8c03a-0b13-403b-bfa7-e2d5fbd9aebc.png">

It has the value of `V

[2022-08-25 03:47] YashRajSingh-4799 commented on #670
Hi, am looking to contribute to this issue.
Can I work on it? @slashben

[2022-08-25 04:43] legendarykamal opened #689 "Improving the Readme"
# Describe the bug

Currently, the icon in the readme is left aligned including the badge below it which doesn't look good.
2> It asks for liking but there is no way people can react to that call

# Environment
OS: the OS + version you’re running Kubescape on, e.g Ubuntu 22.04 LTS
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Expected behavior
A clear and c

[2022-08-25 07:02] souravsk commented on #681
![Screenshot from 2022-08-25 12-29-07](https://user-images.githubusercontent.com/33636054/186596797-e63fbeda-a6c7-4784-ac92-828de05dad8f.png)
yes I think it has all the necessary permission. Please let me if it need more

[2022-08-25 07:05] satyamkale27 commented on #689
Can you please assign me for this issue?

[2022-08-25 07:10] satyamkale27 commented on #689
ok

[2022-08-25 09:07] legendarykamal commented on #689
@vladklokun please assign me this issue .

[2022-08-25 10:01] hamees-sayed commented on #619
@Moshe-Rappaport-CA Yes exactly the same steps except I created the cluster using kind. I don't think that should make a difference though

[2022-08-25 14:34] dwertent commented on #684
The issue is not clear

[2022-08-25 14:34] #684 closed

[2022-08-25 15:02] MaruthiKo commented on #618
Hi, I would like to work on this issue and start my open source contribution

[2022-08-25 16:40] aparna2071 commented on #592
Hey @slashben I would also like to give it a try.

[2022-08-25 16:46] aparna2071 commented on #670
Hi @slashben I would also like to contribute to this issue.

[2022-08-25 17:23] SrijanShovit commented on #430
Hi @dwertent I would like to contribute in this issue ,Could you please share resources that so as to understand this issue and start contributing asap

[2022-08-25 17:23] SrijanShovit commented on #479
Hi @dwertent I would like to contribute in this issue ,Could you please share resources that so as to understand this issue and start contributing asap

[2022-08-25 17:24] SrijanShovit commented on #685
Hi @dwertent I would like to contribute in this issue ,Could you please share resources that so as to understand this issue and start contributing asap

[2022-08-25 17:25] SrijanShovit commented on #670
Hi @slashben  I would like to contribute in this issue ,Could you please share resources that so as to understand this issue and start contributing asap as I am new to Kubernetes

[2022-08-25 17:25] SrijanShovit commented on #669
Hi @slashben I would like to contribute in this issue ,Could you please share resources that so as to understand this issue and start contributing asap as I am new to Kubernetes

[2022-08-25 18:15] #639 closed

[2022-08-25 18:39] vladklokun commented on #685
Hi! Thanks for taking an interest in contributing to Kubescape :)

As far as I know, issue templates are not deprecated at the moment, while issue forms are in beta. Still, they do look fancy, and we can try them out. So please, go ahead.

At the moment, we triage the tickets on our own, so we don’t need the Urgency Indicator field. Also, to understand the user’s problem, it helps us to know what

[2022-08-25 22:46] RahulSurwade08 commented on #400
Hey @dwertent , I am interested to contribute in this issue. How can i get started?

[2022-08-26 06:25] npneeraj commented on #670
Hi @slashben I would also like to contribute to this issue. Plz share some resources to get started with.

[2022-08-26 06:28] npneeraj commented on #668
Hi @slashben I would also like to contribute to this issue.

[2022-08-26 07:10] souravsk commented on #681
@dwertent
The permission issue is solved but now it says there is a missing file
![Screenshot from 2022-08-26 12-38-13](https://user-images.githubusercontent.com/33636054/186843739-c292bfba-9a11-426d-adef-2ae197abdbcf.png)
.

[2022-08-26 11:10] Saptaktdk commented on #605
[error] failed to discover API server information.
[error] failed to load exceptions. error: http-error: '400 Bad Request',
[fatal] failed to get resource:

Iam getting this types of errors, any idea to solve it ?

[2022-08-26 11:28] Coolsum4 commented on #670
Hi @slashben I would like to contribute to this issue, can share some resources so we can understand the issue properly

[2022-08-26 15:02] pwnb0y opened #703 "Adding a progressbar when downloading kubescape from powershell"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when download it from powershell it didn't show me how much content is downloaded and how much still to be downloaded due to that i quit it many time if i have slow internet connection

**Describe the solution you'd like**

You can solve it by just adding a progress bar of 100% and showing how much percentage

[2022-08-26 17:00] satyamkale27 commented on #703
Can you please assign me for this issue?

[2022-08-26 17:14] rakshitgondwal commented on #670
Hey guys, I think @i-am-yuvi is already working on this issue. I would suggest you all to look up for some other issue or try raising a new issue from your own but if you guys have some leads on issue already then you can try collaborating with @i-am-yuvi to solve this issue together.

[2022-08-26 17:17] satvik2131 commented on #703
I am interested to contribute here , let me know if I can start ?

[2022-08-26 17:21] satvik2131 commented on #668
I want to work on this issue , please assign and guide me regarding it .

[2022-08-26 17:25] satvik2131 commented on #591
Hi @octonawish-akcodes  , I want to join for this issue .

[2022-08-26 17:30] satvik2131 commented on #437
Hi @slashben I want to work on this issue , can you help me working on it

[2022-08-26 17:38] MonarchGitHub commented on #685
Okay, got it 👍

[2022-08-26 19:03] i-am-yuvi commented on #670
Yaa I would agree to @rakshitgondwal. You can even start contributing to it without asking as maintainers are busy in other stuffs too.

[2022-08-26 19:21] Aman123lug commented on #591
@octonawish-akcodes  can you assign please i want to solve.

[2022-08-26 19:24] Aman123lug commented on #437
@slashben  hey ben you please assign me this project i want to work on it.

[2022-08-26 19:26] Aman123lug commented on #669
@slashben @Hirdey-1999 @KlausMikhaelson @taylor can you assign me this project please i want to work on it i already learn kubernetes docker all these thing i want to work on it.

[2022-08-26 19:31] Aman123lug commented on #668
@slashben can you me assign me this project i love to contribute

[2022-08-26 19:38] Aman123lug commented on #670
@slashben hey please assign me this project i love to contribute in open source and this is great opportunity for me.

[2022-08-26 19:45] octonawish-akcodes commented on #591
@Aman123lug you can take it i will work on another one

[2022-08-26 19:55] muppinesh commented on #703
Hi Vicky, I am interested to solve this issue. Can you assign me this

[2022-08-27 02:59] ryuusama09 commented on #400
hi @dwertent , I want to fix this issue, please tell me where exactly can i start from and what needs to be possibly done ?

[2022-08-27 03:05] ryuusama09 commented on #589
hi @dwertent , I would like to cater to this bug . Can you tell me what could be possibly done and where to start from ?

[2022-08-27 10:07] satvik2131 commented on #619
I have also tested  this in my container instance , the results are same , there must be some issue to the container .

[2022-08-27 11:06] souravsk commented on #681
I tried using the vs code but the problem remain same there is some missing file

![Screenshot from 2022-08-27 16-26-07](https://user-images.githubusercontent.com/33636054/187027400-8022fbdf-4950-47a2-9b1e-b069ce2041f8.png)

[2022-08-27 11:45] pwnb0y commented on #703
Sorry, @MaruthiKo  I have started working on this already.
But I will open more issues soon, look out for them 🙂

[2022-08-27 12:53] MaruthiKo commented on #703
Alright sure✌️

[2022-08-27 16:30] Ciggzy1312 commented on #592
Hey @slashben as the scanned results are not returning the `fixPaths` but the cli is the problem might be with the package (https://github.com/kubescape/node-kubescape) that is scanning the YAML file and I thought of checking it out but came across an error that `Kubescape is not installed`

Any way to test it locally without facing the issue? Any help would be great

[2022-08-27 19:14] DeeptanshuDas commented on #670
Hi @slashben  I would like to contribute in this issue.

[2022-08-28 05:45] slashben commented on #437
@satvik2131 , @Aman123lug , please note that this issue has already been assigned

[2022-08-28 05:47] slashben commented on #668
@npneeraj , @satvik2131 , @Aman123lug , this issue has already been assigned to someone. If you want to check with him, please reach out directly to @kushagra-gupta01

[2022-08-28 06:04] slashben commented on #592
Hey @Ciggzy1312 ,
Try this command:

`kubescape scan -f json --format-version v2 https://raw.githubusercontent.com/GoogleCloudPlatform/microservices-demo/main/release/kubernetes-manifests.yaml | jq . | grep fixPath`

You will see that the Kubescape does return `fixPath` (not `fixPaths`, my bad if I misled you)

You can also check out the actual structure in the output of the CLI (see `output.json`

[2022-08-28 06:07] slashben commented on #670
As said before, @i-am-yuvi is already working on this. Please be in touch with him. He might divide the work into sub-tasks (GCP vs AWS and etc.)

[2022-08-28 07:10] suhasgumma commented on #683
Quick Solution to Use Killercoda Playground Immediately: Run the following Commands after the playground opens and shows the above-described error:

[code]
[code]
[code]
[code]

[2022-08-28 07:18] suhasgumma commented on #683
# Permanent Solution

## Root Causes
* 'jq' library is not installed in the playground. It might have been installed by default when the author was creating the playground but it's not installed now.
* The URL which is used to get the 'VERSION' was moved from "https://api.github.com/repos/armosec/kubescape/releases/latest "  to "https://api.github.com/repositories/395283401/releases/latest"
## Sol

[2022-08-28 07:24] saiyam1814 commented on #683
Would you like to raise a PR for this ? @suhasgumma

[2022-08-28 07:59] dwertent opened #710 "Kubescape fails to authenticat remote private github repo"
# Bug description
Kubescape fails to clone private github repositories because the authentication is not working

# Environment
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
Steps to reproduce the behavior:

1. Setup GITHUB_TOKEN env
[code]
2. Scan remote repo
[code]

# Expected behavior
Kubescape should clone the repo and scan

# Actual

[2022-08-28 08:01] suhasgumma commented on #683
In my understanding, I have to make changes in the "https://github.com/saiyam1814/katacoda-scenarios" repository to solve this issue. Is there a way to open a pull request here?

[2022-08-28 08:10] saiyam1814 commented on #683
Yes just open the PR in above repo and once merged, it will be reflected in the scenarios

[2022-08-28 08:18] orrgato commented on #683
That would solve the issue.
@suhasgumma, Could you please let me know once you make the pr, so I can close this issue.

[2022-08-28 08:22] suhasgumma commented on #683
Done!! I opened the PR in your katakoda-scenarios. Thanks for the help @saiyam1814

[2022-08-28 08:23] suhasgumma commented on #683
Yes, will let you know once the issue is solved.

[2022-08-28 08:26] suhasgumma commented on #710
Can I work on this @dwertent ?

[2022-08-28 10:17] iamhardikat11 opened #711 "Issue with Running KubeScape on Mac OS"
I have a MacOS System, we have some issues mentioned particularly for Ubuntu System. If I have to work on them, should I switch to a Linux Based Operating System, or can I use a VM Like Parallels. I can't afford to buy another machine just to do development. I am facing problems with VM like Parallels failing to install GoLang and Visual Studio Code as Debian Distribution support amd64 architectur

[2022-08-28 11:13] dwertent commented on #710
@suhasgumma Any ETA?

[2022-08-28 11:42] ShivanshCharak commented on #710
this bug seems interesting, i am second in the line

[2022-08-28 11:56] suhasgumma commented on #710
Are you asking estimated time??

[2022-08-28 11:59] ShivanshCharak opened #712 "Update command"
**Is your feature request related to a problem? Please describe.**
I was trying to update kubescape's version but i didn't find update command, so i first uninstalled the cli and then reinstalled it for the new version
**Solution**
I think it would be great if we add update command in the cli.

[2022-08-28 12:03] ShivamTyagi12345 commented on #710
Is this issue good for the ones who have only a prefatory idea of the code base  @dwertent Or does it require a higher level of familiarity?

[2022-08-28 12:05] ShivamTyagi12345 commented on #712
Hey @ShivanshCharak  Can you please add any additional info on this issue,Maybe `steps to reproduce the bug`? Thank You😊

[2022-08-28 12:26] suhasgumma commented on #710
I am almost done!!

[2022-08-28 13:13] Yh010 opened #713 "Steps not defined in the Job for Github actions"
https://github.com/Yh010/kubescape/actions/runs/2938641745/workflow

No steps have been defined for the first job, resulting in an invalid workflow file/ failure in running checks for, say, a PR for correction of grammatical errors

[2022-08-28 13:30] shashankdaima commented on #670
@i-am-yuvi  are you still working on this? can we collab for this issue?

[2022-08-28 13:51] shivang2000 commented on #608
hey @Anubhavdevv, @Moshe-Rappaport-CA.
can I also contribute to this as I think I will be able to do it?

[2022-08-28 17:09] MrKrishnaAgarwal opened #714 "Fixed Typos"
#675
Closes this issue on merging

[2022-08-28 17:10] MrKrishnaAgarwal commented on #714
#677

[2022-08-28 19:00] Shivaniiiiiiiiiii commented on #619
I also tried on this issue and getting the same results.

[2022-08-28 19:00] amirmalka commented on #592
@Ciggzy1312 Could you please advise how did you get this error? The VSCode extension is compiling and running without issues for me

I advise to anyone who's willing to work on this ticket to setup his dev environment as follows:
1. Clone [vscode-kubescape](https://github.com/kubescape/vscode-kubescape) repository
2. Run `npm install`
3. Launch VSCode extension in debug (.vscode configuration file

[2022-08-28 20:54] iamhardikat11 commented on #95
Hi, is this Issue still open, please guide me how to work on this, Thank you and kudos to your team.

[2022-08-28 21:54] shivang2000 commented on #712
@ShivamTyagi12345 i think @ShivamTyagi12345 is asking for a feature like npm install -h npm or just simply run

kubescape update
to go from lets say v1.1 -> v1.2

[2022-08-29 02:40] i-am-yuvi commented on #670
@shashankdaima yaa I'm still working on it. We can collab for sure. Go through the docs before jumping to the repos.

[2022-08-29 02:45] i-am-yuvi commented on #670
i_m_yuvi#9537 there you go @shashankdaima

[2022-08-29 05:35] pwnb0y commented on #703
🙂 Need help:

#Progress bar script of PowerShell to download Kubescape
$fullurl= https://github.com/kubescape/kubescape/releases/download/v2.0.168/kubescape-windows-latest
$Total_size= (Invoke-WebRequest -Uri $fullurl -Method Head).Headers.' Content-Length'
$Downloaded_size=0
while($Downloaded_size -lt $Total_size){
 $downloaded_percentage= ((100/$Total_size)*$Downloaded_size)+1
 [MATH]::Floor($do

[2022-08-29 05:56] satyamkale27 commented on #712
i would like to work on this feature

[2022-08-29 07:31] pwnb0y opened #717 "install.ps1 script is not working on microsoft azure cloud VM"
# Describe the bug
When I fire up the command in Powershell to download kubescape on my azure cloud VM error will occur.

# Environment
OS: Microsoft Windows NT 10.0.19044.0
Version: the version that Kubescape reports when you run `kubescape version`
[code]

![issue](https://user-images.githubusercontent.com/96813659/187147756-06754975-b4ce-4649-9b77-19f1d9d31a87.png)

[2022-08-29 07:44] dwertent opened #718 "Scan Kustomize charts"
**Description**
Currently, Kubescape scans YAMLs and Helm templates but not [kustomize](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/) charts.

**Additional context**
Kubescape should generate the Kubernetes YAMLs from the Kustomize chart and scan the files.
This should work similarly to the [helm chart](https://github.com/kubescape/kubescape/blob/master/core/pkg/resour

[2022-08-29 07:46] dwertent opened #719 "Scan Terraform files"
**Description**
Currently, Kubescape scans YAMLs and Helm templates but not [Terraform](https://www.terraform.io/).

**Additional context**
Kubescape should generate the Kubernetes YAMLs from the Terraform chart and scan the files.
This should work similarly to the [helm chart](https://github.com/kubescape/kubescape/blob/master/core/pkg/resourcehandler/filesloader.go#L118) scanning mechanism

[2022-08-29 08:03] PratikDey commented on #718
Hi @dwertent , can I work on this issue?

[2022-08-29 08:28] RahulSurwade08 commented on #719
Hey @dwertent I would love to contribute on this issue. How can i get started?

[2022-08-29 09:21] dwertent commented on #719
Please take a look of how we implemented this with helm.
In a word - we generated the YAML objects from the templates, and we scanned those objects.

Also here, we will need to generate kubernetes objects from the file.
I'm sure there is a go package that can do this.

[2022-08-29 09:21] dwertent commented on #718
Please take a look at how we implemented this with helm.
In a word - we generated the YAML objects from the templates, and we scanned those objects.

Also here, we will need to generate kubernetes objects from the file.
I'm sure there is a go package that can do this.

[2022-08-29 09:28] PratikDey commented on #718
So, the implementation is going to be the same as the helm implementation?

[2022-08-29 09:39] RahulSurwade08 commented on #719
Okay, I will go through the helm chart mechanism and do some research on go package.

[2022-08-29 09:52] dwertent commented on #712
@ShivamTyagi12345 This might require writing permissions, which are usually not granted.
But in general, I think this is a great idea.

## Requriments
Add `kubescape update` command
We should support an additional `-v`/`--version` flag for downloading a specific version

## User story
When the user runs this command, kubescape will re-install to the latest/specified version.
If the command fails,

[2022-08-29 09:54] pwnb0y commented on #717
Hey @dwertent i pull request for this issue please marge it

[2022-08-29 09:55] dwertent commented on #711
You can use a VM, but there is no need.

[2022-08-29 09:55] #711 closed

[2022-08-29 09:56] pwnb0y commented on #717
Assign me first please

[2022-08-29 10:02] dwertent commented on #681
@amirmalka Did you see this before?

[2022-08-29 13:08] ShivanshCharak commented on #712
@dwertent so can we contribute to this issue? I think this one most relevant to me to start with

[2022-08-29 13:13] amirmalka commented on #681
@souravsk `pkg-config` & `cmake` are needed. In your case I can see that `pkg-config` is missing

I don't have an ubuntu machine to confirm but I would say that the following commands should install it:
[code]

Please advise if it solves your issue

[2022-08-29 13:42] MaruthiKo commented on #713
Hi,I would like to work on this issue

[2022-08-29 13:58] souravsk commented on #681
@amirmalka thank you it worked I have tried precisely but I didn't at that time but for some reason, it is working now.

[2022-08-29 13:58] #681 closed

[2022-08-29 15:01] muppinesh commented on #719
@dwertent , Can I also contribute for this issue

[2022-08-29 15:24] pwnb0y opened #725 "Grammar mistake in PULL_REQUEST_TEMPLATE.md file"
# Describe the bug

Grammar mistake in PULL_REQUEST_TEMPLATE.md file
``` I have commented my code, particularly in hard-to-understand areas ```
should be
``` I have commented on my code, particularly in hard-to-understand areas ```
# Environment
Version: the version that Kubescape reports when you run `kubescape version`
[code]

[2022-08-29 16:29] Ciggzy1312 commented on #592
Hey @amirmalka, sorry as I probably have misled you. I followed all the steps you and ben mentioned beforehand and found out that the scanned results from the [node-kubescape package](https://github.com/kubescape/node-kubescape) don't return `fixPath` and so I tried to check it out by setting it up locally

The problem I am facing is that whenever I am trying to do `npm link @kubescape/install` af

[2022-08-29 16:29] krupalitrivedi opened #726 "Combining the Installation for the OS under One Title"
Hello! While going through the documentation, I was able to see the following in the ReadMe file and I have some suggestions regarding the same.

![image](https://user-images.githubusercontent.com/99717469/187248414-2a186e8d-a287-4d6e-968c-b5e7180a5320.png)

- Instead of "Install for `platform name` ", it would look consistent and easier to read when someone is going through repository if we chang

[2022-08-29 17:05] MrKrishnaAgarwal opened #728 "Fix Typo's and Spelling Mistakes"
Grammar Errors

[2022-08-29 17:16] MrKrishnaAgarwal commented on #728
#729

[2022-08-29 17:17] MrKrishnaAgarwal commented on #728
Closes #729

[2022-08-29 17:34] PratikDey commented on #718
Ok, I'll start working on this issue

[2022-08-29 18:00] pwnb0y commented on #725
Assign to me

[2022-08-29 18:16] MaruthiKo commented on #726
Hi, I would like to work on this issue

[2022-08-29 18:17] MaruthiKo commented on #725
Hi, I would like to work on this issue

[2022-08-29 18:21] ShivamTyagi12345 commented on #726
Goodluck with the feature @MaruthiKo.Lemme know if you need help at any point😄

[2022-08-29 18:29] MaruthiKo commented on #726
Sorry bro, just completed this and also added a PR

[2022-08-29 19:13] pwnb0y commented on #726
@MaruthiKo  of course bro 😃

[2022-08-30 03:13] pwnb0y opened #735 "build.bat file is not working."
# Describe the bug
When I try to build from buid.bat or try to download it through too many errors and also warning is occurring

# Environment
OS: ``` Win32NT             10.0.18363.0 Microsoft Windows NT 10.0.18363.0  ```
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to 'kubescape directory'
2. Cli

[2022-08-30 03:58] pwnb0y opened #736 "some grammar mistakes in "kubescape/httphandler/README.md" file."
# Describe the bug
I found some grammatical mistakes in ``` kubescape/httphandler/README.md ```  file
In place of :
```    /livez - will respond 200 is server is alive  ```
It should be:
```   /livez - will respond to 200 if the server is alive   ``` <br>
In place of :
 ``` Trigger scan and wait for scan to end  ```
It should be:
``` Trigger scan and wait for the scan to end ``` <br>
In place of :

[2022-08-30 04:24] KanishkaVerma054 commented on #736
Can I work on this issue?

[2022-08-30 07:18] pwnb0y commented on #736
Why not😊

[2022-08-30 07:57] amirmalka commented on #592
@Ciggzy1312 I assume you are getting this error because our vscode extension currently works with version `0.3.6` of `@kubescape/install`, while `npm link` links to the latest version?
I know there have been a few changes in the latest versions of `@kubescape/install` which would require code changes before using a newer version.

[2022-08-30 08:50] pwnb0y commented on #717
/assign

[2022-08-30 08:52] dwertent commented on #717
Hi @pwnb0y I am testing your PR :)

[2022-08-30 09:20] satvik2131 commented on #719
Hi @dwertent , I understand the issue and know how to fix it , can you assign me the issue

[2022-08-30 10:04] PratikDey commented on #718
Hi @dwertent , do I need to make the Kustomize chart file in the cautils folder before writing the code for the pkg/resourcehandler/filesloader file?
Sorry if this is a silly question.

[2022-08-30 12:07] MrKrishnaAgarwal opened #739 "test"

[2022-08-30 12:08] MrKrishnaAgarwal commented on #739
#672
testing my github action

[2022-08-30 12:08] #739 closed

[2022-08-30 14:45] AmanGupta677 commented on #736
I would like to work on this issue can I get started?

[2022-08-30 16:26] KanishkaVerma054 commented on #736
Hey @pwnb0y, I've updated the httphandler readme file as you've said. Can you please review my changes and merge it?

[2022-08-30 17:26] pwnb0y commented on #736
ok sure 👍

[2022-08-30 17:38] pwnb0y commented on #736
Hi @KanishkaVerma054  after changing this line
```  * `/livez` - will respond to 200 if the server is alive ```
you can also change and correct this line
``` * `/readyz` - will respond 200 if server can receive requests ``` here 'the' is missing

[2022-08-30 18:13] pwnb0y opened #743 "Adding a banner in install.sh file"
**Is your feature request related to a problem? Please describe.**
Kindly add a banner in install.sh file for better UI and attract users to be curious about our organization.

**Describe the solution you'd like**
It can be an ASCII banner that is written in echo to just print it out
![banner](https://user-images.githubusercontent.com/96813659/187512224-26136d02-9c92-409e-9e30-c97db5713036.png)

[2022-08-30 18:16] Nabhag8848 commented on #743
Hey, would love to work on it.  can you assign it.

[2022-08-30 19:52] iamhardikat11 commented on #743
I would like to work on this Issue?

[2022-08-30 19:52] iamhardikat11 commented on #743
Can you assign this to me?

[2022-08-31 01:13] shivang2000 commented on #719
hi @dwertent, can i also work on this feature ?

[2022-08-31 03:38] KanishkaVerma054 commented on #736
Thanks for the the reply @pwnb0y. I'm fixing this issue right now.

[2022-08-31 04:30] KanishkaVerma054 commented on #736
Hey @pwnb0y, I've changed the issue as you've said. Can you please review my change and merge it?

[2022-08-31 08:22] Talha-Here commented on #479
Hi @dwertent I would like to help and contribute in this issue , it would be great if you share some resources as it would help in understanding and contributing

[2022-08-31 09:11] KanishkaVerma054 commented on #736
hey @pwnb0y have you seen the changes I've done?

[2022-08-31 12:42] pwnb0y commented on #736
👍

[2022-08-31 14:06] KanishkaVerma054 commented on #736
@pwnb0y can you please merge my code?

[2022-08-31 17:02] ryuusama09 commented on #689
Is this issue now closed , if not then please assign it to me

[2022-08-31 21:27] RahulSurwade08 opened #747 "Improving Dockerfile"
We can improve Dockerfile by

1. Adding Alpine tag for future reference of base image version
2. Removing inessential commands

[2022-09-01 01:05] ryuusama09 commented on #747
hey ! , I would like to work on this issue . Can you tell me where to start from @RahulSurwade08

[2022-09-01 03:27] Aryan-Deshpande commented on #747
If this issue is authorised, would love to work with this one !

[2022-09-01 04:57] RahulSurwade08 commented on #747
Hey @ryuusama09 @Aryan-Deshpande Thanks for asking but I have created this issue for keeping track of the PR raised.

[2022-09-01 05:47] #725 closed

[2022-09-01 08:20] nerodtm opened #749 "Registry scanning ACR"
unable to run registry scanning in ACR

[2022-09-01 08:34] verma-kunal commented on #436
Hey @nashetali837 , glad to know you are interested in working on this! I have actually been working on this one & made some progress as well. Maybe we could collaborate in the future :)

Till then, you may have a look at various other open issues out there (https://github.com/kubescape/kubescape/issues)
Hope you understand :)

[2022-09-01 08:34] verma-kunal commented on #436
Hey @nashetali837 , glad to know you are interested in working on this! I have actually been working on this one & made some progress as well. Maybe we could collaborate in the future :)

Till then, you may have a look at various other open issues out there (https://github.com/kubescape/kubescape/issues)
Hope you understand :)

[2022-09-01 10:32] suhasgumma commented on #589
Hi @dwertent, the issue is still reproducible. Can I work on this?

[2022-09-01 10:41] KanishkaVerma054 commented on #736
Hey, @dwertent I've updated all the changes describe in this issue. Can you please review my changes and merge it?

[2022-09-01 11:25] pwnb0y commented on #735
/assign me

[2022-09-01 15:25] pwnb0y commented on #749
Hey, @nerodtm can you explain this issue in detailed manner?

[2022-09-01 15:37] Csrivastava003 commented on #618
Hey, I would like to work on this issue

[2022-09-01 15:50] Csrivastava003 commented on #400
Hey, I would like to work on this issue!

[2022-09-02 08:19] suhasgumma opened #754 "Misconfiguration in "close-typos-issues.yaml" workflow file"
# Describe the bug
* A job named "build" was defined in the `".github/workflows/close-typos-issues.yaml"` file but steps are not defined. This throws an invalid workflow file error.

# Expected behaviour
* `"close-typos-issues.yaml"` attempts to define a GitHub Actions workflow to close issues automatically if they are labelled "typo".

# Actual Behavior
throws an invalid workflow file error.

# A

[2022-09-02 08:20] suhasgumma commented on #754
Can I work on this?

[2022-09-02 08:43] nerodtm commented on #749
For your reference,

[image: kubescape.PNG]

Thanks and Best regards
DTM Niroshan Tharanga

On Fri, Sep 2, 2022 at 2:00 PM Niroshan Tharanga <
***@***.***> wrote:

[2022-09-02 09:09] devmrfitz commented on #605
@vladklokun Can I take up this issue?

[2022-09-02 09:12] devmrfitz commented on #670
@i-am-yuvi Would you like a hand on this?

[2022-09-02 09:17] devmrfitz commented on #560
@vladklokun @dwertent Can I work on this issue?

[2022-09-02 13:24] ryuusama09 commented on #754
can I work on this issue ? @slashben

[2022-09-02 13:29] suhasgumma commented on #754
@ryuusama09  I've already solved it and raised a PR

[2022-09-02 13:30] ryuusama09 commented on #754
oh okay

[2022-09-02 15:11] SD-13 commented on #735
Hey @pwnb0y, Can I give it a try?

[2022-09-02 17:12] vinayak-0017 commented on #668
heyy man , can I work with you on this issue??

[2022-09-02 17:13] vinayak-0017 commented on #668
@kushagra-gupta01  hey man, can I work with you on this issue?

[2022-09-02 19:09] pwnb0y opened #756 "typo mistake in container-image-vulnerability-adaptor.md file"
# Describe the bug
Some typo mistakes occur in container-image-vulnerability-adaptor.md file

# Environment
OS: the OS + version you’re running Kubescape on, e.g Ubuntu 22.04 LTS
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

# Expecte

[2022-09-02 19:11] pwnb0y opened #757 "typo mistakes in the roadmap.md file"
# Describe the bug
typo mistakes in the roadmap.md file
# Environment
OS: the OS + version you’re running Kubescape on, e.g Ubuntu 22.04 LTS
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

# Expected behavior
A clear and concise descrip

[2022-09-02 19:13] pwnb0y commented on #735
Sorry, @SD-13 I am already working on this issue.

[2022-09-02 19:17] SD-13 commented on #735
Okay, np

[2022-09-02 19:19] pwnb0y opened #758 "typo mistake in build.py file"
# Describe the bug
due to a typo mistake in build.py get_package_name(): function is not working it treated like the comment in the program

# Environment
OS: the OS + version you’re running Kubescape on, e.g Ubuntu 22.04 LTS
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3

[2022-09-02 20:43] pwnb0y opened #760 "make a script to build on windows in powershell (ie: build.ps1)"
**Is your feature request related to a problem? Please describe.**
When  building it in a windows environment with build.bat, the script is not working bat scripting can not be used at large scope so I decided to build it in PowerShell script which works correctly in any windows environment

[2022-09-02 20:43] pwnb0y commented on #760
I am very excited to work on it please assign it to me.

[2022-09-02 20:50] pwnb0y commented on #735
Hey, @SD-13 You can work on this issue. Good luck 👍

[2022-09-02 21:00] pwnb0y opened #761 "I think it is not a secure way to authenticate a user by putting their token in the os environment."
Hey, @dwertent  I think it is not a secure way to authenticate a user by setting their token in the environment.
I think one switch is also available like -p by using that flag users can pass their token in script or it prompts input for the token,
if someone put their token in their os environment they can be exploited.

_Originally posted by @pwnb0y in https://github.com/kubescape/kubescape/pull

[2022-09-03 01:37] suhasgumma commented on #683
#saiyam1814/katacoda-scenarios#4

[2022-09-03 08:40] #689 closed

[2022-09-03 08:42] legendarykamal commented on #712
hi @dwertent thankyou for the detailed info , I would love to contribute on this @vladklokun @dwertent can you please assign me this issue?

[2022-09-03 08:53] legendarykamal opened #763 "[PR] Template Improve"
# Describe the bug
A clear and concise description of what the bug is.

The PR template should include a line saying This PR fixes: #
But currently it says Ticket no. which will not be convenient for the new contributors and they might not link their issue no. , so we need to change.

https://github.com/kubescape/kubescape/blob/master/.github/PULL_REQUEST_TEMPLATE.md

# Environment
OS: the OS + ve

[2022-09-03 08:53] legendarykamal commented on #763
/assign

[2022-09-03 09:40] AmanGupta677 commented on #763
I would like to work on this issue.

[2022-09-03 15:07] Ciggzy1312 commented on #592
Hey @slashben let me know if we want something like this
[Video url](https://user-images.githubusercontent.com/65884232/188274895-371e1589-0508-4218-8db2-2c49435c04c0.webm)

One thing to keep in mind is that the `fixPath` is not returned when we are using kubescape from `"/home/deepayan/Desktop/OSS/Kubescape/vscode-kubescape/install/kubescape"` but everything works fine when the relative path is r

[2022-09-03 17:59] i-am-yuvi commented on #670
@devmrfitz sure why not

[2022-09-04 01:58] saiyam1814 commented on #683
I have tested and it works fine now

[2022-09-04 03:07] suhasgumma commented on #683
Thank you Saiyam!! @orrgato, you can close the issue now.

[2022-09-04 04:28] ryuusama09 commented on #713
hi , I would like to help here

[2022-09-04 05:04] itsCheithanya commented on #718
/assign

[2022-09-04 05:21] orrgato commented on #683
I learnt a lot from opening this issue.
Thank you @suhasgumma, @saiyam1814.

[2022-09-04 05:21] #683 closed

[2022-09-04 06:45] devmrfitz commented on #560
@mowies Does [this](https://github.com/devmrfitz/kubescape-color-test/runs/8174671148?check_suite_focus=true) look good?

[2022-09-04 07:04] Bezbran commented on #749
Hi @nerodtm , the ACR [isn't tested yet](https://hub.armosec.io/docs/registry-vulnerability-scan#tested-on).
I will glad to set a meeting with you to see why it's not working for you.
Please feel free to contact me: bez@armosec.io.

[2022-09-04 07:32] slashben commented on #592
@Ciggzy1312 awesome!!

It is a great start! I wanted something like this. Do you think it is possible to do it from a context menu (right click on mouse)? In general, my question is, would you (as a developer) be satisfied with this user flow?

About this issue with the missing fixPath: it looks indeed like a versioning issue (I am sure that the relative and absolute path invocations are pointing

[2022-09-04 08:05] mowies commented on #560
@devmrfitz could you please post a Screenshot? I can't access the logs in your pipeline run

[2022-09-04 08:23] Rohan-Dah commented on #439
Hey @slashben  .. I would love to contribute to this issue as well... I am learning new stuff about it and am ready to team up with people to get this issue sorted... Could you please help me out with this?..

[2022-09-04 09:55] #758 closed

[2022-09-04 09:58] #763 closed

[2022-09-04 10:00] #754 closed

[2022-09-04 10:03] #714 closed

[2022-09-04 10:03] #757 closed

[2022-09-04 10:04] #728 closed

[2022-09-04 10:06] dwertent commented on #743
I dont see why we should add a banner

[2022-09-04 10:06] #743 closed

[2022-09-04 10:06] dwertent commented on #747
Merged #748

[2022-09-04 10:06] #747 closed

[2022-09-04 10:07] #736 closed

[2022-09-04 10:10] slashben commented on #439
@Rohan-Dah , it is a duplicate of #591 and already a some guys are working on it

[2022-09-04 10:10] slashben commented on #591
@octonawish-akcodes @satvik2131 @Maniktherana , any news on this?

[2022-09-04 10:33] satvik2131 commented on #591
@slashben  I was not assigned the issue , can I work on it ?

[2022-09-04 10:58] anubhav06 commented on #613
Hi @vladklokun. I was trying to understand the issue.

Let's say I have multiple clusters running. Should this CLI flag, help me in choosing which cluster to scan?
`For Example:`
cluster-1-name: *development*
cluster-2-name: *production*
Running `kubescape scan --clusterName=development` would scan the 1st cluster instead of 2nd.

**OR**

The CLI flag should just help in setting a custom name for

[2022-09-04 11:20] dwertent commented on #599
[Merged](https://github.com/kubescape/regolibrary/pull/88)

[2022-09-04 11:20] #599 closed

[2022-09-04 11:22] Maniktherana commented on #591
@slashben I wasn't assigned anything nor in touch with anyone here. I'm still open to working on this

[2022-09-04 12:34] suhasgumma commented on #713
Hi @Yh010, #755 Solved this issue. Could you please check if the issue is still there?
If not, you can close the issue.

[2022-09-04 13:23] amirmalka commented on #436
@verma-kunal It seems like a good first step.

Next steps would be:
1. Define a new ECR adaptor which implements the `IContainerImageVulnerabilityAdaptor` interface (https://github.com/kubescape/kubescape/blob/dev/core/pkg/registryadaptors/registryvulnerabilities/interfaces.go)
2. Initialize your ECR adaptor in the `listAdaptors()` function https://github.com/kubescape/kubescape/blob/master/core/p

[2022-09-04 17:20] Rohan-Dah commented on #439
@slashben alright...

[2022-09-04 17:55] devmrfitz commented on #560
![Screenshot_20220904-232451_Chrome](https://user-images.githubusercontent.com/58381523/188327005-63a95d6e-0e90-40c5-ba95-b81d0ce3ea4c.jpg)

[2022-09-04 17:55] devmrfitz commented on #560
@mowies

[2022-09-04 17:57] mowies commented on #560
That looks great @devmrfitz !

[2022-09-04 17:58] iamhardikat11 commented on #761
I can suggest a solution we can ask the user to register on kubescape's website and then ask him, to enter a command like "kubescape login" and then enter his login credentials to get access to all his work and  work on it accordingly. I am a novice programmer, I would like to work on it.  Looking at the amount of work and code this fact involves I would to like to pitch this as my project for the

[2022-09-04 18:49] iamhardikat11 commented on #561
Hi @dwertent  I would like to work on this issue? Please help me out with it.

[2022-09-04 19:23] slashben commented on #591
@Maniktherana @satvik2131 , I suggest you two connect and (if you want) start working on this.

What I think we should aim is the UI/UX feeling of the scan results should be something similar to what you see in the "repository scanning" at https://cloud.armosec.io .

What I mean that you should show the results per file -> per resource -> controls

[2022-09-05 01:45] #713 closed

[2022-09-05 02:30] satvik2131 commented on #591
HI @slashben I have talked to @Maniktherana and we are ready to work on the task , I understand the task and can start working . Can you assign us the task.

[2022-09-05 07:49] #561 closed

[2022-09-05 07:49] #588 closed

[2022-09-05 07:49] #547 closed

[2022-09-05 07:49] #560 closed

[2022-09-05 07:49] #710 closed

[2022-09-05 09:09] #600 closed

[2022-09-05 11:28] MrKrishnaAgarwal opened #778 "Fixed Typos"
Fixed some typos in #777

[2022-09-05 15:22] Ciggzy1312 commented on #592
@slashben yes I think it would be possible to do it from a context menu and it would also be better from the user perspective.
But I would need a bit more clarification on exactly what we need to implement

Also before making PR which is just changing the path from relative to absolute(in `0.3.12` so it wouldn't even be in effect as of now) will it not be a better idea to first take care of the ve

[2022-09-05 16:32] slashben commented on #592
Hey

We will hold community meeting tomorrow at 14:00 GMT in Zoom (will push to
readme.md the link in a few minutes)

Want to join?

On Mon, Sep 5, 2022 at 6:22 PM Deepayan Mukherjee ***@***.***>
wrote:

[2022-09-05 17:22] Ciggzy1312 commented on #592
@slashben yes, would love to join

[2022-09-05 19:40] Aman123lug commented on #719
can u assign me the project @dwertent

[2022-09-06 05:48] #778 closed

[2022-09-06 07:01] Bezbran opened #784 "Backstage plugin"
As DevOps, we want to allow the developers as much autonomy as we can for their workloads operations while keeping all our necessary guardrails.

[Backstage portal](https://github.com/backstage/backstage#getting-started) is one of the most powerful and common in use solutions to fulfil this requirement.
Backstage is the centralized place where developers meet the operations of the applications.

B

[2022-09-06 07:23] itsCheithanya commented on #479
@dwertent assign this issue as I've already completed half of the work just some checks needed

[2022-09-06 08:25] itsCheithanya commented on #784
I would like to work on this issue

[2022-09-06 08:29] MitAbhay commented on #784
I would also like to work on this issue @Bezbran

[2022-09-06 10:24] suhasgumma commented on #618
Hi @vladklokun, I can see Kubescape storing different framework controls, forbidden container registry & config files in the default cache directory. The caching is very useful for frequent multiple scans, Kubescape does not have to fetch these resources again and again from armo cloud. I thought of two ways for approaching the situation.

### 1. Cache by Default
* By default, kubescape creates re

[2022-09-06 10:50] suhasgumma commented on #718
Hi @PratikDey, Can I work on this issue?

[2022-09-06 15:01] PratikDey commented on #718
Yeah sure, we can collaborate and work together if that's not a problem. How about you dm me on discord and we can discuss the next steps
Discord username is-- localhost#8022

[2022-09-06 15:22] Ciggzy1312 commented on #592
@slashben @dwertent created an issue regarding the versioning problem [here](https://github.com/kubescape/node-kubescape/issues/1)
Made the issue in the plugin repo rather than the extension repo as it is more of the plugin not pointing to the same version for relative and absolute path

And as for the user context feature will start working on it on the side in such a way that it will be compatib

[2022-09-07 01:58] deepuyadav004 commented on #784
I would also like to work on this

[2022-09-07 02:06] deepuyadav004 commented on #735
Hello @SD-13, are you working on it or do you need any kind of help than please let me know I will be happy to help you

[2022-09-07 02:08] deepuyadav004 commented on #719
Is there anyone working on this issue ? Can I give it a try?

[2022-09-07 02:10] deepuyadav004 commented on #718
Hello @PratikDey can I also join you. I think we all three can collaborate together and make our work more productive.

[2022-09-07 05:38] PratikDey commented on #718
@deepuyadav004 sure

[2022-09-07 06:06] jainpratik163 opened #787 "how to scan helm chart locally offline"
# Describe the bug
i am running this command `kubescape scan <helm chart directory>` help menu is opening and when I run below command

`kubescape scan framework nsa <helm chart directory>`
I am getting this
**ARMO security scanner starting
[progress] Downloading/Loading policy definitions
[success] Downloaded/Loaded policy
empty list of workloads - no workloads found**

# Environment
OS: the OS +

[2022-09-07 06:07] Bezbran commented on #784
Hi guys, do you have an experience in Backstage? Or experience with developing on any similar plugin platform?

[2022-09-07 06:15] idan-codefresh opened #788 "failed to initialize a new kubernetes client, reason: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"% when running scan"
# Describe the bug
when trying to run kubescape scan, I'm getting this error

`failed to initialize a new kubernetes client, reason: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"%`

my kubectl and cluster versions
 seem fine
`Client Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.6-eks-7d68063", GitCommit:"f24e667e49fb137336f7b064dba897beed639bad", GitTree

[2022-09-07 07:33] shivanii1702 commented on #787
@jainpratik163 I want to work on this issue, can you elaborate the issue

[2022-09-07 07:42] jainpratik163 commented on #787
I want to scan the helm chart and run these steps as part of CI.

[2022-09-07 07:46] dwertent commented on #787
Hi @jainpratik163 you are running an old version.
Please update kubescape to the latest version :)

[2022-09-07 07:49] dwertent commented on #788
Hi @idan-codefresh This is a [known issue](https://github.com/aws/aws-cli/issues/6920) with the AWS-CLI client since they broke backward compatibility.
Please update your `AWS-CLI` version to latest and update the `kubeconfig` file. [Here there is an example](https://github.com/aws/aws-cli/issues/6920#issuecomment-1171113816).

[2022-09-07 07:51] #756 closed

[2022-09-07 07:53] dwertent commented on #726
I [do not think](https://github.com/kubescape/kubescape/pull/730#issuecomment-1236315688) we should make the changes since this will limit us from using links.

[2022-09-07 07:53] #726 closed

[2022-09-07 07:57] dwertent commented on #761
Thank you @pwnb0y for raising this point.
We will work on this in the future since it is in our roadmap.

[2022-09-07 07:57] #761 closed

[2022-09-07 08:38] MitAbhay commented on #784
@Bezbran  No, I don't have worked on any plugin platform before, but I would like to learn stuff related to backstage.

[2022-09-07 09:06] deepuyadav004 commented on #784
No, I don't have any experience in Backstage but I would like to work on it.

[2022-09-07 09:42] SD-13 commented on #735
Thanks for asking, I am still working on it.

[2022-09-07 09:51] jainpratik163 commented on #787
thanks, @dwertent  with the latest version I am able to run the command.
The report which the command is created is very difficult to understand can we also update the report?
i know we can run the command with -v but if we can more info without -v would be great.

[2022-09-07 10:34] priyansu-nayak commented on #670
@i-am-yuvi @shashankdaima Can we collab for this issue?

[2022-09-07 10:38] priyansu-nayak commented on #668
@kushagra-gupta01  Can we collab on this ?

[2022-09-07 10:54] SD-13 commented on #735
Hey @pwnb0y, I can't see any pop-up like this, Can you please confirm.

[2022-09-07 12:46] iamhardikat11 commented on #761
Hi @dwertent Even I had given it a thought wanted to know can I choose this topic for the proposal in Open Source Fest? Thanks in Advance.

[2022-09-07 15:37] itsCheithanya commented on #784
Neither I but we can make it work during this program

[2022-09-07 15:55] itsCheithanya commented on #718
Hey even I would like work alongside

[2022-09-08 06:13] deepuyadav004 commented on #718
How can i contact you

[2022-09-08 07:21] Adidev-KGP commented on #784
I would like to work on this issue. I have developed a few frontend plugins using backstage. Would be great if you can share more details on what is expected out of this issue @Bezbran .

[2022-09-08 08:24] Bezbran commented on #749
After defining the secret as described [in the docs](https://hub.armosec.io/docs/registry-vulnerability-scan), with regular username and password docker credentials, it worked as expected.

[2022-09-08 08:24] #749 closed

[2022-09-08 08:27] verma-kunal commented on #436
Thanks @amirmalka ! Will resume working on this as soon as my exams are over :)

[2022-09-08 08:59] dazzag24 opened #789 "panic: runtime error: index out of range [3] with length 3"
Using the version installed today using brew on a MAC M1 (seems that brew version is not the latest)

[code]

[2022-09-08 09:51] dazzag24 commented on #789
This also happens with the latest v2.0.170 release as well.

[2022-09-08 10:50] dazzag24 commented on #789
[code]

[2022-09-08 21:39] Turuk3100 opened #794 "rshvnxLDE9Jsm8sJxPxct425HhQC2tk5CV"
24865002

[2022-09-10 01:08] suhasgumma commented on #718
Sorry @PratikDey , lost your reply in the mix. I have completed the task. But, there is one more similar issue(Scanning Terraform). Would love to work on that with you.

[2022-09-10 04:27] majjikishore007 commented on #784
hey @Bezbran could you please more details on the same

[2022-09-10 05:10] PratikDey commented on #718
No worries @suhasgumma , I think someone is already working on the terraform issue.
Anyways I'd love to connect with you on discord or twitter @suhasgumma and discuss about this issue.

[2022-09-10 15:16] Aryan-Deshpande commented on #712
Hey, this issue seems interesting and would love to start working on this !.

[2022-09-10 16:03] deepuyadav004 commented on #718
How can i contact you. Please give your discrod link or slack link

[2022-09-10 20:49] suhasgumma commented on #618
Hi @dwertent & @slashben , your feedback on this would be very helpful. Thanks.

[2022-09-10 20:52] suhasgumma commented on #719
Hi @RahulSurwade08, are you still working on this? If you are not, shall I give it a go? Thank you.

[2022-09-11 04:46] RayAsh37 opened #798 "Request to add a CodeSee.io Codebase Map"
Hey @dwertent, this is a suggestion. How about adding a [CodeSee](https://www.codesee.io/) map for your codebase. It becomes way more accessible for new contributors to work and contribute to the repo.

I have an auto-generated example [here](https://app.codesee.io/maps/public/ea279b60-31d6-11ed-ae63-7d65ece0c3cb) that I was able to produce from my Kubescape fork. Just remember to switch it from *

[2022-09-11 04:47] RayAsh37 commented on #798
/feature

[2022-09-11 06:02] Bezbran commented on #784
Since I see we have here @Adidev-KGP , a guy with an experience in this area, I think we can go ahead.
I think a demo of former plugins developed by @Adidev-KGP to all of us will be a good start so we can be on the same page.

The backstage plugin should act very similar to [Lens extension](https://github.com/kubescape/lens-extension).
High level requirements headlines:
- Allow user to get scan re

[2022-09-11 12:12] deepuyadav004 commented on #798
great idea @RayAsh37 It will be helpful for many of folks

[2022-09-11 12:17] deepuyadav004 commented on #784
Hello @Bezbran I want to learn backstage plugin and give it a try with you folks. So, may is also be a part of your team.

[2022-09-11 12:47] Bezbran commented on #784
I am trying to build some team to work on this issue, so please write down what you have experience in.
@deepuyadav004

[2022-09-11 13:48] RayAsh37 commented on #798
I would have loved to do it myself but I believe it would be better if it is set up by the Maintainer. Because it can be tricky when it comes CodeSee account ownership.

[2022-09-11 16:39] suhasgumma commented on #582
Hi @radoslawdob & @dwertent, if you are busy with other issues, can I work on this?

[2022-09-11 16:40] suhasgumma commented on #590
Hi @radoslawdob & @dwertent, if you are busy with other issues, can I work on this?

[2022-09-11 17:01] suhasgumma commented on #784
Hi @Bezbran, I have intermediate knowledge in K8s, Golang, AWS & Docker. I've been working on the Kubescape codebase for the past few days.

I Would love to be in the team working on this issue. Thank you.

[2022-09-11 17:33] harshitasao commented on #668
Hi, @slashben @dwertent. I'd like to work on this as there hasn't been any progress. I think I understand the issue and the approach required, if necessary, I can prepare a proposal. So, could you please provide the implementation guidelines?

[2022-09-11 17:37] TarangVerma commented on #784
hey @Bezbran I think we can start with adding backstage-kubernetes plugin to kubescape in order to check health & monitor all the services. Does it sound good to you.

[2022-09-11 17:39] harshitasao commented on #430
Hello, @dwertent. Could you please provide me with more information about this issue so that I can prepare a proposal?

[2022-09-11 19:53] RahulSurwade08 commented on #719
Hey @suhasgumma , Please give it a go as i am still in learning phase. Please if possible can you add me in the loop so that i can learn and contribute as well.

[2022-09-11 21:00] shivang2000 commented on #719
@RahulSurwade08 @suhasgumma what loop are we talking about and also I think we need to learn how to scan terraform files and build k8s yaml files to scan but the thing is @dwertent @slashben said in the meet on Tuesday that there is tool for do this but could not find one. i found a tool to convert tf files to kubernetes.

[2022-09-11 21:14] suhasgumma commented on #719
Hi @RahulSurwade08 & @shivang2000, I am also learning about terraform. Let's collaborate on this. `newbie414` is my discord.

[2022-09-11 23:55] suhasgumma commented on #719
Once look into the PR #795 . The PR is for Scanning Kustomize Directory. It's not reviewed yet,but it would provide a good idea of how to scan yaml resources.

[2022-09-12 00:04] suhasgumma commented on #719
Could you tell me the package for converting `.tf` to `.yml` files? I can find the packages converting `.yml` to `.tf` but not the other way around. Thank you.

[2022-09-12 03:58] RayAsh37 commented on #798
Hi @dwertent I have added a CodeSee Clickable to the documentation (README.md) at the PR #801
Please review

[2022-09-12 07:35] deepuyadav004 commented on #784
I have worked on following technologies
Languages :- C++, Golang, Python, JavaScript, HTML, CSS
front-end frameworks :- React.js
backend :- node.js, express.js, Rest APIs
Database :- MySql, mongodb
tools and other technologies :- Docker, Kubernetes, linux, git, github, windows

[2022-09-12 07:55] TarangVerma commented on #784
I have been contributing to kubescape since couple of weeks now and i know its codebase quite well now so i would like to work on this.
I have experience in Docker, K8, Helm, yaml, Go, JavaScript.

[2022-09-12 18:39] Bezbran commented on #784
What requirements of the high level requirements [above](https://github.com/kubescape/kubescape/issues/784#issuecomment-1242894182) this health check is for?

[2022-09-13 04:58] majjikishore007 commented on #784
Hey @Bezbran  I would like to be part of this

[2022-09-13 06:13] dwertent commented on #668
This issue is a feature request related to the [Kubevuln](https://github.com/kubescape/kubevuln) component.

Currently, Kubevuln runs as a microservice that receives an image as input. The Kubevuln scans the image (using [Grype](https://github.com/anchore/grype)) and submits the results to the kubescape SaaS.
We will need to make the following changes in the Kubevuln:
1. Extract the image SBOM (in

[2022-09-13 12:32] Cvr421 commented on #719
Hello can i work on these if somebody already done please let me known

[2022-09-14 05:32] i-am-yuvi commented on #670
@dwertent Can you help us on this?

[2022-09-14 06:43] nitishmalang commented on #669
hi can I work on this issue

[2022-09-14 13:18] TarangVerma commented on #784
If i am not getting it wrong we are trying to create a kubescape plugin which we will add to backstage so that users can use the kubescape plugin from there directly though kubescape extension right?

[2022-09-14 13:18] merouanezouaid commented on #794
? lol

[2022-09-14 13:18] TarangVerma commented on #784
Iif i am not getting it wrong we are trying to create a kubescape plugin which we will add to backstage so that users can use the kubescape plugin from there directly though kubescape extension...

[2022-09-14 13:21] RayAsh37 opened #809 "Fix the typo as it is confusing"
The example description for the command
`kubescape download --help`
outputs examples but one of them has an extra 'download' word. It is confusing fo a beginner and might not understand it.

##Marked in RED
![downloadGo typo](https://user-images.githubusercontent.com/70441807/190165299-3df8c920-5a76-48da-8227-341f4febe1ab.png)
This is the console output

[2022-09-14 13:24] RayAsh37 commented on #809
I have opened a PR for this, @dwertent please review

[2022-09-14 13:35] verma-kunal commented on #436
Hey @amirmalka @dwertent , I am actually stuck on the part for defining a new adaptor.
From what I learned going through the file system, we have an API file in the `core/cautils/getter` called as `kscloudapi.go` which basically defines a struct called `KSCloudAPI` & that allows accessing the API of the Kubescape Cloud offering.
Now, I understand that this has to be created for AWS as well & then

[2022-09-14 14:13] Susmita-Dey commented on #809
@RayAsh37 You must have waited to get assigned first before creating a PR. This is a valid way of contributing to a n open source project.

[2022-09-14 14:13] Susmita-Dey commented on #794
@Turuk3100 What's this?

[2022-09-14 14:27] Susmita-Dey opened #811 "[DOCS] Install Using Go link in README not working - no steps present"
# Describe the bug
![image](https://user-images.githubusercontent.com/79099734/190181622-3943e916-ebe5-4f11-9b55-0ac7cc29e6e1.png)
When I'm clicking on this link, it's not working.

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to 'README.md' file
2. Scroll down to 'Install' section
3. Click on 'Install Using Go'
4. See error

# Expected behavior
On clicking the link, it would work a

[2022-09-14 14:31] Susmita-Dey opened #812 "[FEATURE] Make numbers dynamic"
**Is your feature request related to a problem? Please describe.**</br>

**Describe the solution you'd like.**</br>

**Describe alternatives you've considered.**</br>

**Additional context.**</br>
![image](https://user-images.githubusercontent.com/79099734/190182826-8c2c6e3b-b57c-4ed8-8ba9-18f57116d56e.png)
I'm talking about these static numbers.

[2022-09-14 14:32] Susmita-Dey commented on #811
I'd like to work on this issue. Kindly assign me.

[2022-09-14 17:13] legendarykamal commented on #668
Thankyou @dwertent for the explaination, it surely clears many things :)

[2022-09-15 07:21] dipankardas011 commented on #812
@Susmita-Dey I can give it a try
Just for now found that using GitHub API we can get the stars, forks counters
if the just have to see the source code
![image](https://user-images.githubusercontent.com/65275144/190340389-e5c0a1ae-b37a-401e-a3d3-a3dc7290a275.png)

[2022-09-15 08:27] amirmalka commented on #436
@verma-kunal

It is very hard to answer in advance what would you need to have defined in your struct. To get things running, I would start off by creating an empty struct which implements the
`IContainerImageVulnerabilityAdaptor` interface (with empty implementation)

Then, I would create an initialization method (something like `NewECRAdaptor` which takes the configuration needed to create the c

[2022-09-15 08:58] verma-kunal commented on #436
Thanks for guiding here, @amirmalka
Would try this out & get back with updates!

[2022-09-15 12:58] #809 closed

[2022-09-15 13:45] RayAsh37 commented on #812
@Susmita-Dey @dipankardas011 I believe the website is not Open Source

[2022-09-15 13:50] ijewelmas opened #817 "For configuration issues, the current UI is unable to generate a complete report for resources and controls together"
Currently for a misconfiguration reported, we are unable to download a report for failed resources, controls that it has failed and relevant remediation. It would be great to have all the 3 features together, rather than map the failed controls to the failed resources reported into 2 reports. There can possibly be a feature that concatenates the 2 reports together, possibly using failed control nu

[2022-09-15 14:48] itsCheithanya commented on #719
Okay shall we work together??

[2022-09-15 15:44] Susmita-Dey commented on #812
@RayAsh37 I don't think so. Although I need to checkout.

[2022-09-15 15:58] Ciggzy1312 commented on #784
Hey @Bezbran if you are forming a team to work on this I would love to be a part of it also
I have an idea about backstage and am also working on the vs-code extension of kubescape so I am very familiar with typescript which we will need and the rest of the stack required.
I have also been a contributor to keptn which is a project under CNCF and they also are working on a backstage plugin implemen

[2022-09-15 17:04] TarangVerma opened #818 "unable to scroll through the reviews section"
# Describe the bug
I was unable to scroll and read all the feedback given by people in the review section.
This is the screenshot of the problem.
![Screenshot (15)](https://user-images.githubusercontent.com/90996971/190462581-b62c96c2-4e6f-4740-bb8e-22b9cdc1aae8.png)

# Environment
OS: windows 10 home

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to the kubescape official website.
2

[2022-09-15 17:09] Gnana-Athityan commented on #818
can i work on this , im new to this . Looking forward to contribute

[2022-09-15 17:10] TarangVerma opened #819 "Previous and Next buttons are not expected here"
# Describe the bug
I don't think these buttons are required here and if required then they are not in proper place to be viewed by the user.
Here is the Screenshot of the following:

![Screenshot (16)](https://user-images.githubusercontent.com/90996971/190466875-0e35406c-0f34-4ec0-9749-89180cad6acc.png)

# Environment
OS: Windows 10 home
Your current version is:
[code]

[2022-09-15 23:26] ijewelmas opened #823 "Documentation required for image vulnerability scans"
The current image vulnerability scans are only available through UI.

Current issue:
User is not aware of what types of vulnerabilities are being evaluated
If the vulnerabilities are of current 2022 CVE's or prior non-updated CVE's

Solution:
It would be great to have a document which specifies if the checks for image vulnerability scans takes places against a database updated every X hours from s

[2022-09-16 02:28] kunjgit commented on #823
@ijewelmas i would love to fix this up . currently working for it

[2022-09-16 02:33] kunjgit commented on #811
@Susmita-Dey let me know if you are working on it because i  can fix this.

[2022-09-16 10:22] dipankardas011 commented on #589
It is best practise to write the complete docker registry URL!

[2022-09-16 10:24] dipankardas011 commented on #589
Whether it is gcr or aws ecr for them we have to mention it decreases the chances of surprises

[2022-09-16 10:25] dipankardas011 commented on #589
@Daniel-GrunbergerCA want your opinion on this

[2022-09-16 16:16] maheshsk28211 commented on #668
@kushagra-gupta01 can I work with you on this feature. I'm clear about reqs & implementation regarding this. @slashben

[2022-09-16 16:42] Susmita-Dey commented on #811
@kunjgit I'll be working on it after getting assigned

[2022-09-17 07:03] RayAsh37 commented on #819
@TarangVerma KubesScape website is not open source.

[2022-09-17 13:46] kunjgit commented on #811
@Susmita-Dey thanks for letting me aware.

[2022-09-18 05:44] rahul3002 commented on #818
i would to contribute to this issue I have an experience on working on it

[2022-09-18 05:44] rahul3002 commented on #812
i would like to contribute to this issue

[2022-09-18 08:13] vladklokun opened #832 "Build fails when vendoring"
# Describe the bug
When vendoring dependencies, building Kubescape fails because pkg-config cannot find built `git2go` artifacts. `pkg-config` cannot find the artifacts because it is looking for them in the wrong directory: the `vendor` directory instead of the `git2go` directory.

# Environment
OS: Ubuntu 22.04 LTS
Version: current Git [master](https://github.com/kubescape/kubescape/tree/bb586892

[2022-09-18 08:45] Meyazhagan commented on #832
@vladklokun  I too got similar error message while `make build`. After Copying the bulit `libgit2` directory to the `vendor`, build succeeds. Shall I debug it !

[2022-09-18 08:49] Meyazhagan commented on #832
@vladklokun In `go.mod` file, I saw `replace github.com/libgit2/git2go/v33 => ./git2go` was this causing the issue

[2022-09-18 10:46] #794 closed

[2022-09-18 10:50] dwertent commented on #787
@jainpratik163
We do not want to print too much information to the terminal because we do not want to overwhelm the user.
That being said, feel free to share a proposal.

[2022-09-18 10:51] dwertent commented on #788
As explained, this is an issue with the AWS-CLI and not with Kubescape.

[2022-09-18 10:51] #788 closed

[2022-09-18 10:53] dwertent commented on #819
The website is not yet opened source :(

[2022-09-18 10:53] #819 closed

[2022-09-18 10:55] dwertent commented on #812
This is from the armosec website.
Unfortunately it is not open-source

[2022-09-18 10:55] #812 closed

[2022-09-18 10:56] Meyazhagan commented on #832
@dwertent shall I work on this !

[2022-09-18 16:21] anubhav06 commented on #818
@TarangVerma It works for me. I think it is an issue with your browser.

[2022-09-19 04:57] #818 closed

[2022-09-19 05:41] #811 closed

[2022-09-21 14:12] gaurangkudale opened #841 "Adding kubectl plugin"
I have already started working on this feature and if anyone wants to add functionalities they can ping here

[2022-09-21 14:47] dwertent commented on #613
Merged

[2022-09-21 14:47] #613 closed

[2022-09-21 15:09] Meyazhagan commented on #841
@gaurangkudale  Shall I also join with you !

[2022-09-21 16:12] oakgul1 opened #842 "GitLab CI/CD intergration faied"
# Describe the bug
A clear and concise description of what the bug is.
i followed the instuctions ( https://hub.armosec.io/docs/gitlab ) to to integrate Kubescape to GitLab CI.
failed with bash: line 66: /usr/local/bin/kubescape: No such file or directory
Any help?
![unknown](https://user-images.githubusercontent.com/114095478/191556286-244edb74-11fa-42db-ba95-d974b5f1b749.png)

[2022-09-21 17:03] gaurangkudale commented on #841
@Meyazhagan Yeah sure!

[2022-09-22 02:03] Manish4044 commented on #841
@gaurangkudale I also want to work with you on this feature

[2022-09-22 06:50] dwertent commented on #842
Thank for reporting this. It seems like the downloaded Kubescape binary cannot be saved in the path.
How about opening a feature request for creating a Kubescape GitLab job (similar to the [Kubescape GitHub actions](https://github.com/kubescape/github-action))

[2022-09-22 07:19] oakgul1 commented on #842
I did

[2022-09-22 12:25] Cvr421 commented on #841
@gaurangkudale Hello can I also work with you guys

[2022-09-23 08:01] om2137 opened #846 "Vulnerability prioritization based on workload file activity"
Implementing an eBPF agent (based on Falco or Tracee) which tracks file activity in workloads to prioritize container image vulnerabilities.

[2022-09-23 08:04] om2137 commented on #846
Hey, @dwertent I have been researching and working on this issue from roadmap docs. can you please assign me to this issue?

[2022-09-23 14:18] anubhav06 opened #847 "[BUG] Excluding Namespaces"
# Describe the bug
When a user runs a Kubescape scan with `--exclude-namespaces "kube-system"` flag, that namespace is not excluded.

# Environment
OS: the OS + version you’re running Kubescape on, e.g Ubuntu 22.04 LTS
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
Steps to reproduce the behavior:
1. Run `kubescape scan --exclude-namespace

[2022-09-23 14:19] anubhav06 commented on #847
This issue is inter-linked with #608 , and I'm working on the solution

[2022-09-23 14:32] gaurangkudale commented on #841
Hi @dwertent,
I am working on the kubectl plugin and I have questions listed below:

1. For which sub-commands in kubectl should I add the support? Can you please provide suggestions?
2. Which sub-command functionalities should I add? Can you please mention any specific requirements of sub-command
i.e any specific sub-command which will improve the kubescape or you are planning to add (Any Suggest

[2022-09-23 14:41] Meyazhagan commented on #847
@anubhav06 I saw it was already fixed #107

[2022-09-23 15:02] anubhav06 commented on #847
I see there's already an issue created for this. So, let me close this one 👍

[2022-09-23 15:02] #847 closed

[2022-09-24 07:47] Aman123lug commented on #841
@gaurangkudale can i join with you guys please

[2022-09-24 07:48] Aman123lug commented on #832
@Meyazhagan can i work with you man?

[2022-09-24 10:49] shivang2000 commented on #719
@suhasgumma https://github.com/sl1pm4t/k2tf this the repo that can be use for converting tf to yml.

[2022-09-24 14:23] devarsh10 commented on #590
What if, we exclude this[c-0078]?
And get less risk-score? Will it do?

Regards,
Devarsh

[2022-09-24 14:31] Aman123lug commented on #823
@dwertent i am also work on it @ijewelmas can we work together???

[2022-09-24 15:51] deepuyadav004 commented on #784
Hey @Bezbran have you made your team or have you started/done your work on this issue. I didn't get any update about this issue.  May I know will you form a team in future or not ??

[2022-09-26 10:49] maheshsk28211 commented on #668
@slashben @dwertent please assign this feature to me, I'm halfway into it.

[2022-09-26 13:29] ash-kamrip opened #850 "@i-am-yuvi I'm sure you can start working on this."
@i-am-yuvi  I'm sure you can start working on this.
You will need to update the [cloudsupport](https://github.com/kubescape/k8s-interface/tree/master/cloudsupport) package for this.

_Originally posted by @dwertent in https://github.com/kubescape/kubescape/issues/670#issuecomment-1225676930_

[2022-09-26 16:22] maheshsk28211 opened #851 "go build fails for kubevuln component"
# Describe the bug
While building kubevuln project, go build failed
# github.com/anchore/grype/grype/pkg
../../go/pkg/mod/github.com/anchore/grype@v0.35.0/grype/pkg/package.go:94:11: undefined: pkg.RpmdbMetadataType
../../go/pkg/mod/github.com/anchore/grype@v0.35.0/grype/pkg/package.go:127:34: undefined: pkg.RpmdbMetadata

# Environment
OS: Ubuntu 22.04 LTS
Version: Kubescape latest
[code]

# Step

[2022-09-26 16:22] maheshsk28211 commented on #851
Assign issue to me to fix this.

[2022-09-26 16:39] Meyazhagan commented on #851
@maheshsk28211 try `go mod tidy`

[2022-09-27 04:07] maheshsk28211 commented on #851
go mod tidy didn't work as mod file has v0.35.0, that pull v0.35.0, that is mismatch with source.

[2022-09-27 13:23] AvineshTripathi commented on #598
Do we have any updates on this issue @dwertent maybe implementing the cli image scan can be done. Thoughts?

[2022-09-27 21:25] Aman123lug commented on #841
@gaurangkudale shall I join to you bro please

[2022-09-28 05:38] dwertent commented on #851
1. This issue should be opened in the Kubevuln repo
2. You should follow the README for [building locally](https://github.com/kubescape/kubevuln#build-kubevuln)

[2022-09-28 05:38] #851 closed

[2022-09-28 06:04] dwertent commented on #842
https://github.com/kubescape/github-action/issues/12

[2022-09-28 06:18] slashben commented on #846
Hey @om2137 , @rcohencyberarmor is working on this roadmap item as well. We will send pull request in the next week. I suggest you checking his code and see how it can be improved.

[2022-09-28 08:36] KlausMikhaelson commented on #823
Hey @kunjgit are you still working on it ?

[2022-09-28 10:54] rajeeshckr opened #852 "Request to add CLI option to pass in kubernetes impersonation"
**Is your feature request related to a problem? Please describe.**</br>

**Describe the solution you'd like.**</br>

[2022-09-28 11:09] dwertent commented on #852
Hi @rajeeshckr , can you please elaborate? Does Kubectl connect to your cluster but Kubescape does not? How will the flag help?

[2022-09-29 05:48] #718 closed

[2022-09-29 05:48] #605 closed

[2022-09-29 05:51] dwertent commented on #852
I see, thank you for suggesting this.
Unfortunately, we won't add the flags since it might be overwhelming.

[2022-09-29 05:51] #852 closed

[2022-09-29 09:00] Aman123lug commented on #591
@slashben if anyone not able to solve this reassigned me

[2022-09-29 15:56] maheshsk28211 commented on #668
@dwertent should CRD changes be part of kubevuln project or separate repository

[2022-09-29 15:57] maheshsk28211 commented on #668
should CRD changes be part of kubevuln project or separate repository

[2022-10-01 17:43] slashben commented on #591
@Maniktherana @satvik2131 , any status on this?

[2022-10-02 04:37] satvik2131 commented on #591
Hi @slashben , I do have tried some of the attempts , but , I guess I don't get a clarity on the thing what to implement , I also asked in discord but didn't got any response , can you explain me the issue in the regular tuesday meet ? , once again
and don't have any update from @Maniktherana

[2022-10-04 15:26] biacharj opened #860 "Format junit XML is not working as expected- Junit parser fails to understand"
# Junit Format XML is not working as expected
My Setup
Run Kubescape on jenkins and view the JUnit results in the trend Graph , Test Result ( build level view) and  Test Results Analyzer (job level view) by using  `kubescape scan --format junit --output results.xml`
Version I was using `v2.0.164`
Everything was working fine until you changed the `install.sh` script to download the latest version.

[2022-10-04 15:44] biacharj opened #861 "--cluster-name flag does not accept "-" character"
# --cluster-name flag does not accept "-" character, I did not test it with any other character, because normally one would use the "-" character

[code]

# Environment
OS:  Ubuntu 22.04 LTS

Your current version is:
v2.0.172

# Steps To Reproduce
Steps to reproduce the behavior:
1. Run this
kubescape scan framework nsa --verbose --cluster-name=my-cluster1-1-0

# Expected behavior
Scan should run

[2022-10-05 11:02] Aman123lug commented on #669
still this feature are open no one can will create this okay .. i will create this @slashben

[2022-10-05 17:24] ash-kamrip commented on #670
Hi @slashben , @dwertent

Since this requires changes to the k8s-interface repo , I have opened a PR on the repo k8s-interface , I don't know how to link that PR in this repo. Could you take some time to review it ?

[2022-10-05 18:44] anubhav06 commented on #861
The issue regarding [adding a cluster-name feature](https://github.com/kubescape/kubescape/issues/613#issue-1346588073) said that special characters should not be allowed.

[code]

I can go ahead and make "-" an exception, if it's required.
Kindly let me know about it :)

[2022-10-06 04:00] biacharj commented on #861
I think it definitely makes sense to have the "-" character included. Differentiation of stack becomes difficult without this. Let's proceed please.

[2022-10-06 05:27] dwertent commented on #860
Indeed, the XML output format has changed to better support GitHub actions.
@Moshe-Rappaport-CA Please propose a solution for this issue.

@biacharj I suggest you should use the Kubescape version that worked for you until we fix this issue and find a way for supporting the Github actions and Jenkins.

[2022-10-06 09:07] maheshsk28211 commented on #668
I have created spdx format CRD for initial implementation, there are multiple formats of sbom output.  I'm writing a parser to parse output of sbom  generated and convert to crd object. is this approach correct ?

[2022-10-06 15:55] Arijit1000 commented on #823
Hello @ijewelmas, I will be also working on this issue and would love to fix this up. Please assign me as well.

[2022-10-07 13:03] pnelavalli opened #863 "kubescape scan getting failed for kubernetes-dashboard deployment"
# Describe the bug
A clear and concise description of what the bug is.
Kubescape scan is failing when running scan at  kubernetes-dashboard deployment with below error:
CMD: kubescape scan --enable-host-scan --format=json --format-version=v2 --use-artifacts-from kubescape-cache -v

Error:
[fatal] expected to find resource id '/kubernetes-dashboard/Deployment/kubernetes-dashboard//v1/kubernetes-das

[2022-10-08 01:23] deepuyadav004 opened #864 "YAML files syntax and security level checking"
**Is your feature request related to a problem? Please describe.**</br>

**Describe the solution you'd like.**</br>

**Additional context.**</br>

[2022-10-08 10:01] AvineshTripathi commented on #598
Reminder ping @dwertent ^

[2022-10-11 06:43] biacharj opened #865 "Jenkins HTML report shows garbled data after consuming Kubescape generated HTML file"
# Describe the bug
My Setup
Run Kubescape on jenkins and view the HTML report  by using
`kubescape scan --format html --output report.html'

# Environment
OS: Ubuntu 22.04 LTS
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to `Jenkins`
2. Create `Job`
3. Scroll down to 'Pipeline' and select `Pipeline

[2022-10-11 07:12] nerodtm commented on #749
Hi Vicky,

When I try to scan the registry (ACR) using kubescape, it didn't work. It
appeared as scanning. But, it didn't finish.

Thanks and Best regards
DTM Niroshan Tharanga

On Thu, Sep 1, 2022 at 8:55 PM Vicky Aryan ***@***.***> wrote:

[2022-10-11 07:56] slashben commented on #437
Sure, we will be happy to assist you. Hop on and say hi on our Discord

On Sat, Jul 9, 2022 at 7:24 AM Avinesh Tripathi ***@***.***>
wrote:

[2022-10-11 19:08] harshitasao opened #867 "[feature] Adding github actions to improve the contributor experience."
**Is your feature request related to a problem? Please describe.**</br>
 This is a feature request to enhance the contributor experience using github actions.
1. Through comments in issues and PRs:
    assign, unassign, close, open, retitle, hold, labels of priority, kind, area, etc.
2. lgtm and automatic PR merging.

_**If this is something you would like to include, I would be happy to work on i

[2022-10-12 03:54] biacharj commented on #865
@dwertent

[2022-10-12 16:24] Manda-supraja26 commented on #841
@gaurangkudale  i'm intrested in this topic . i would to know what kind  of plugins you want add to kubectl..?

[2022-10-12 19:34] siddhikhapare commented on #668
@dwertent  I want to work on this issue https://github.com/kubescape/kubescape/issues/669. but above issue is related to it so I am also trying to scan image results. I scanned image and it's SBOM in json format using grype and syft.  can you provide me setup guidance of kubevuln with grype to scan images. From https://github.com/kubescape/kubevuln/blob/master/README.md this markdown file by using

[2022-10-13 11:26] pnelavalli commented on #863
Any Update on the Issue ?

[2022-10-14 19:21] jeanbritz commented on #842
Hi. I ran into the same issue. For now it seems that alpine does not pick up the `kubescape` binary for some reason. Maybe the binary is not in the correct format?

This has worked for me in the meantime:
[code]

[2022-10-16 19:22] biacharj commented on #860
@Moshe-Rappaport-CA
@dwertent

Hey, just dropping a reminder. Thanks!

[2022-10-21 09:10] operon-io commented on #789
This bug occurs on GitLab with versions v2.0.165-172. Version v2.0.164 seems to work, so until patch is ready will resort to use that.

[2022-10-24 09:00] #861 closed

[2022-10-25 12:08] anubhav06 commented on #430
Hi @dwertent. I'd like to work on this issue.
How about I add an `image` sub-command which can be used to display the image scan results ?

**Example:** Running `kubescape scan image -f "pretty-print"/"json"` would display the image vulnerability scan results in the requested format.

Kindly let me know if this approach is correct, so that I may proceed with it :)

[2022-10-25 14:43] shm12 opened #879 "Use host-scanner deployment from an external source"
**Is your feature request related to a problem? Please describe.**</br>

**Describe the solution you'd like.**</br>

**Describe alternatives you've considered.**</br>

[2022-10-26 12:48] dwertent commented on #865
@biacharj Can you please elaborate? How was Kubescape executed in the pipeline?

[2022-10-27 05:11] yuleib opened #886 "Tables dis-oriented while running kubescape in windows environment (powershell/cmd)"
# Describe the bug
Tables dis-oriented while running kubescape in Windows environment (powershell/cmd)

# Environment
OS: Windows 11 Pro
Version: v2.0.173

# Steps To Reproduce
Steps to reproduce the behavior:
1. Install Kubescape on Windows environment
2. open Powershell OR CMD shell
3. Run any kubescape command

# Expected behavior
See output data clear without "special" characters

# Actual Beh

[2022-10-28 11:14] suhasgumma commented on #590
Hi @vidbregar,
The issue persists `only with images from DockerHub`. Here is how Kubescape filters the images from `ImagesAllowedRegistry`

https://github.com/kubescape/regolibrary/blob/ebb098632441bdec5369fef03ea7edf4415bbe7b/rules/container-image-repository/raw.rego#L10

![Config Scanning](https://github.com/suhasgumma/ImagesForGitHub/blob/master/imageInAllowedList.png?raw=true)

* If the regex

[2022-10-28 11:15] suhasgumma commented on #590
Hi @dwertent , since the images from DockerHub do not have a common pattern, how do we filter them using `regex.match`?

[2022-10-29 08:28] suhasgumma opened #889 "Kubescape Cloud: Can't select some Controls for filtering"
# Describe the bug
In the Kubescape Cloud, we can select only from the first 30 controls to filter.

![Filter Issue](https://github.com/suhasgumma/ImagesForGitHub/blob/master/filter%20issue.png?raw=true)

In the above scenario, we can't select C-0050 and many controls after that. In fact, this happens with all attributes whose values are more than 30. It happens with Control ID, Control Name, Reso

[2022-11-01 15:08] dwertent commented on #886
Hi,
This is happening because your Windows power shell does not support the Kubescaoe colored output.
You can overcome this by running Kubescape with the `--disable-color` flag.

[2022-11-01 15:11] dwertent commented on #889
@amirmalka Is this because of the pagination?

[2022-11-01 15:26] dwertent commented on #867
@harshitasao Can you please elaborate? What is missing now? What do you propose we should do to approve the experience?

[2022-11-03 08:38] amirmalka commented on #889
@dwertent I wasn't aware of such limitation although it doesn't look like a bug:
https://github.com/armosec/cadashboardbe/blob/40a36d61112de479ad24fd930dc0722eebdb5613/httphandlerv2/httphandler.go#L29

I think @Bezbran would know better

[2022-11-03 09:40] dwertent commented on #619
@Moshe-Rappaport-CA  Any update regarding this issue? Did you manage to reproduce it?

[2022-11-03 14:04] dwertent commented on #328
Completed

[2022-11-03 14:04] #328 closed

[2022-11-03 14:57] slashben commented on #328
Nice

On Thu, 3 Nov 2022, 16:04 David Wertenteil, ***@***.***>
wrote:

[2022-11-03 15:42] olcuhu opened #895 "kubescape RBAC scan fails consistently on kind cluster"
# Describe the bug
kubescape RBAC scan fails consistently on kind cluster, leading to a fatal error when running the `kubescape submit rbac` command and a blank canvas in the RBAC visualisation page in the portal.

# Environment
OS: Ubuntu 22.04 LTS
Version: v2.0.174

# Steps To Reproduce
Steps to reproduce the behavior:
1. Install kubescape locally (and in cluster)
2. Run `kubescape submit rbac -

[2022-11-05 10:44] matthyx commented on #895
Hi @olcuhu thanks for the bug report.
I think this is because your kind cluster is of version 1.25 for which cronjobs have moved from v1beta1 to v1 group, causing the resource not found error.
I'll check how to solve this.

In the meantime you can use a 1.24 cluster with:
`kind create cluster --image=kindest/node:v1.24.6`

[2022-11-05 21:39] matthyx commented on #895
@dwertent I think you need to bump to 1.25 here:
https://github.com/kubescape/k8s-interface/blob/master/go.mod#L20-L22

[2022-11-06 09:13] Bezbran commented on #879
Not sure about this one.
Host sensor isn't differ than any other external package.
Just like any other package which requires rebuilding for each version upgrade - so the host sensor.

[2022-11-06 09:19] Bezbran commented on #889
Yes, this is not a bug, just we are showing only 30 entries in filters list.
@suhasgumma We are about to change the Kubescape Cloud filters look and feel, so this issue will be resolved

[2022-11-06 09:19] #889 closed

[2022-11-06 13:17] matthyx commented on #895
It is the issue, it fails to get `batch/v1beta1/cronjobs` because they no longer exist there in 1.25

[2022-11-06 13:25] dwertent commented on #895
But the issue is opened on the RBAC, this is not related to the `batch/v1beta1/cronjobs` API

[2022-11-06 13:26] matthyx commented on #895
I took the debugger, and after getting roles and bindings, kubescape gets all objects to see how they map.

[2022-11-06 13:40] #95 closed

[2022-11-06 13:40] #608 closed

[2022-11-06 13:40] #437 closed

[2022-11-06 13:40] #712 closed

[2022-11-06 13:52] dwertent commented on #895
As it is now, Kubescape loads the kube APIs  from a [pre-defined mock](https://github.com/kubescape/k8s-interface/blob/master/k8sinterface/k8sdiscovery_mock.go#L19) and not dynamically.

Also, when running the `kubescape submit rbac` Kubescape should load only the RBAC related object and not any other, definitely not CronJobs.

@matthyx  Can you please share the debug log you see?

[2022-11-06 14:04] matthyx commented on #895
![Screenshot at 2022-11-06 15-02-50](https://user-images.githubusercontent.com/20683409/200175284-2b337b10-6180-4e4a-bcbe-dde1fa82fe9b.png)

[2022-11-06 16:28] dwertent commented on #895
Thanks @matthyx, I'll take a look, what cluster & version are you running?

In any event, this does not seem related to the original issue because @olcuhu mentioned the issue only occurs with RBAC-related objects.

[2022-11-06 16:48] matthyx commented on #895
Kind cluster 1.25.2 same as used in this issue.

On Sun, Nov 6, 2022, 17:28 David Wertenteil ***@***.***>
wrote:

[2022-11-07 10:04] dwertent commented on #590
I re-opened the issue in the [regolibrary project](https://github.com/kubescape/regolibrary/issues/157).

[2022-11-07 10:04] #590 closed

[2022-11-07 10:08] dwertent commented on #582
I re-opened the ticket [here](https://github.com/kubescape/regolibrary/issues/159)

[2022-11-07 10:08] #582 closed

[2022-11-07 10:09] dwertent commented on #589
I re-opened the issue [here](https://github.com/kubescape/regolibrary/issues/158)

[2022-11-07 10:09] #589 closed

[2022-11-08 12:18] kooomix opened #900 "kubescape list controls with ID"
When listing controls (`kubescape list controls`), we should add in the output the ID of the control along with it's name. We can then deprecate the --id flag.

Thanks.

[2022-11-08 15:19] amirmalka opened #901 "Override helm chart default values"
**Is your feature request related to a problem? Please describe.**</br>

**Describe the solution you'd like.**</br>

**Describe alternatives you've considered.**</br>

**Additional context.**</br>

[2022-11-08 15:49] AvineshTripathi commented on #901
I would like to get assigned to this issue

[2022-11-08 18:00] slashben commented on #901
I am thinking of not just supporting `values file` but direct values as well, like `--set` in Helm.

What do you think of this?
[code]

[2022-11-09 01:09] yf-odyssey opened #903 "Kubescape Scan doesn't work in Lens"
Dear all，

I tested kubescape and it perform good! So I want to use the Lens to view several K8s cluster security report. But after I install lens-extension of kubescape，I click the Scan button and it doesn't work. It seemed that I met the similari problem as the https://github.com/kubescape/lens-extension/issues/3. Because I installed Lens in Windows enviroments , so I decided to open a new issue

[2022-11-09 01:11] yf-odyssey commented on #903
I also uploaded the two json files in the dir(C:\Users\RKHD\AppData\Roaming\Lens\extension-store@kubescape\lens-extension), just as blow .I hope it will help.
![198223154-7ca5e312-1808-4c79-850f-e95e13cecbc7](https://user-images.githubusercontent.com/33337184/200711563-b3277ab5-09f9-4be9-a570-07abbfae0384.png)

https://github.com/kubescape/lens-extension/files/9876984/lens-extension.zip

I also ch

[2022-11-09 08:52] amirmalka commented on #901
@slashben It could be a nice addition.

Things to consider:
1. How do we set multiple values? (In helm command we provide the `set` argument multiple times `--set key=value --set key=value`). Are we following the same behavior?
2. Can these two arguments (`helm-value-file` and `helm-set-value`) work together? If so, which takes precedence in case of value conflicts? In my opinion setting a value s

[2022-11-09 12:22] amirmalka commented on #903
@yf-odyssey  The issue you are describing could be a result of large output; If that is the case, it's an open issue we would fix in the future.
To confirm, please advise what is the size of the output file when you run kubescape as follows:
`kubescape scan --format json --format-version=v2 > output.json`

[2022-11-09 13:12] suhasgumma opened #904 "DOCS link provided not working for failed CIS controls"
# Describe the bug
The DOCS link provided after scanning is not working for CIS controls.

# Steps To Reproduce
Steps to reproduce the behavior:
1. Scan Resources/Cluster with verbose flag
2. Click on the DOCS link provided for failed CIS controls

# Expected behavior
Should take user to the documentation page of CIS control.

# Actual Behavior
404 page not found.

![Error Opening](https://github.

[2022-11-09 13:31] dwertent commented on #904
Hi, Thank you for reporting.

@YiscahLevySilas1 What is the link convention for the CIS controls?
We need to update the output. This issue might occur in the Kubescape cloud as well.

@yuleib

[2022-11-09 13:35] dwertent commented on #901
@slashben What is the common use case?
If we aim for scanning in github-actions, we should think of a better way of passing the arguments.
If we aim for CLI, the user can create a mock values file for the scanning purpose.

[2022-11-09 18:58] slashben commented on #901
Most github-actions will have a `values.yaml`, but even if not we can either create a file or programmatically generate arguments

It is annoying to create a mock file for one value

[2022-11-10 04:56] dwertent commented on #903
@amirmalka I thought the Lens extension is running 'format-version=v1`

[2022-11-10 05:00] dwertent commented on #789
@dazzag24 Have you done here any progress?

[2022-11-10 05:04] dwertent commented on #670
@ash-kamrip any progress here?

[2022-11-10 05:09] dwertent commented on #668
@slashben I'm not sure this is the right place for the feature request.
This has more to do with Kubevuln than with Kubescape.

[2022-11-10 06:09] slashben commented on #668
It can be moved from my POV

On Thu, Nov 10, 2022 at 7:09 AM David Wertenteil ***@***.***>
wrote:

[2022-11-10 06:12] yf-odyssey commented on #903
Dear Amir，
 First thanks for your reply. I tried as you said and maybe the root cause is really related to the size of the output file. I run the command and find the output file is about 23.8M. The screenshot is as below.
<img width="638" alt="9" src="https://user-images.githubusercontent.com/33337184/201014192-01d2b891-4967-40cd-a370-9de61158b3ab.png">
![image](https://user-images.githubusercont

[2022-11-10 06:57] matthyx commented on #900
I think this can be closed :)

[2022-11-10 07:36] YiscahLevySilas1 commented on #904
Hi, thanks for bringing to our attention.
We're currently changing the URL convention and will fix them both in Kubescape CLI and cloud.

[2022-11-10 07:39] amirmalka commented on #903
@yf-odyssey  @dwertent Our of habit I wrote `v2` - Lens extension still work `v1`.
Either way it satisfies the question as the v1 format could be around 3 times bigger.

As stated earlier, we hope to fix this soon - not just use the v2 format but also the way the extension reads the output, right now this is done from the standard output, which has its limits and not good enough.

[2022-11-10 09:09] ash-kamrip commented on #670
Hi @dwertent , so https://github.com/kubescape/k8s-interface/pull/6  was recently merged on k8s-interface if you think this concluded everything that needs to cover checkpoints of this issue , I think we're done here  😄

[2022-11-10 09:19] dwertent commented on #900
I'm waiting for it to be released :)

[2022-11-10 09:23] dazzag24 commented on #789
I think [Aman123lug](https://github.com/Aman123lug) volunteered to work on this.

[2022-11-10 09:36] dwertent commented on #789
@Aman123lug Any updates?

[2022-11-10 09:40] dwertent commented on #670
Thank you @ash-kamrip , I see this is for EKS.
Do you have a screenshot you can share so the end results will be visible?

@slashben Should we open tickets for each cloud vendor separately?

[2022-11-10 12:08] slashben commented on #670
Yes

On Thu, Nov 10, 2022 at 11:40 AM David Wertenteil ***@***.***>
wrote:

[2022-11-11 01:51] yf-odyssey commented on #903
Hi Amir, Thanks for your explanation. I hope this issue can be fixed ASAP. BTW,  I want to know if I install Lens in Mac or Linux and install the corresponding kubescape lens plugin, will the problem occurs?

[2022-11-11 04:11] maheshsk28211 commented on #668
I was on vacation due to Diwali festival over here, will resume my work on this.

[2022-11-11 20:14] biacharj commented on #860
Thanks @dwertent

[2022-11-11 20:16] biacharj commented on #865
switch to the context(cluster) and run ***kubescape scan --format html --output report.html'"****

@dwertent

[2022-11-12 05:28] AvineshTripathi commented on #901
@amirmalka when running `kubescape scan <directory> ` all the yaml files including the helm charts would be scanned that means multiple files will also be scanned then why are we looking for another flag `--helm-value-file`

Let me know if I am going in any other direction

[2022-11-13 08:01] amirmalka commented on #903
@yf-odyssey Yes, the extension works the same across all operating systems.
rest assured it will be fixed soon.

[2022-11-13 08:21] amirmalka commented on #901
@AvineshTripathi the existing scan command of Kubescape is able to scan a directory which contains one or more helm charts and render the chart templates. After templates are rendered to YAMLs, KS engine operates its engine on the YAMLs.
https://github.com/kubescape/kubescape/blob/f3b8de9d1fdfc6cc59e79ffda3fd25b38ab34175/core/cautils/fileutils.go#L34

When rendering the charts, we are using the de

[2022-11-13 10:24] suhasgumma opened #910 "Query about Excluding Cluster scoped resources when 'exclude-namespaces' flag is used"
Currently, Kubescape excludes cluster-scoped resources along with the provided namespaces when scanned with exclude-namespaces flag.

When a user uses `--exclude-namespaces` flag, shouldn't we only exclude the mentioned namespaces and scan all others including cluster scope resources  (especially RBAC resources)?

Consider this scenario,

[code]

[code]

Suppose the user decided to exclude `kube-s

[2022-11-13 10:56] dwertent commented on #910
This is a good point.

We have decided to ignore the cluster scope with the thought that a user who excludes a specific namespace does not want to see the complete picture of his cluster.

Also, the fact that the `ClusterRoleBinding` can have a `ServiceAccount` so Kubescape showed that the `ServiceAccount` failed [confused many users](https://github.com/kubescape/kubescape/issues/95), and we did n

[2022-11-13 10:56] #910 closed

[2022-11-13 17:40] ash-kamrip commented on #670
I don't understand  ? screenshot for what exactly . Also I will try to implement it for other 2 cloud vendor as well

[2022-11-13 18:29] ash-kamrip commented on #670
Hi @dwertent  I was just going through a implementation for azure support and found that one of the packages `containerservice` is deprecated , I think opening up different PR's now would be a good idea. Also wanted to know what were the project goals around this? are you guys planning for a upgrade or how is it gonna be, Let me know if there's a link to this discussion or anything.

[2022-11-14 01:55] yf-odyssey commented on #903
Ok, I got it. Thanks for your patient response. Then I'll wait the bug be fixed.

[2022-11-14 08:15] YiscahLevySilas1 commented on #904
solved by [PR #909](https://github.com/kubescape/kubescape/pull/909)

[2022-11-14 08:15] #904 closed

[2022-11-14 11:57] dwertent commented on #479
Merged

[2022-11-14 11:57] #479 closed

[2022-11-14 14:21] WillemMe opened #916 "Kubescape RBAC police integration"
A few while back PaloAltoNetwork published interesting work around overprivileged pods.
The coined trampoline pods as pods that had such powerful permissions that it allowed an adversary to escalate to domain admin.
Their research can be found [here](https://www.paloaltonetworks.com/resources/whitepapers/kubernetes-privilege-escalation-excessive-permissions-in-popular-platforms).

Kubescape now on

[2022-11-15 15:00] yairyairyair opened #921 "Docker image for kubescape"
**Is your feature request related to a problem? Please describe.**</br>

**Describe the solution you'd like.**</br>

**Describe alternatives you've considered.**</br>

**Additional context.**</br>

[2022-11-16 09:00] #895 closed

[2022-11-16 09:00] #900 closed

[2022-11-16 09:00] #619 closed

[2022-11-16 09:00] #863 closed

[2022-11-17 11:10] yairyairyair commented on #921
it is for pr #926

[2022-11-17 15:10] dwertent commented on #921
As I explained [here](https://github.com/kubescape/kubescape/pull/923#issuecomment-1315648513), Kubescape has an official docker image.

[2022-11-17 15:10] #921 closed

[2022-11-17 15:21] dwertent commented on #916
Hi @WillemMe, thank you for pointing this out!

We have in our roadmap RBAC policies based on regos.
@slashben I'm sure we can start collaborating on this topic :)

cc: @yossi77 , @amirkCA

[2022-11-20 06:31] dwertent commented on #668
Closing this issue since it is not related directly to Kubescape as described [here](https://github.com/kubescape/kubescape/issues/668#issuecomment-1244946591).

Supporting this issue will require refactoring the Kubevuln component. We will open a separate design document for this.

[2022-11-20 06:31] #668 closed

[2022-11-20 06:33] dwertent commented on #669
As explained [here](https://github.com/kubescape/kubescape/issues/668#issuecomment-1321051487), we will work on this issue with a proper design document and not have the related discussions here in the GitHub issues.

[2022-11-20 06:33] #669 closed

[2022-11-20 11:09] dwertent opened #929 "[feature] Enable listing controls of a specific framework"
When I run `kubescape list controls` I see a list of all of the controls. I will like to list controls of a specific framework.
I suggest Kubescape should add a column with the framework name and maybe even an option for listing controls of a specific framework.

e.g. Adding a column for frameworks:
[code]
 e.g. Listing controls of a specific framework
[code]

The output table should be the same a

[2022-11-20 20:26] JusteenR commented on #929
Hi, I was interested on working on this issue

[2022-11-21 07:01] ADITYADAS1999 commented on #929
hey [JusteenR](https://github.com/JusteenR) are you working this isuue ?

[2022-11-21 15:20] dwertent commented on #596
Do you still encounter such issues?

[2022-11-21 15:21] dwertent commented on #798
We decided not to add codeSee since we do not want to constantly maintain the link.

[2022-11-21 15:21] #798 closed

[2022-11-22 07:06] dwertent opened #933 "Output table does not fit in my terminal"
# Describe the bug
I am running `kubescape scan -v` and the printed table is to wide for my termianl

# Environment
OS: Mac, M1
Version: the version that Kubescape reports when you run `kubescape version`
[code]

# Steps To Reproduce
run `kubescape scan -v`

# Expected behavior
A nice and readable table

# Actual Behavior
A non-readable table

# Additional context
The table should be rendered so i

[2022-11-22 12:56] gnd opened #934 "CIS 5.7.1 Check fails when capabilities.drop not exactly "NET_RAW""
Hello,

this is a small feature request. The CIS 5.7.1 check for our deployment fails when the

`spec.template.spec.containers[0].securityContext.capabilities.drop` is not exactly NET_RAW.

However, out setup is dropping ALL capabilities as per the Kubernetes "restricted" Pod Security standard. Our deployment thus looks like this:

`spec.template.spec.containers[0].securityContext.capabilities.dro

[2022-11-22 13:03] gnd commented on #934
Im sorry we checked it one more time and it seems a setup like this actually works:

`          capabilities:
            drop: ["NET_RAW", "ALL"]
`

Will close this issue. Sorry )

[2022-11-22 13:03] #934 closed

[2022-11-22 22:51] ecarbonell-technisys commented on #94
The Delete option doesn't work.
<img width="392" alt="Screenshot 2022-11-22 at 7 50 51 PM" src="https://user-images.githubusercontent.com/89481127/203437327-ccd73f5d-67ea-48c4-a2a0-efc8896b900d.png">

[2022-11-22 22:51] ecarbonell-technisys commented on #94
Reopen the incident pls

[2022-11-22 22:58] ecarbonell-technisys opened #936 "The Cluster delete option doesn’t work"
# Describe the bug
The Cluster Delete option doesn't work on [https://cloud.armosec.io/settings/assets/clusters](https://cloud.armosec.io/settings/assets/clusters)

# Environment
[code]

# Steps To Reproduce
Steps to reproduce the behavior:
1. Go to '[https://cloud.armosec.io/settings/assets/clusters](https://cloud.armosec.io/settings/assets/clusters)'
2. Click on 'delete'
3. Confirm action 'delet

[2022-11-22 23:01] ecarbonell-technisys commented on #936
After some minutes, the cluster was deleted from my account.

[2022-11-23 06:49] dwertent commented on #936
@yossi77 Maybe we should add an indicator for deleted clusters.

[2022-11-23 09:06] testwill opened #937 "HTTP Handler Support offline scanning"
{"level":"warn","ts":"2022-11-23T09:03:27Z","msg":"failed to get policies from github release, loading policies from cache","error":"error getting: ControlID_RuleName from: 'https://github.com/kubescape/regolibrary/releases/latest/download' ,error: Get \"https://github.com/kubescape/regolibrary/releases/latest/download/ControlID_RuleName\": unexpected EOF"}
{"level":"info","ts":"2022-11-23T09:03:2

[2022-11-24 01:43] testwill commented on #937
Downloaded/Loaded policy Is it necessary to be connected to the Internet in this step?

[2022-11-24 02:28] testwill commented on #937
Is there any parameter modification that can not go through the network

[2022-11-24 08:48] testwill commented on #937
Need to connect to the Internet?

[2022-11-24 10:00] #865 closed

[2022-11-24 10:11] amirmalka commented on #592
@Ciggzy1312 we have released a newer version of the `@kubescape/install` package, which uses the latest version of Kubescape and supports the new report format (v2).

[2022-11-24 16:22] suhasgumma opened #940 "Cannot read files when using FIX command"
# Describe the bug
* When using the `fix command` in a `local directory` or a `git directory whose depth is greater than 1`,
kubescape can't read the files.  Works well with the git directory's root path.

* This is because kubescape constructs the wrong paths.

## Local Directory Scenario (Observe the path constructed)
![Local Directory](https://github.com/suhasgumma/ImagesForGitHub/blob/master/l

[2022-11-24 16:24] suhasgumma commented on #940
* #917  solves the problem with the local directory.
* #918  solves the problem with the git directory.

[2022-11-27 14:32] dwertent commented on #937
@testwill  I'm not sure I understand you.
When running the [Kubescape-Prometheus Integration](https://github.com/kubescape/helm-charts/blob/master/charts/kubescape-prometheus-integrator/README.md) chart, you do not connect to the internet.

But then, the results will not be submitted to the [Kubescape Cloud](https://cloud.armosec.io/) so you will need to find a way of viewing the results.

Did I a

[2022-11-28 02:23] testwill commented on #937
Thankyou.
I don't have time to change it to [Kubescape-Prometheus Integration](https://github.com/kubescape/helm-charts/blob/master/charts/kubescape-prometheus-integrator/README.md) chart.
I have other ways to query scan results.
Can the configuration below be used without using the public network?
`	var (
	GlobalTrue  = true
	GlobalFalse = false
)

	cfg := utilsmetav1.PostScanRequest{
		Account:

[2022-11-28 09:54] dwertent commented on #937
Yes, but you should change the `UseCachedArtifacts` to `false`, this way Kubescape will not download artifacts from the internet.
Also, if you are not connected to the internet there is no need of adding the account ID.

It should look like this:
[code]

[2022-11-28 09:57] testwill commented on #937
thanks

[2022-11-28 09:57] #937 closed

[2022-11-29 14:36] fredbi commented on #789
@dwertent hello. I've looked at it briefly and the offending line is: https://github.com/kubescape/go-git-url/blame/master/gitlabparser/v1/parser.go#L86

Wrapping it with a check on the "-" particular path part is enough to avoid a panic:
[code]

However, I am not really sure about the consistency of the eventual result. This parser obviously is not designed in the first place to support general U

[2022-11-29 17:04] Aman123lug commented on #789
I think @dazzag24 working on it

[2022-11-29 17:56] fredbi commented on #789
Also I've detected that there are 2 versions of this go-git-url repo being used: one under the kubescape owner, one under the armosec owner: while the armosec version is still being pulled as a direct dependency, the other version is pulled indirectly...

[2022-11-30 11:17] oakgul1 opened #947 "#904 Issue with opening links within kubescape reports"
# Describe the bug
As mentioned in an earlier issue #904  i still got the same issue using the latest image form quay.io

# Environment
quay.io/repository/kubescape/kubescape:latest

Your current version is:
quay.io/repository/kubescape/kubescape:latest

# Steps To Reproduce
Steps to reproduce the behavior:
1. Pull quay.io/repository/kubescape/kubescape:latest
2. Scan cluster en print report in ht

[2022-11-30 12:44] suhasgumma commented on #947
Hi @oakgul1 ,
#946 should fix the issue.

[2022-11-30 13:44] dwertent commented on #947
@oakgul1  Does it reproduce when you explicitly use the tag `v2.0.176`:
[code]

[2022-11-30 13:54] oakgul1 commented on #947
@dwertent Yes it does

[2022-11-30 13:58] dwertent commented on #947
@oakgul1 Thanks for reporting!
I see @suhasgumma [opened a PR](https://github.com/kubescape/kubescape/pull/946), it will be fixed next release :)

[2022-11-30 14:02] oakgul1 commented on #947
Thanks @dwertent

[2022-11-30 14:02] #947 closed

[2022-11-30 17:01] fredbi commented on #789
I have a small patch ready if you guys are interested. This assumes a few things. I'd need a piece of advice to be sure I am heading in the right direction.  I wouldn't want to interfere with some other people's work. Let me know if you want a PR (actually 2 since 2 repos are concerned).

1. kubescape/go-git-url: added the simple check above. In the case of such "scp-like" git-urls, it no longer p

[2022-11-30 17:06] #940 closed